<% form_for @unidade do |f| %>
 <%= f.error_messages %>
  <font  size="2">
    <fieldset><legend><font  size=3> Unidade</font></legend>
      <table width="100%" bgcolor="#F5F5F5">
        <tr>
            <td width ="5%"><b>Tipo: </b></td>
            <td colspan="3"><%= f.select :tipo_id, (TIPOUNIDADE).sort, :include_blank => '-- Selecionar --' %><b>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Nome:</b>
               &nbsp&nbsp&nbsp <%= f.text_field :nome, :size =>"82" %>
            </td>
        </tr>
        <tr>
           <td><b>Endereço: </b></td>
           <td colspan="3"><%= f.text_field :endereco, :size=>"60" %>
               &nbsp&nbsp&nbsp&nbsp <b>Nº</b>
               &nbsp <%= f.text_field :num, :size =>"2" %>
               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Bairro: </b>
               &nbsp&nbsp<%= f.text_field :bairro, :size =>"33" %>
           </td>
        </tr>
        <tr>
            <td><b>CEP: </b></td>
            <td colspan="3"><%= f.text_field :CEP, :size =>"12" %>
                  &nbsp&nbsp&nbsp&nbsp<b> Fones: </b>
                  &nbsp&nbsp <%= f.text_field :fone, :size =>"30" %>
                  &nbsp&nbsp&nbsp&nbsp <b>&nbsp E_mail: </b>
                  &nbsp&nbsp   <%= f.text_field :email, :size=>"46" %>
            </td>
        </tr>
        <tr>
            <td><b>Diretor: </b></td>
            <td colspan="3"> <%= f.text_field :diretor, :size =>"26" %>
               &nbsp&nbsp&nbsp&nbsp <b>Vice-diretor:</b>
               &nbsp <%= f.text_field :vice, :size =>"26" %>
               &nbsp&nbsp&nbsp&nbsp <b>Coordenador:</b>
               &nbsp <%= f.text_field :coordenador, :size =>"26" %>
            </td>
        </tr>
        <tr>
            <td><b>Superisão: </b></td>
            <td colspan="3"> <%= f.text_field :supervisao, :size =>"26" %>
               &nbsp&nbsp&nbsp&nbsp <b>Bibliotecaria:</b>
               &nbsp <%= f.text_field :biblioteca, :size =>"26" %>
               &nbsp&nbsp&nbsp&nbsp <b>Nº IP:</b>
               &nbsp <%= f.text_field :ip, :size =>"33" %>
            </td>
        </tr>
        <tr>
            <td valign="top"><b>Observação: </b></td>
            <td colspan="3"> <%= f.text_area(:obs, :cols =>"125", :rows => "3") %></td>
        </tr>


     </table>
   </fieldset>
    <table>
      <tr>
         <td width="4%"> <%= f.submit "Salvar" %></td>
     <% end %>
          <td ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
      </table>
