 <table frame="box" rules="all" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td rowspan="4" style="border-color: white"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white"><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
    </td>
  </tr>
</table>

<table border="1" cellspacing="0" cellpadding="1" width="100%"  style="border-color: white">
  
   <tr  class ="invisible_to_print ">
     <td colspan="4"align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>



       <tr  bgcolor="#F5F5F5" width="100%">
         <td>
             <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
              <tr  style="border-color: white">
               <th width="40%">Nome</th>
               <th width="30%">Estagiários</th>
               <th width="10%">Periodo</th>
               <th width="10%">Tipo</th>
              </tr>
             <%unid_ant=nil%>
             <% for unidade in @unidade_estagiario%>
              <tr  style="border-color: white">
               <td valign="top">
                    <%if unidade.unidade!=unid_ant%>
                        <%=h unidade.unidade %>
                    <%end%>
               </td>

               <td align="left"><%=h unidade.nomeest %></td>
               <td align="center"><%=h unidade.periodoest %></td>
               <td align="center"><%=h unidade.tipoest %> </td>
               <%unid_ant=unidade.unidade%>
             </tr>
            <%end%>
           </table>
        </td>
      </tr>
      <tr>
        <td>
             <table width="100%" align="center" style="border-color: white" class ="invisible_to_print ">
            <tr >
              <td width="6%"align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
              <td align="left" ><%= button_to 'Imprimir', onclick="javascript:window.print()", :title => "Imprimir" %></td>
           </tr>
          </table>
        </td>
      </tr>
     </table>


