<br/>
 <table   class="tabelas2"align="center">
<tr>
      <th align="left">
         <font  size=5 color="black"> <b> UNIDADES & ESTAGIÁRIOS </b></font>
      </th>
       <td width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>
  </tr>
  <tr>
    <td colspan="2">
      <font  size="2">
       <table width="100%" align="center">
        <tr>
          <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
          <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
       </tr>
      </table>
      <br/>
      </div>
      <font  size="2">
      <table border="2" width="100%">
      <tr>
       <th width="20%">Nome</th>
       <th width="30%">Estagiários</th>
       <th colspan="2">Região</th>
      </tr>

     <% for unidade in @unidade_estagiario%>
    
      <tr>
       <td valign="top"><%=h unidade.nome %></td>
        <td align="left">
             <%if (unidade.estagiarioE == 1) then%>
              <% unidade.estagiarios.each do |est| %>
                 <% if (est.desligado == 0 and est.periodo_trab == 'ITINERANTE') then%>
                   <%=h est.nome %> (Itinerante)<br/>
                <%end%>
              <%end%>
           <%else%>
           <%if (unidade.estagiarioM == 1) then%>
             <% unidade.estagiarios.each do |est| %>
                 <% if (est.desligado == 0 and est.periodo_trab == 'MATUTINO') then%>
                   <%=h est.nome %> (Matutino)<br/>
                <%end%>
              <%end%>
             <%else%>
                  <font color="red"> Unidade sem estagiário Matutino </font><br/>
             <%end%>
            <%if (unidade.estagiarioV == 1) then%>
             <% unidade.estagiarios.each do |est| %>
                 <% if (est.desligado == 0 and est.periodo_trab == 'VESPERTINO') then%>
                   <%=h est.nome %> (Vespertino) <br/>
                <%end%>
              <%end%>
             <%else%>
                  <font color="red"> Unidade sem estagiário Vespertino</font> <br/>
             <%end%>
               <%if (unidade.estagiarioN == 1) then%>
                  <% unidade.estagiarios.each do |est| %>
                     <% if (est.desligado == 0 and est.periodo_trab == 'NOTURNO') then%>
                        <%=h est.nome %> (Noturno) <br/>
                    <%end%>
                <%end%>
              <%else%>
                  <font color="red"> Unidade sem estagiário Noturno</font><br/>
             <%end%>
           <%end%>
           </td>
           <td colspan="2">
              <% if unidade.regiao_id.nil? then %>
                  Estagiário Fixo
              <%else%>
                 <%=h unidade.regiao.regiao %>
              <%end%>
        </td>
     </tr>
    <%end%>

    <% for unidadesemreg in @sem_estagiarios_reg %>
      <%if unidadesemreg.sem_esta == true%>
             <tr>

               <td align="left"><%=h unidadesemreg.regiao%></td>
               <td align="left"><font color="red">Sem estagiários</font>
                   <% if (unidadesemreg.regiao == 'REGIÃO 1') %>
                      - Atendimento CAIC
                   <%else if (unidadesemreg.regiao == 'REGIÃO 2')%>
                            - Atendimento SEDUC
                         <%else if (unidadesemreg.regiao == 'REGIÃO 3')%>
                                  - Atendimento CIEP ZANAGA
                                <%else if (unidadesemreg.regiao == 'REGIÃO 4')%>
                                    - Atendimento CIEP SÃO VITO
                                       <%else if (unidadesemreg.regiao == 'REGIÃO 5') %>
                                               - Atendimento CIEP CIDADE JARDIM   
                                              <%end%>  
                                       <%end%> 
                                <%end%>   
                         <%end%> 
                   <%end%>

               </td>


              <div class="botao">
                  <td>Itinerância</td>
                  <td>
                   <% unidadesemreg.unidades.each do |unidade| %>
                        <%if unidade.nil?%>
                        <%else%>
                       <font size="2"><%=h unidade.nome %> /
                    <%end%>
                    <%end%>
                  </td>
              </div>
            </tr>
      <%else%>
            <tr>

               <td align="left"><%=h unidadesemreg.regiao%></td>
               
                 <% unidadesemreg.estagiarios.each do |est| %>
                  <%if est.desligado == 0 then%>
                    <td align="left"><font size="2"><%=h est.nome %></font></td>
                  <%end%>
                <%end%>
               <div class="botao">
                  <td>Itinerância</td>
                  <td><% unidadesemreg.unidades.each do |unidade| %>
                        <%if unidade.nil?%>
                        <%else%>
                       <font size="2"><%=h unidade.nome %> /
                    <%end%>
                    <%end%>
                  </td>
              </div>
            </tr>

     <%end%>
    <%end%>
   </table>
   </td>
  </tr>
  <tr>
    <td>

         <table width="100%" align="center">
        <tr>
          <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
          <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
       </tr>
      </table>
    </td>
  </tr>

 </table>
<br/><br/>