<p>
  <b>Matricula:</b>
  <%=h @seduc_funcionario.matricula %>
</p>

<p>
  <b>Nome:</b>
  <%=h @seduc_funcionario.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%=h @seduc_funcionario.apelido %>
</p>

<p>
  <b>Funcao:</b>
  <%=h @seduc_funcionario.funcao %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @seduc_funcionario.unidade %>
</p>

<p>
  <b>Obs1:</b>
  <%=h @seduc_funcionario.obs1 %>
</p>

<p>
  <b>Situacao:</b>
  <%=h @seduc_funcionario.situacao %>
</p>

<p>
  <b>Inicio:</b>
  <%=h @seduc_funcionario.inicio %>
</p>

<p>
  <b>Obs2:</b>
  <%=h @seduc_funcionario.obs2 %>
</p>

<p>
  <b>Votou:</b>
  <%=h @seduc_funcionario.votou %>
</p>


<%= link_to 'Edit', edit_seduc_funcionario_path(@seduc_funcionario) %> |
<%= link_to 'Back', seduc_funcionarios_path %>