      <font  size="2">
      <table border="2" width="100%">
         <tr>
          <td align="left" colspan="10"><b>TOTAL DE PROTOCOLOS: </b>
              <font color ="red "size="2"><b><%= @contador %></b></font>
          </td>
        </tr>
         <tr>
            <th width ="1%" align="center"> Protocolo</th>
            <th width ="10%">Requente</th>
            <th width ="90%">Assunto</th>
            <th width ="50%">Data</th>
            <th width ="10%">Para</th>
            <th width ="5%">Departamento</th>
            <th> Encerrado</th>
          </tr>
            <% for protocolo in @prefprotocolos %>
           <tr>
               <td><b><font color="red" size="3"><center><%=h protocolo.codigo %></center></font></b></td>
               <td><%=h protocolo.de %></td>
               <td><%=h protocolo.assunto %></td>
               <td><%=h protocolo.data.strftime("%d/%m/%y")%></td>
               <td><%=h protocolo.para %></td>
               <td><%=h protocolo.destino %></td>
               <% if  protocolo.encerrado == 0 %>
                 <td align="center"> NÃO </td>
               <%  else  %>
                 <td align="center"><font color="red" > SIM</font> </td>
               <% end %>
          </tr>
          <tr>
             <td colspan="7">
                <% if protocolo.encerrado == 1 %>
                  <table align="right">
                    <tr>
                      <td colspan="6" align="right"><%= button_to('Protocolo',{:action => "show", :id =>protocolo}, :method => "get", :title => "Protocolo") %></td>
                    </tr>
                  </table>
               <% else %>
                  <table align="right">
                    <tr>
                       <td colspan="2" align="right"><%= button_to('Protocolo',{:action => "show", :id =>protocolo}, :method => "get", :title => "Protocolo") %></td>
                       <td width="1%" align="right"> <%= button_to('Despachar',{:action => "edit", :id =>protocolo}, :method => "get", :title => "Despachar") %></td>
                    </tr>
                  </table>
               <%end%>
             </td>
           </tr>
         <%end%>
     </table>
   </font>
<%  $testeI=1 %>
