<br/>
 <table  class="tabelas1"   align="center" width="100%">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b>  CONTROLE DE PROTOCOLOS</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
  <div class="botao">
  <tr>
   <td colspan="3">
     <table>
      <tr>
         <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
         <td width="2%"align="right" ><%= button_to('Protocolos',prefprotocolos_path, :method => "get", :title => "Protocolos") %></td>
         <% if (current_user.has_role?('administrador') or current_user.has_role?('admin_protocolo')) %>
            <td width="2%"align="right" ><%= button_to('Novo', new_prefprotocolo_path, :title => "Novo Protocolo")%></td>
         <% end %>
         <td  width="2%" align="right"><%= button_to "Consultar", consulta_prefprotocolos_path, :title => "Consultar" %></td>
      </tr>
    </table>
   </td>
  </tr>
 </div>
 <tr>
   <td colspan="3">
     <% form_remote_tag :url => protocolo_prefprotocolos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
       <table width="100%">
        <tr>
          <td align="left" >
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "3", true) %></a>Departamento
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "4") %></a>Todos (Departamentos)
           </td>
         </tr>
         <tr>
           <td colspan="2"align="right"><font size="2"> <b class="label_busca">Selecionar Departamento:</b></font>
            <!--<%= text_field_tag :search, params[:search], :class=> "txt_busca" %>-->
            <%=  select_tag :search, options_for_select(Prefprotocolo::DESTINO), :include_blank => '---Selecione---', :class=> "txt_busca"%>
            <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
           </td>
         </tr>
      </table>
    <% end %>
    <br/>
    <hr>
   </td>
 </tr>
<tr>
  <td colspan="3">
   <div id="protocolo"> <table border="2" width="100%">
         <tr>
            <th width ="1%" align="center"> Protocolo</th>
            <th width ="10%">Requente</th>
            <th width ="90%">Assunto</th>
            <th width ="50%">Data</th>
            <th width ="10%">Para</th>
            <th width ="5%">Departamento</th>
            <th> Encerrado</th>
          </tr>

            <% for protocolo in @prefprotocolos %>
           <tr>
               <td><b><font color="red" size="3"><center><%=h protocolo.codigo %></center></font></b></td>
               <td><%=h protocolo.de %></td>
               <td><%=h protocolo.assunto %></td>
               <td><%=h protocolo.data.strftime("%d/%m/%y")%></td>
               <td><%=h protocolo.para %></td>
               <td><%=h protocolo.destino %></td>
               <% if  protocolo.encerrado == 0 %>
                 <td align="center"> NÃO </td>
               <%  else  %>
                 <td align="center"><font color="red" > SIM</font> </td>
               <% end %>
            </tr>
           <tr>
             <td colspan="7">

                <% if protocolo.encerrado == 1 %>
                  <table align="right">
                    <tr>
                      <td colspan="2" align="right"><%= button_to('Protocolo',{:action => "show", :id =>protocolo}, :method => "get", :title => "Protocolo") %></td>
                    </tr>
                  </table>
               <% else %>
                  <table align="right">
                    <tr>
                       <td colspan="2" align="right"><%= button_to('Protocolo',{:action => "show", :id =>protocolo}, :method => "get", :title => "Protocolo") %></td>
                       <td width="1%" align="right"> <%= button_to('Despachar',{:action => "edit", :id =>protocolo}, :method => "get", :title => "Despachar") %></td>
                    </tr>
                  </table>
               <%end%>
             </td>
           </tr>
       <%end%>

     </table>

   </div>
  </td>
</tr>
  <div class="botao">
  <tr>
   <td colspan="3">
     <table>
      <tr>
         <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
         <td width="2%"align="right" ><%= button_to('Protocolos',prefprotocolos_path, :method => "get", :title => "Protocolos") %></td>
         <% if (current_user.has_role?('administrador') or current_user.has_role?('admin_protocolo')) %>
             <td width="2%"align="right" ><%= button_to('Novo', new_prefprotocolo_path, :title => "Novo Protocolo")%></td>
         <%end%>
         <td  width="2%" align="right"><%= button_to "Consultar", consulta_prefprotocolos_path, :title => "Consultar" %></td>
      </tr>
    </table>
   </td>
  </tr>
 </div>

</table>

<br/>

    
