<br/>
<font size="2">
<table class="tabelas"width="40%"align="center">
 <tr>
   <th align="left">
       <font  size=5 color="black"> <b>CONTROLE DE PROTOCOLOS - SEDUC/PMA</b></font>
   </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
 <tr>
   <td colspan="2">
    <fieldset><legend><font  size=4>PROTOCOLO</font></legend>
       <table>

          <tr>
            <td width="1%"></td>
            <td align="left"><b>Protocolo:</b></td>
            <td colspan="3" valign="Top"><%=h @prefprotocolo.codigo %>
            &nbsp&nbsp<b>dia:</b> <%=h @prefprotocolo.data.strftime("%d/%m/%Y")%>
            &nbsp&nbsp<b>Requerente: </b><%=h @prefprotocolo.de %></td>
          </tr>
          <tr>
            <td></td>
            <td align="left"><b>Assunto: </b></td>
            <td colspan="3"align="left"><%=h @prefprotocolo.assunto%></td>
          </tr>
          <tr>
            <td></td>
            <td align="left"><b>Destinatário: </b></td>
            <td colspan="3"align="left"><%=h  @prefprotocolo.destino %>
              &nbsp&nbsp<b>em:</b> <%=h @prefprotocolo.created_at.strftime("%d/%m/%Y")%>
              &nbsp&nbsp<b>Para:</b> <%=h @prefprotocolo.para %>
             </td>
          </tr>
          <tr>
            <td></td>
            <td align="left" valign="top"><b>Despachos: </b></td>
            <td align="left" colspan="3"> <%= render :partial => 'despachos'  %></td>
          </tr>
           <% if @prefprotocolo.encerrado != 0 %>
              <tr>
                <td></td>
                <td colspan="4"><b>Encerrado em</b>  <%=h @prefprotocolo.data_encerramento.strftime("%d de %B de %Y") %></td>
              </tr>
            <%else%>
              <tr>
                <td></td>
                <td colspan="4"><b>Aberto em</b>  <%=h @prefprotocolo. 	updated_at.strftime("%d de %B de %Y") %></td>
              </tr>

              <% end %>


       </table>
    </fieldset>
    <div class="botao">
      <table>
           <tr>
              <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
              <td width="2%"align="right" ><%= button_to('Protocolos',prefprotocolos_path, :method => "get", :title => "Protocolos") %></td>
              <% if @prefprotocolo.encerrado == 0 %>
                 <td width="2%" align="right"><%= button_to "Consultar", consulta_prefprotocolos_path, :title => "Consultar" %></td>
                 <td width="2%" align="right"> <%= button_to('Despachar',{:action => "edit", :id =>@prefprotocolo}, :method => "get", :title => "Despachar") %></td>
              <%else%>
                <td  width="2%" align="right"><%= button_to "Consultar", consulta_prefprotocolos_path, :title => "Consultar" %></td>
              <%end%>
            </tr>
      </table>
   </div>
  </td>
 </tr>
</table>
</font>
<br/>

