
      <div class="tabs">
    <br/>
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <td align="center"><b>Ano </b></td>
            <td align="center" width =" 10%"><b>Codigo</b></td>
            <td align="center"><b>Numero</b></td>
            <td align="center"><b>Ficha</b></td>
            <td align="center"><b>Un.Orçamentaria</b></td>
            <td align="center"><b>Fonte</b></td>

          </tr>
          <% @orc_fichas.each  do |ficha| %>
            <tr  bgcolor="#F5F5F5">

              <td align="center"><%=h ficha.ano %></td>
              <td align="center"><%=h ficha.codigo %></td>
              <td align="center"><%=h ficha.ficha %></td>
              <td><%=h ficha.descricao %></td>
              <td><%=h ficha.orc_uni_orcamentaria.descricao %></td>
              <td align="center"><%=h ficha.fonte %></td>

              <td><%= button_to 'Visualizar',{:action => "show", :id =>ficha}, :method => "get", :title => "Visualizar"%> </td>
              <td><%= button_to 'Editar',{:action => "edit", :id =>ficha}, :method => "get", :title => "Editar"%> </td>
              <td><%= button_to 'Excluir', ficha, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>
            </tr>
          <% end %>
    </table>
   <div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div>
</div>
    <br/>