z<div id="interno3">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - FICHA</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
              <% form_for(@orc_ficha) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Fichas </font></legend>
                    <table width="100%"  >
                      <tr>
                         <td width="10%"align="left"><b>Número:</b></font></td>
                         <td colspan="3"width="5%" align="left"><%=  f.text_field :ficha , :size =>10 %>&nbsp&nbsp&nbsp
                                      <b>Código:</b> &nbsp&nbsp<%=  f.text_field :codigo , :size =>10 %> &nbsp&nbsp&nbsp
                                 <b>Ano Letivo:</b> &nbsp&nbsp <%= f.text_field :ano, :size =>10 %></td>
                      </tr>
                      <tr>
                         <td align="left"><b>Ficha:</b></td>
                         <td colspan="5" align="left"><%= f.text_field :descricao, :size =>50 %></td>
                      </tr>
                      <tr>
                         <td width="10%"align="left"><b>Unidade Orçamentaria:</b></td>
                         <td colspan="2"width="30%" align="left"><%= f.collection_select :orc_uni_orcamentaria_id, @orcamentaria, :id, :descricao, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'orc_ficha_orc_uni_orcamentaria_id',
                                                     :with   => :orc_ficha_orc_uni_orcamentaria_id,
                                                     :url  => { :action => 'lista_orcamentaria' },
                                                     :update => "orcamentaria"%>
                          <br/><div id="orcamentaria"></div> </td>
                      </tr>
                      <tr>
                         <td width="10%"align="left"><b>DR:</b></font></td>
                         <td colspan="5" align="left"><%=  f.text_field :dr , :size =>10 %> &nbsp&nbsp&nbsp
                                        <b>Fonte:</b> &nbsp&nbsp <%=  f.select :fonte,(FONTE).sort, :include_blank => '-- Selecionar --' %>&nbsp&nbsp&nbsp
                                    <b>R$ Incial:</b> &nbsp&nbsp <%= f.text_field :valor_inicial, :size =>18 %></td>
                      </tr>
                      <tr>
                        
                        <td colspan="5"><b><font color ="red"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <u>ATENÇÂO:</u> Nos valores monetários utilize PONTO e NÂO VÍRGULA para separação de centavos </b></font>           </td>
                       </tr>

                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td width="2%" align="left" ><%= button_to('Fichas', orc_fichas_path, :method => "get",  :title => "Despesas")%></td>
                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



