<div id="interno5">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - FICHA - </strong></font><br/>
 </div>
  <table bgcolor="#F5F5F5"  width="100%" >
   <tr bgcolor="#F5F5F5"   width="100%">
   <td colspan="2">
    <fieldset><legend><font  size=4>Ficha</font></legend>
        <table  width="100%"  align="center" bgcolor="#F5F5F5" >
          <tr>
            <td align="left" width =" 5%"><b>Ficha Nº:</b></td>
            <td align="left" ><%=h @orc_ficha.ficha %></td>
            <td align="left" width =" 5%"><b>Codigo:</b></td>
            <td align="left"width =" 2%" ><%=h @orc_ficha.codigo %></td>
            <td align="right"width="15%"><b>Ano: </b></td>
            <td align="left"><%=h @orc_ficha.ano %></td>
          </tr>
          <tr>
            <td align="left"><b>Ficha:</b></td>
            <td align="left" colspan="5"> <%=h @orc_ficha.descricao %></td>
          </tr>
          <tr>
            <td align="left"><b>Unidade Orçamentaria:</b></td>
            <td align="left" colspan="5"> <%=h @orc_ficha.orc_uni_orcamentaria.descricao %></td>
          </tr>
          <tr>
            <td align="left"><font size="2"><b>Despesa:</b></font></td>
            <td align="left" colspan="5"><font size="2">  <%=h @orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao %></font></td><p>
          </tr>
          <tr>
            <td align="left" valign="Top"><b>D.R.:</b></td>
            <td align="left" ><%=h @orc_ficha.dr %></td>
            <td align="left" valign="Top"><b>Fonte:</b></td>
            <td align="left" ><%=h @orc_ficha.fonte %></td>
          </tr>
          <tr>
            <td colspan="6">
               <fieldset><legend><font  size=4>Saldos</font></legend>
                 <table width="100%">
                    <tr>
                      <td align="left"width="10%"><b>Inicial: </b></td>
                      <td align="left">R$ <%=h @orc_ficha.valor_inicial %></td>
                      <td align="left"width="10%"><b>Atual: </b></td>
                      <td align="left">R$ <%=h @orc_ficha.saldo_atual %></td>
                    </tr>
                    <tr>
                      <td align="left"width="10%"><b>Aporte: </b></td>
                      <td align="left">R$ <%=h @orc_ficha.saldo_aporte %></td>
                      <td align="left"width="10%"><b>Transferido: </b></td>
                      <td align="left">R$ <%=h @orc_ficha.saldo_transferido %></td>
                    </tr>
                    <tr>
                      <td align="left"width="10%"><b>Empenhado: </b></td>
                      <td align="left">R$ <%=h @orc_ficha.saldo_empenhado %></td>
                      <td align="left"width="10%"><b>Reservado: </b></td>
                      <td align="left">R$ <%=h @orc_ficha.saldo_reservado %></td>
                    </tr>
                    <tr>
                      <td align="left" colspan="2" ><font color =" blue"><b>Saldo Disponivel: </b> &nbsp&nbsp R$ <%=h @orc_ficha.saldo %> </font></td>
                    </tr>
                  </table>
                </fieldset>

            </td>
          </tr>
       </table>
    </fieldset>

      <table>
           <tr>
              <td  width="2%"align="leftt" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
              <td width="2%" align="left" ><%= button_to('Fichas', orc_fichas_path, :method => "get",  :title => "Unidades Orçamentarias")%></td>
              <td width="2%" align="left" ><%= button_to('Cadastrar', new_orc_ficha_path, :method => "get",  :title => "Unidades Orçamentarias")%></td>
              <td  align="left" ><%= button_to('Saldo', saldo_orc_fichas_path, :method => "get",  :title => "Consulta Saldos")%></td>

            </tr>
      </table>

  </td>
 </tr>
</table>
</font>
<br/>

</div>
<br/>
</div>

