<div id="interno2">
<% title "PROFESSORS".singularize %>
<div id="interno6">
<% title "GERENCIAMENTO DE USUÁRIOS", :id =>"users" %>
 <div class="tabs">
   <div id="caixa_titulo">
    <font size="3"><strong>ORÇAMENTO SEDUC/PMA - DESPESA</strong></font><br/>
   </div>
  <div class="tabs">
    <br/>
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <td align="center"><b>Codigo</b></td>
            <td align="center"><b>Ano </b></td>
            <td align="center"><b>Despesa</b></td>
          </tr>
          <% @orc_uni_despesas.each do |orc_uni_despesa| %>
            <tr  bgcolor="#F5F5F5">
              <td><%=h orc_uni_despesa.codigo %></td>
              <td align="center"><%=h orc_uni_despesa.ano %></td>
              <td><%=h orc_uni_despesa.descricao %></td>
              <td><%= button_to 'Visualizar',{:action => "show", :id =>orc_uni_despesa}, :method => "get", :title => "Visualizar"%> </td>
              <td><%= button_to 'Editar',{:action => "edit", :id =>orc_uni_despesa}, :method => "get", :title => "Editar"%> </td>
              <td><%= button_to 'Excluir', orc_uni_despesa, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>
            </tr>
          <% end %>
    </table>





<div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>
  <table>
       <tr>
         <td width="2%"align="left"  ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
         <td align="left" ><%= button_to('Despesas', orc_uni_despesas_path, :method => "get",  :title => "Desepesas")%></td>

      </tr>
  </table>
 </div>
 </div>
  <br/>
</div>

