<div id="interno7">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - DESPESA - </strong></font><br/>
 </div>


<table bgcolor="#F5F5F5"  width="100%">

   <tr bgcolor="#F5F5F5"   width="100%">
   <td colspan="2">
    <fieldset><legend><font  size=4>Tipo de Despesa</font></legend>
         <table  width="100%"  align="center"  bgcolor="#F5F5F5" >

          <tr>
            <td align="left" valign="Top" width="9%"><b>Codigo:</b></td>
            <td align="left" width="30%"><%=h@orc_uni_despesa.codigo %></td>
            <td align="left"width="10%"><b>Ano: </b></td>
            <td align="left"><%=h @orc_uni_despesa.ano %></td>
          </tr>
          <tr>
            <td align="left"><font size="2"><b>Despesa:</b></font></td>
            <td align="left" colspan="3"><font size="2">  <%=h @orc_uni_despesa.descricao %></font></td><p>
          </tr>
       </table>
    </fieldset>

      <table>
           <tr>
              <td  width="2%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
              <td  width="2%"align="left"><%= button_to('Despesas', orc_uni_despesas_path, :method => "get",  :title => "Despesas")%></td>
              <td  align="left" ><%= button_to('Cadastrar', new_orc_uni_despesa_path, :method => "get",  :title => "Unidades Orçamentarias")%></td>

            </tr>
      </table>

  </td>
 </tr>
</table>
</font>
<br/>

</div>
<br/>
</div>






