<div id="interno4">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SEDUC/PMA - RESERVA DE ORÇAMENTO</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
             <% form_for(@orc_reserva) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Reserva</font></legend>
                      <table width="100%">
                          <tr>
                              <td width ="5"align="left" valign="top"><b>Ficha:</b></td>
                              <td align="left" valign="top"> <%= f.collection_select :orc_ficha_id, @fichas, :id, :ficha, :include_blank => ' '  %>
                                  <%= observe_field 'orc_empenho_ficha_id',
                                       :with   => :orc_empenho_ficha_id,
                                       :url  => { :action => 'dados_ficha' },
                                       :update => "dadosFicha"%>
                             </td>
                             <td><div id="dadosFicha"></div> </td>
                         </tr>
                       <tr>
                         <td><b>Data: </b></td>
                         <td align="left"><%= datepicker_tag(:orc_reserva, :data,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn => "'both'" }) %>
                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Valor: &nbsp&nbsp&nbsp      R$</b> </font></td>
                         <td  align="left"><%=  f.text_field :valor , :size =>22 %></td>
                      </tr>

                       <tr>
                         <td><b>Jutificativa: </b></td>
                         <td  align="left" colspan="2"><%=  f.text_field :motivo , :size =>85 %></td>
                      </tr>

                       <tr>
                         <td><b>Observação: </b></td>
                         <td  align="left" colspan="2"><%=  f.text_field :obs, :size =>85 %></td>
                      </tr>
                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td  align="left" ><%= button_to('Consultar', consulta_orc_pagamentos_path, :method => "get",  :title => "Pedidos Compras")%></td>

                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>





















