<p>
  <b>Orc ficha:</b>
  <%=h @orc_reserva.orc_ficha %>
</p>

<p>
  <b>Valor:</b>
  <%=h @orc_reserva.valor %>
</p>

<p>
  <b>Data:</b>
  <%=h @orc_reserva.data %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @orc_reserva.motivo %>
</p>

<p>
  <b>Cancela:</b>
  <%=h @orc_reserva.cancela %>
</p>

<p>
  <b>Justificativa:</b>
  <%=h @orc_reserva.justificativa %>
</p>

<p>
  <b>Data:</b>
  <%=h @orc_reserva.data %>
</p>

<p>
  <b>Data cancelamento:</b>
  <%=h @orc_reserva.data_cancelamento %>
</p>

<p>
  <b>Obs:</b>
  <%=h @orc_reserva.obs %>
</p>


<%= link_to 'Edit', edit_orc_reserva_path(@orc_reserva) %> |
<%= link_to 'Back', orc_reservas_path %>