<br/><br/>
<table class="tabelas" align="center" width="60%">
  <tr>
      <th align="left">
         <font  size=5 color="black"> <b>CONSULTA COMPUTADORES - LOCAL </b></font>
      </th>
       <td width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>
  </tr>
   <td colspan="2">
  <br/>
  
   <table>
    <tr>
      <td>
        <div class="botao">
          <table>
          <tr>
            <td align="left" width ="15%"><font size="4"><b>Local:&nbsp&nbsp </b></font></td>
             <td colspan="3" align="left"><%= collection_select :computadore, :tipo_controle_id, @tipo_controles, :id, :nome, :include_blank => ' -- Selecione -- '  %></td>
                     <%= observe_field 'computadore_tipo_controle_id',
                        :with   => 'computadore_tipo_controle_id',
                        :url    => { :action => 'lista_tiponome' }%>
          </tr>
          <tr>
              
               <td colspan="4"align="left"><div id= 'esp_unidade'></div></td>
  

             
          </tr>
       </table>
       </div>
      </td>
     </tr>
    <tr>
      <td>
        <div id="listagem"> </div>
     </td>
   </tr>

    </table>
  <hr/>
      <div class="botao">
       <table width="100%">
        <tr>
         <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
         <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
        </tr>
      </table>
     </div>
 </table>
<br/>
