<div id="posicao_login" >
  <br/>
  <table align="center" width="90%">


        <tr>
          <td colspan="4"align="right">
            <marquee behavior="alternate"><blink>
            <br/><b><font size="4" color ="red"> Escolha o módulo que deseja acessar</font></b>
            </blink></marquee>
        </tr>
        <br/>
   <tr>
     <td width="10%" align="center">
       <%= link_to image_tag("/stylesheets/Imagens/banner2.jpg", :size => "200x100"), informatica_path, :title => "Informática"%>
     </td>
     <td width="10%" align="center">
       <%= link_to image_tag("/stylesheets/Imagens/escala.jpg", :size => "200x100"), agendas_path, :title => "Itinerância"%>
     </td>
     <td width="10%" align="center">
       <%= link_to image_tag("/stylesheets/Imagens/inscricao.jpg", :size => "200x100"), "https://docs.google.com/forms/d/1lnMn4R-wtHHx4wrq-ov8tLtolpDHskaxFXVpIa97In8/viewform?usp=send_form#start=invite", :title => "Inscrição"%>
     </td>
     <td rowspan="4" valign="top" align="left">
        <div id="caderno">
          <table width="100%" >
                  <tr>
                    <td width="10%"></td>
                    <td width ="80%">
                      <table>
                        <th colspan="2" style=" font-size: large"><u>Cursos Disponíveis</u><br/>
                           <b><font size="0" color=blue>Para inscrever-se acesse o módulo <br/>Inscrições On-Line</font></b><br/><br/>
                        </th>

                        <% $cont = 1%>
                        <% @cursos.in_groups_of(1, false) do |row_cursos| %>

                          <tr>

                            <% row_cursos.each do |curso| %>
                                <%if curso.existe_vaga %>
                                  <td id="demo" align="left"><%=$cont%>.<%= "#{curso.nome}"%> <br/> <font color="blue"> &nbsp&nbsp<%="Total de vagas: #{curso.qtde}"%> <br/> &nbsp&nbsp<%="Vagas disponíveis: #{curso.vagas_disponiveis}"%></font></td>
                                <%else%>
                                  <td><%= " #{curso.nome}"%>  <br/>
                                    <font color="red"> <b>TODAS AS <%="#{curso.qtde}"%> VAGAS<br/> ESTÃO COMPLETAS </b></font> </td>
                                <%end%>
                             <% $cont = $cont + 1 %>
                            <%end%>
                          </tr>
                       <%end%>

<!--
                       <tr>
                         <td>
                           <br/><br/>

                           NO MOMENTO NÃO HÁ NENHUM CURSO DISPONÍVEL.

                           <br/><br/><br/><br/>
                         </td>
                       </tr>
--> 
                      </table>
                     </td>
                    </tr>
        </table>
      </div>
    </td>
   </tr>
   <tr>
     <td width="10%" align="center">
       <%= link_to image_tag("/stylesheets/Imagens/professores1.jpg", :size => "200x100"), "http://pontua.seducpma.com", :title => "Pontuação"%>
     </td>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/livross.jpg", :size => "200x100"), "http://novo.bibliteca.seducpma.com", :title => "Biblioteca"%>
     </td>
     <td width="10%" align="center">
       <%= link_to image_tag("/stylesheets/Imagens/manutencao2b.jpg", :size => "200x100"), manutencao_path, :title => "Manutenção"%>
     </td>
   </tr>
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/estagioB.jpg", :size => "200x100"), new_curriculo_path, :title => "Curriculos"%>
    </td>
     <td align="center" >
       <%= link_to image_tag("/stylesheets/Imagens/protocolos.jpg", :size => "200x100"), protocolo_path, :title => "Protocolos"%>
     </td>
     <td align="center" >
       <!-- <%= link_to image_tag("/stylesheets/Imagens/seduc.png", :size => "200x100"), "http://americana.gestaopublicadigital.com.br/americana/portal", :title => "Portal SEDUC"%>-->
       <%= link_to image_tag("/stylesheets/Imagens/voto1.jpg", :size => "200x100"), seduc_candidato_path, :title => "Votação"%>
     </td>

   </tr>

   <tr>
     <td align="center">
      <%= link_to image_tag("/stylesheets/Imagens/bannerinfo1.jpg", :size => "200x100"), informatica_path, :title => "Manutenção Informática"%>
    </td>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/oficios.jpg", :size => "200x100"), oficio_path, :title => "Oficios"%>
     </td>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/sala.jpg", :size => "200x100"), reservar_salas_path, :title => "Reservas de Sala"%>
    </td>
   </tr>

    <tr>
    <td colspan="5">
      
      <br/><br/>
         <div id="rodape_login">
          <font size="2"> © 2010 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.  -----   ver.5.3 - 2014</font>
         </div>
      </td>
     </tr>
 </table>

</div>
<br/>
<br/>
<br/>

