<div id="posicao_login" >
  <br/>
 <table border="1" align="center" width="55%">
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/banner2.jpg", :size => "300x100"), informatica_path, :title => "Informática"%>
     </td>
     <td rowspan="4"></td>
     <td rowspan="4" valign="top">
               <table width="100%" >
                  <tr>
                    <td>
                      <table  class="tabelas" align="center" style="border-color: gray" border="2">
                        <th colspan="2" style=" font-size: large">Cursos Disponíveis </th>
                        <% @cursos.in_groups_of(1, false) do |row_cursos| %>
                          <tr>
                            <% row_cursos.each do |curso| %>
                                <%if curso.existe_vaga %>
                                  <td id="demo" align="left"><%= "#{curso.nome}"%> <br/> <font color="blue"><%="Total de vagas: #{curso.qtde}.  Vagas em aberto: #{curso.vagas_disponiveis}"%></font></td>
                                <%else%>
                                  <td><%= " #{curso.nome}"%>  <br/>
                                    <font color="red"> <b>VAGAS COMPLETADAS </b></font> </td>
                                <%end%>
                            <%end%>
                          </tr>
                        <%end%>

                       <tr>
                         <td>
                           <br/><br/><br/>
                           NO MOMENTO NÃO HÁ NENHUM<br/>
                           CURSO EM ANDAMENTO.
                           <br/><br/><br/>
                         </td>
                       </tr>

                      </table>
                     </td>
                    </tr>
           
           <tr>
              <td align="center">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <br/><br/><br/>
                <b><font size="1" color=blue>Para inscrever-se acesse o módulo Inscrições on-line<font></b>
              </td>
           </tr>

        </table>

     </td>
   </tr>
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/manutencao2b.jpg", :size => "300x100"), manutencao_path, :title => "Manutenção"%>
     </td>
   </tr>
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/inscricoes2b.jpg", :size => "300x100"), new_inscricao_path, :title => "Inscrições"%>
     </td>
   </tr>
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/inscricoes2A.jpg", :size => "300x100"), new_curriculo_path, :title => "Curriculos"%>
     </td>
   </tr>
    <tr>
    <td colspan="5">
         <div id="rodape_login">
          <font size="2"> © 2010 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.  -----   ver.5.0 - 2014</font>
         </div>
      </td>
     </tr>
 </table>
<br/>
  
 <table>


  </table>

<br/><br/><br/><br/>
</div>
<br/>
<br/>
<br/>

