<div id="posicao_login" >
  <br/>
 <table align="center" width="80%">
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/banner2.jpg", :size => "300x100"), informatica_path, :title => "Informática"%>
     </td>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/inscricao.jpg", :size => "300x100"), new_inscricao_path, :title => "Inscrições"%>
     </td>
     <td rowspan="3"></td>
     <td rowspan="3" valign="top" align="left">
               <table width="100%" >
                  <tr>
                    <td>
                      <table  class="tabelas" align="center" style="border-color: gray" border="2">
                        <th colspan="2" style=" font-size: large"><center>Cursos Disponíveis</center></th>
                        <% @cursos.in_groups_of(1, false) do |row_cursos| %>
                          <tr>
                            <% row_cursos.each do |curso| %>
                                <%if curso.existe_vaga %>
                                  <td id="demo" align="left"><%= "#{curso.nome}"%> <br/> <font color="blue"><%="Total de vagas: #{curso.qtde}"%> <br/> <%="Vagas disponíveis: #{curso.vagas_disponiveis}"%></font></td>
                                <%else%>
                                  <td><%= " #{curso.nome}"%>  <br/>
                                    <font color="red"> <b>TODAS AS <%="#{curso.qtde}"%> VAGAS<br/> ESTÃO COMPLETAS </b></font> </td>
                                <%end%>
                            <%end%>
                          </tr>
                        <%end%>
<!--
                        <tr>
                         <td>
                           <br/><br/>

                           <center>NO MOMENTO NÃO HÁ NENHUM CURSO DISPONÍVEL.</center>

                           <br/><br/><br/><br/>
                         </td>
                       </tr>
-->
                      </table>
                     </td>
                    </tr>

           <tr>
              <td align="center">
                <b><font size="1" color=blue>Para inscrever-se acesse o módulo Inscrições On-Line<font></b>
              </td>
           </tr>

        </table>

     </td>
   </tr>
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/professores1.jpg", :size => "300x100"), "http://pontuacao.int.seducpma.com", :title => "Pontualção"%>
     </td>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/manutencao2b.jpg", :size => "300x100"), manutencao_path, :title => "Manutenção"%>
     </td>

   </tr>
   <tr>
     <td align="center">
       <%= link_to image_tag("/stylesheets/Imagens/eventuall.jpg", :size => "300x100"), "http://eventual.int.seducpma.com", :title => "Eventual"%>
    </td>
     <td align="center" >
       <%= link_to image_tag("/stylesheets/Imagens/oficios.jpg", :size => "300x100"), oficio_path, :title => "Oficios"%>
     </td>
   </tr>
   <tr>
     <td align="center">
      <%= link_to image_tag("/stylesheets/Imagens/inscricoes2A.jpg", :size => "300x100"), new_curriculo_path, :title => "Curriculos"%>
       <b><br/>Se você é estudante técnico ou superior 
       <br/>venha estagiar conosco</b>
    </td>
     <td align="center" valign="top">
       <%= link_to image_tag("/stylesheets/Imagens/protocolos.jpg", :size => "300x100"), protocolo_path, :title => "Protocolos"%>
     </td>
   </tr>
    <tr>
    <td colspan="5">
      <br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/>
         <div id="rodape_login">
          <font size="2"> © 2010 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.  -----   ver.5.3 - 2014</font>
         </div>
      </td>
     </tr>
 </table>

</div>
<br/>
<br/>
<br/>

