  <table width ="100%" border="2">
    <tr>
      <td valign="top">
        <table width="40%" border="1" align="center" ><br/>
          <tr>
            <td valign="top">
               <div id="imagem_login3"></div>
            </td>
          </tr>
          <tr>
            <td width="100%" align="center">
              <p><font  size="5" color="black"><b><u>SISOFI</u></b></font></p>
              <p><font  size="4" color="black"><b><u>Gerenciamento de Ofícios</u></b></font></p>
              <p><font  size="3" color="black"><b>Sistema de Gerenciamento de <br/>Emissão de Documentos Externos</b></font></p>
              <p align="center"><font  size="1"  color="black"><b>LOGIN DE ACESSO</b></font></p>
              <% form_tag session_path do -%>
                  <font  size="2" color="black">
                    <p><b><%= label_tag 'Usuário' %></b>
                      <%= text_field_tag 'login', @login, :size =>15 %></p>
                    <p><b><%= label_tag 'Senha' %></b>&nbsp;&nbsp;&nbsp;
                     <%= password_field_tag 'password', nil, :size =>15 %></p>
                  </font>
                  <table>
                    <tr>
                      <td>
                         <%= submit_tag 'Entrar' %>
                         <br/><br/>
                      </td>
                      <td width="40%">
                        
                      </td>
                      <td>
                         <%= button_to "Sair", homes_path %>
                         <br/><br/>
                      </td>
                    </tr>
                  </table>
                  
               <% end %>
             </td>
                        
           </tr>

           <tr>
              <td colspan="2" align="center">
                <font  size="2" color="black"><b>Não possui senha?</b></font><br/>
                       <%= button_to 'Cadastrar Usuário/Senha', signup_path%>
                       <%= link_to 'Esqueci a Senha', new_password_path%>
              </td>
           </tr>
           
        </table>
        <br/>
     </td>
     </tr>
   </table>
  </td>
 </tr>
 <tr>
    <td colspan="5">
         <div id="rodape_login">
             © 2010 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados. Ver.4.11 - 2013
         </div>
      </td>
     </tr>

  </table>
