        <div id="interno6">
        <% title "CLASSES".singularize %>
        <div class="tabs">

<table aligh="center">
      <tr>
        <td width="10%">
             <%= image_tag("/stylesheets/images/logo.png") %>
        </td>
        <td align="center">
          <font size="4"><strong><u><center>PREFEITURA MUNICIPAL DE AMERICANA </u></center></strong></u></font><br/>
          <font size="4"><strong><u><center>SECRETARIA DE EDUCAÇÃO</u></center></strong></u></font><br/>
          <font size="3"><strong><center>ORDEM DE SERVIÇO DE MANUTENÇÃO</center></strong></u></font>

        </td>
    </tr>
</table>
<table  class ="invisible_to_print " width="100%" >
   <tr  class ="invisible_to_print ">
     <td align="right" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
 </table>
           <table width="100%" align="center"  bgcolor="#F5F5F5" >
                   <tr>
                     <td colspan="6" align="left">
                         <font  size=5 color="black"> <b> ORDEM DE SERVIÇO</b></font>
                         <hr/>
                      </td>
                  </tr>
                   <tr>
                     <td colspan="2">
                      <font  size="2">
                       <table width="100%">
                        <tr>
                          <td>
      <fieldset><legend><font  size=4> Solicitação</font></legend>
     <table>
       <tr>
             <td align="left"><b>Nº Ordem Serviço:  </b></td>
             <td align="left"><%=h @mmanutencao.id%></td>
       </tr>
       <tr>
         <td align="left"><b>Data:</b></td>
         <td align="left"><%=h @mmanutencao.data_sol.strftime("%d/%m/%Y" ) %></td>
       </tr>
       <tr>
         <td align="left"><b>Horas:</b></td>
         <td align="left"><%=h @mmanutencao.data_sol.strftime("%H:%M horas") %></td>
       </tr>
       <tr>
         <td align="left"><b>Solicitante:</b></td>
         <td align="left"><%=h @mmanutencao.solicitante %></td>
       </tr>
       <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left"> <%=h @mmanutencao.unidade.nome %></td>
       </tr>
       <tr>
         <td align="left"><b>Forma Solicitação:</b></td>
         <td align="left"><%=h @mmanutencao.forma %></td>
       </tr>
       <tr>
          <td valign="top"><b>Serviços Solicitados:</b></td>
          <td>
             <% @mmanutencao.tipos_manutencaos.each do |servico| %>
              - <%=h servico.servico%><br/>
             <% end %>
          </td>
      </tr>
       <tr>
         <td align="left"><b>Descrição Problema:</b></td>
         <td align="left"><%=h @mmanutencao.descricao %></td>
       </tr>
       <tr>
         <td align="left"><b>Quem abriu OS:</b></td>
         <td align="left"><%=h @mmanutencao.user.name%></td>
       </tr>
       <tr>
         <td align="left"><b>Observação:</b></td>
         <td align="left"><%=h @mmanutencao.obs%></td>
       </tr>
     </table>
    </fieldset>








                          </td>
                        </tr>

                        <tr>
                          <td>
                            <font><b>

                                   GUARDAR O NÚMERO DESTE PROCOLO.<br/>
                                   O SERVIÇO SERÁ ATENDIDA ASSIM QUE POSSÍVEL.
                                   QUALQUER DÚVIDA ENTRAR EM CONTATO COM A INFORMÁTICA.

                            </b></font>
                           </td>
                        </tr>

                       </table>

                         <table align="left">
                          <tr>
                            <td align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                            <% if current_user.has_role?('admin') or current_user.has_role?('estagiario SEDUC') %>
                              <td align="left"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_mmanutencao_path(@mmanutencao), :title => "Alterar"%></td>
                            <%end%>
                              <td align="left" ><b><%= button_to('Imprimir',  onclick="javascript:window.print()", :title => "Imprimir")%></b></td>
                          </tr>
                        </table>

                     </font>
                   </td>
                   </tr>
                  </table>
                  </font>
                  </div>
<br/>

</div>


