<link rel="stylesheet" media="all" href="css/calendar.css" />

<%  for aula in @aulas_falta%>
<table width="100% " >
           <tr>
              <td align="left" width ="12%"><b>Classe: &nbsp&nbsp&nbsp </b></td>
               <td align="left" width ="8%"> <%=h aula.classe%></td>
               <td align="left" width ="18%"><b>Periodo da Classe: </b></td>
               <td align="left"  width ="12%"> <%=h aula.periodo%></td>
               <td > <b><%=@falta.count %> </b> falta(s) - <%=@falta[0].tipo %>
                    <% if @falta.count > 1 %>
                       <b> de </b><%= aula.dataI.strftime("%d/%m/%Y")  %>   <b> à </b> <%= aula.dataF.strftime("%d/%m/%Y")  %>
                    <%else%>
                       <b> dia </b><%= aula.data.strftime("%d/%m/%Y")  %>
                     <%end%>

               </td>
           </tr>
        <% if @falta.count > 1 %>
           <tr>
                 <td align="left" ><b>Data Inicial: </b></td>
                 <td colspan="4"> <%= datepicker_tag(:aulas_eventual,:dataI,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Data Final: </b>  <%= datepicker_tag(:aulas_eventual,:dataF,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %></td>
          </tr>
       <%end%>

  </table>

<%end%>
