<div id="interno1">
<% title "AULASEVENTUAL".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SUBSTITUIÇÃO</strong></font><br/>
 </div>

  <div class="tabs">
     <% form_for(@aulas_eventual) do |f| %>
      <%= f.error_messages %>
         <br/>
         <% if session[:continua_atribuicao]==0 %>
             <table  width="100%"  align="center"  bgcolor="#F5F5F5"  >
                <tr>
                  <td colspan="5"><b><font size="3"> &nbsp CADASTRAR AULA EM SUBSTITUIÇÃO &nbsp </b></td>
                </tr>
                <tr>
                  <td colspan="5"><hr></td>
                </tr>

               <tr>
                   <td colspan="5"><font color ="RED"> <b><u>Atenção:</u> Selecionar primeiro a DATA, UNIDADE, CATEGORIA e depois a  UNIDADE.</b></font><br/><br/></td>
               </tr>
               <tr>
                   <td width="8%"    align="left" > <b>Data: </b></td>
                    <td width="20%" align="left"><%= datepicker_tag(:aulas_eventual, :data,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                       <%= observe_field 'aulas_eventual_data',
                                                     :with   => :aulas_eventual_data,
                                                     :url  => { :action => 'data_eventual' }%>

                     </td>
                     <td align="left" width="10%">  <b>Unidade: </b></td>
                     <td align="left"width="10%" ><%= collection_select :aulas_eventual, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'aulas_eventual_unidade_id',
                                                     :with   => :aulas_eventual_unidade_id,
                                                     :url  => { :action => 'nome_prof_eventual' },
                                                     :update => "professor"%>
                    </td>
                     <td width ="40%" > <div id="tipo_falta"></div> </td>
                    

               </tr>
                <tr>
                    <td></td>
                     <td colspan="5"> <div id="professor"><br/></div>
                                  
                     </td>
              </tr>
               <%  if current_user.unidade.tipo_id == 2   or current_user.unidade.tipo_id == 5 or  current_user.unidade.tipo_id == 8 or current_user.unidade.tipo_id == 9 %>
                    <tr> 
                        <td colspan="5"> <b>Período da Substituição: </b>&nbsp&nbsp
                                      <%= f.select :periodo, (AulasEventual::PERIODO).sort %>
                                        <%= observe_field 'aulas_eventual_periodo',
                                                     :with   => :periodo,
                                                     :url  => { :action => 'periodo_prof_eventual' },
                                                     :update => "professor_sub"%>
                        </td>    
                   </tr>
                 <tr>
                    <td></td>
                     <td colspan="5"> <div id="professor_sub"><br/></div>
                                  
                     </td>
                </tr>
            <%end%>
                <tr>
                   <td align="left" valign="top"><b>Observação:</b></td>
                   <td align="left" colspan="5"><%= f.text_area(:obs,:cols => 85, :rows => "3") %></td>

               </tr>

             </table>

               
<!--
                    <td align="left" width="10%">&nbsp <b>Categoria: </b> </td>
                    <td align="left">&nbsp<%= f.select :categoria, AulasEventual::CATEGORIA.sort, :include_blank => ' -- Selecionar -- ' %>
                                        <%= observe_field 'aulas_eventual_categoria',
                                                     :with   => :categoria,
                                                     :url  => { :action => 'caregoria_prof_eventual' }
                                                      %>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <b>Unidade: </b>
                                 <%= collection_select :aulas_eventual, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'aulas_eventual_unidade_id',
                                                     :with   => :aulas_eventual_unidade_id,
                                                     :url  => { :action => 'nome_prof_eventual' },
                                                     :update => "professor"%>
                     </td>
-->

       <%else%>
             <%   session[:prof_falt] = 1%>
             <% @falta= AulasFalta.find(:all, :conditions => ['id=?',session[:continua_atribuicao] ]) %>
             <%session[:falta_id]=session[:continua_atribuicao].to_i %>
              <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
                <tr>
                  <td colspan="5"><b><font size="3"> &nbsp CADASTRAR AULA EM SUBSTITUIÇÃO  </b></td>
                </tr>
                <tr>
                  <td colspan="5"><hr></td>
                </tr>

               <tr>
                   <td colspan="5"><font color ="RED"> <b><u>Atenção:</u> Selecionar primeiro a DATA, UNIDADE, CATEGORIA e depois a  UNIDADE.</b></font><br/><br/></td>
               </tr>
               <tr>
                   <td colspan="5"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Data: </b>
                         &nbsp&nbsp&nbsp&nbsp<%=  @falta[0].data.strftime("%d/%b/%Y") %><%session[:aulas_eventual_data]=@falta[0].data%>
                         &nbsp&nbsp&nbsp&nbsp  <b>Unidade: </b>
                         &nbsp&nbsp&nbsp&nbsp <%=  @falta[0].unidade.nome%>  <%session[:unidade_id]=@falta[0].unidade_id%>

                   </td>
               </tr>
                    
                    <%@regiao= Unidade.find(:all, :conditions => ["id = ?", session[:unidade_id]])%>


                    <% @classes = Classe.find(:all,:select => 'id, classe_classe', :conditions =>['unidade_id =? and  classe_ano_letivo=?',  session[:unidade_id], Time.now.year], :order => 'classe_classe')%>
                    <%session[:classe_id]=@classes[0].id%>
                    <%  @interno= Eventual.find_by_sql("SELECT aulas_eventuals.eventual_id FROM aulas_eventuals WHERE aulas_eventuals.ano_letivo ="+(Time.now.year).to_s+" AND data = '"+session[:aulas_eventual_data].to_s+"' AND aulas_eventuals.unidade_id = "+session[:unidade_id].to_s+" " )%>
                    <%@prof_falta = Professor.find_by_sql("SELECT pro.id, fal.id AS faltaid ,CONCAT( pro.nome, ' - ', fal.classe ) AS classe_falta FROM professors pro INNER JOIN "+session[:baseinfo]+".aulas_faltas fal ON pro.id = fal.professor_id  WHERE fal.unidade_id = "+session[:unidade_id].to_s+" AND fal.data = "+'"'+ session[:aulas_eventual_data].to_s+'"' +"AND fal.ano_letivo = "+(Time.now.year).to_s+ " AND fal.substituicao = 0 ORDER BY pro.nome DESC")%>
                    
                     
                     <%session[:dataI]=  session[:aulas_eventual_data]%>
                     <%session[:dataF]= session[:aulas_eventual_data]%>


                    <%@professores1= Eventual.find_by_sql("SELECT DISTINCT pro.id, CONCAT(pro.nome, ' - ',pro.funcao) AS nome_categoria, eve.id, eve.regiao_id FROM eventuals eve INNER JOIN "+session[:base]+".professors pro ON eve.professor_id = pro.id INNER JOIN  "+session[:base]+".unidades uni ON  uni.id = pro.unidade_id WHERE  eve.id NOT IN (SELECT aulas_eventuals.eventual_id  FROM aulas_eventuals  WHERE aulas_eventuals.ano_letivo ="+(Time.now.year).to_s+" AND data = '"+session[:aulas_eventual_data].to_s+"' AND aulas_eventuals.unidade_id = "+session[:unidade_id].to_s+") AND eve.nao_atua = 0  AND eve.regiao_id = '"+session[:regiao].to_s+"' GROUP BY pro.id ORDER BY  pro.nome ASC")%>
                    <%@divisao=Eventual.find_by_sql("SELECT eve.id, CONCAT(pro.nome, ' - ',pro.funcao)AS nome_categoria FROM eventuals eve INNER JOIN "+session[:base]+".professors pro ON pro.id = eve.professor_id WHERE eve.id = (SELECT max( id )FROM eventuals ) ")%>
                    <% @divisao[0].nome_categoria="----------------------------------"%>
                    <%@divisao[0].id = 0%>
                    <%@professores2 =  Eventual.find_by_sql("SELECT pro.id,CONCAT(pro.nome, ' - ',pro.funcao) AS nome_categoria, eve.id FROM eventuals eve INNER JOIN  "+session[:base]+".professors pro  ON eve.professor_id = pro.id  INNER JOIN  "+session[:base]+".unidades  uni ON  uni.id = pro.unidade_id WHERE  eve.id NOT IN (SELECT aulas_eventuals.eventual_id FROM aulas_eventuals WHERE aulas_eventuals.ano_letivo ="+(Time.now.year).to_s+" AND data = '"+session[:aulas_eventual_data].to_s+"' AND aulas_eventuals.unidade_id = '"+session[:aulas_eventual_unidade_id].to_s+"') AND eve.nao_atua = 0  AND eve.regiao_id != '"+session[:regiao].to_s+"' GROUP BY pro.id ORDER BY  pro.nome ASC ")%>
                    <%@professores_total = @professores1 + @divisao + @professores2%>

                 <tr>
                    <td></td>
                     <td colspan="4"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Professor (Falta):</b><%=  @falta[0].professor.nome %></td>
                 </tr>
                  <tr>
                      <td></td>
                      <td colspan="4">
                           <%  for aula in @falta%>
                                     <table width="100% ">
                                            <tr>
                                                  <td align="right" width ="15%"><b>Classe:&nbsp</b></td>
                                                  <td align="left" width ="8%">&nbsp <%=h aula.classe%></td>
                                                  <td align="left" width ="18%"><b>Periodo da Classe: </b></td>
                                                  <td align="left"  width ="12%"> <%=h aula.periodo%></td>
                                                  <td > <b><%#=@falta.count %> </b> falta(s) - <%=@falta[0].tipo %>
                                                      <% if @falta.count > 1 %>
                                                             <b> de </b><%= aula.dataI.strftime("%d/%m/%Y")  %>   <b> à </b> <%= aula.dataF.strftime("%d/%m/%Y")  %>
                                                      <%else%>
                                                             <b> dia </b><%= aula.data.strftime("%d/%m/%Y")  %>
                                                      <%end%>
                                                  </td>
                                           </tr>
                                          <% if @falta.count > 1 %>
                                               <tr>
                                                   <td align="left" ><b>Data Inicial: </b></td>
                                                   <td colspan="4"> <%= datepicker_tag(:aulas_eventual,:dataI,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                                                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Data Final: </b>  <%= datepicker_tag(:aulas_eventual,:dataF,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %></td>
                                              </tr>
                                         <%end%>

                                        </table>
                                     <%end%>
                                 </td>
                             </tr>

                    <tr>
                        <td colspan="5"> <b>Período da Substituição: </b>&nbsp&nbsp
                                      <%= f.select :periodo, (AulasEventual::PERIODO).sort%>
                                        <%= observe_field 'aulas_eventual_periodo',
                                                     :with   => :periodo,
                                                     :url  => { :action => 'periodo_prof_eventual' },
                                                     :update => "professor_sub"%>
                        </td>
                   </tr>
                  <tr>
                    <td></td>
                     <td colspan="5"> <div id="professor_sub"><br/></div>

                     </td>
                 </tr>
             </table>





           <%session[:continua_atribuicao]=0%>

          <%session[:continua_atribuicao]=0%>
       <%end%>



             <table width="100%"  align="center">
                    <tr>
                       <td width="5px"align="left"><%= f.submit 'Salvar' %></td>
      <% end %>
                       <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                       
                       
                   </tr>
                </table>





     </div>
   </div>
</div>
<br/>






