<div id="interno4">
<% title "AULASEVENTUAL".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SUBSTITUIÇÃO</strong></font><br/>
 </div>

  <div class="tabs">
     <% form_for(@aulas_eventual) do |f| %>
      <%= f.error_messages %>
             <br/>
             <table  width="100%"  align="center"  bgcolor="#F5F5F5"  >
                <tr>
                  <td colspan="5"><b><font size="3"> &nbsp CADASTRAR AULA EM SUBSTITUIÇÃO &nbsp </b></td>
                </tr>
                <tr>
                  <td colspan="5"><hr></td>
                </tr>

               <tr>
                   <td colspan="5"><font color ="RED"> <b><u>Atenção:</u> Selecionar primeiro a DATA, UNIDADE, CATEGORIA e depois a  UNIDADE.</b></font><br/><br/></td>
               </tr>
               <tr>
                   <td width="8%"    align="right" > <b>Data: </b></td>
                    <td width="20%" align="left"><%= datepicker_tag(:aulas_eventual, :data,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                       <%= observe_field 'aulas_eventual_data',
                                                     :with   => :aulas_eventual_data,
                                                     :url  => { :action => 'data_eventual' }%>

                     </td>
                     <td align="right" width="10%">  <b>Unidade: </b></td>
                     <td align="right"width="10%" ><%= collection_select :aulas_eventual, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'aulas_eventual_unidade_id',
                                                     :with   => :aulas_eventual_unidade_id,
                                                     :url  => { :action => 'nome_prof_eventual' },
                                                     :update => "professor"%>
                    </td>
                     <td width ="40%" > <div id="tipo_falta"></div> </td>
                    

               </tr>
                <tr>
                    <td></td>
                     <td colspan="5"> <div id="professor"><br/></div>
                                  
                     </td>
              </tr>
               <%  if current_user.unidade.tipo_id == 2   or current_user.unidade.tipo_id == 5 or  current_user.unidade.tipo_id == 8 or current_user.unidade.tipo_id == 9 %>
                    <tr> 
                        <td> <b>Período: </b></td>
                        <td colspan="4"> <%= f.select :periodo, (AulasEventual::PERIODO).sort, :include_blank => ' -- Selecionar -- ' %>
                                        <%= observe_field 'aulas_eventual_periodo',
                                                     :with   => :periodo,
                                                     :url  => { :action => 'periodo_prof_eventual' },
                                                     :update => "professor_sub"%>
                        </td>    
                   </tr>
                 <tr>
                    <td></td>
                     <td colspan="5"> <div id="professor_sub"><br/></div>
                                  
                     </td>
                </tr>
            <%end%>
                <tr>
                   <td align="left" valign="top"><b>Observação:</b></td>
                   <td align="left" colspan="5"><%= f.text_area(:obs,:cols => 85, :rows => "3") %></td>

               </tr>

             </table>

               <tr>
<!--
                    <td align="left" width="10%">&nbsp <b>Categoria: </b> </td>
                    <td align="left">&nbsp<%= f.select :categoria, AulasEventual::CATEGORIA.sort, :include_blank => ' -- Selecionar -- ' %>
                                        <%= observe_field 'aulas_eventual_categoria',
                                                     :with   => :categoria,
                                                     :url  => { :action => 'caregoria_prof_eventual' }
                                                      %>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <b>Unidade: </b>
                                 <%= collection_select :aulas_eventual, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'aulas_eventual_unidade_id',
                                                     :with   => :aulas_eventual_unidade_id,
                                                     :url  => { :action => 'nome_prof_eventual' },
                                                     :update => "professor"%>
                     </td>
-->







             <table width="100%"  align="center">
                    <tr>
                       <td width="5px"align="left"><%= f.submit 'Salvar' %></td>
      <% end %>
                       <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                       
                       
                   </tr>
                </table>





     </div>
   </div>
</div>
<br/>






