<h1>Listing orc_reservas</h1>

<table>
  <tr>
    <th>Orc ficha</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Motivo</th>
    <th>Cancela</th>
    <th>Justificativa</th>
    <th>Data</th>
    <th>Data cancelamento</th>
    <th>Obs</th>
  </tr>

<% @orc_reservas.each do |orc_reserva| %>
  <tr>
    <td><%=h orc_reserva.orc_ficha %></td>
    <td><%=h orc_reserva.valor %></td>
    <td><%=h orc_reserva.data %></td>
    <td><%=h orc_reserva.motivo %></td>
    <td><%=h orc_reserva.cancela %></td>
    <td><%=h orc_reserva.justificativa %></td>
    <td><%=h orc_reserva.data %></td>
    <td><%=h orc_reserva.data_cancelamento %></td>
    <td><%=h orc_reserva.obs %></td>
    <td><%= link_to 'Show', orc_reserva %></td>
    <td><%= link_to 'Edit', edit_orc_reserva_path(orc_reserva) %></td>
    <td><%= link_to 'Destroy', orc_reserva, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orc_reserva', new_orc_reserva_path %>