<table width="100%" align="center"  >
     <tr>
         <td colspan="3">
             <table  width="100%" >
                 <tr><td align="left"> <b><font size=" 3"><u>PARTICIPANTE:</u></b> </td><td align="right"><a  class="invisivel" ><%= button_to('', new_participante_path) %></a></td></tr>
            <tr>
                <td colspan="2">
                    
                <% $idparticipante = @dadosparticipa.id %>
                    <font size="3">
                 <b>Nome:</b><%=h @dadosparticipa.nome %>
                      <%if @dadosparticipa.unidade_id.nil?%>
                         <br/>
                      <%else%>
                         -  <b>Matricula:</b> <%=h @dadosparticipa.matricula %><br/>
                     <%end%>
                    <b>Unidade:</b><%if @dadosparticipa.unidade_id.nil?%>
                           Não é funcionário da SEDUC
                        <%else%>
                         <%=h @dadosparticipa.unidade.nome %>
                     <%end%>
                    <br/>
                    <b>Email:</b> <%= @dadosparticipa.email%>
                    </font>
                </td>
            </tr>
          </table>
       </td>
     </tr>
     <tr>
                   <td> <font color="red" size="4"><b><u>ATENÇÃO:</u></font> <font color="blue" size="3"><b> CONFERIR DADOS E CORRIGIR SE NECESSÁRIO</b></font>
                       </b></font> =====></td>

                   <td valign="bottom">
                       <%= button_to('Atualizar Cadastro',{:controller =>"participantes" ,:action => "edit", :id =>@dadosparticipa}, :method => "get", :title => "Atualizar Cadastro Participante")%>
                   </td>    

                 </tr>
               </table>
       </tr>
    
  </table>
