<table width="100%" >
    <tr>
      <td>
        <b>
            <% if @inscricao.present?  %>
                
                <b style="color:red"><%= "PARTICIPANTE JA POSSUI INSCRIÇÃO." %> &nbsp&nbsp&nbsp<%= link_to "|Visualizar Inscrição já realizada|", @inscricao  %></b><br/>

             <%end%>
            Nome:<%=h @dadosparticipa.nome %> 
              <%if @dadosparticipa.unidade_id.nil?%>
                 <br/>
              <%else%>
                 -  Matricula: <%=h @dadosparticipa.matricula %><br/>
             <%end%>
            Unidade:<%if @dadosparticipa.unidade_id.nil?%>
                   Não é funcionario da SEDUC 
                <%else%>
                 <%=h @dadosparticipa.unidade.nome %>
             <%end%>

              <%if @dadosparticipa.obs.nil?%>
                 <br/>
              <%else%>
                 Obs: <%=h @dadosparticipa.obs %><br/>
             <%end%>
            Email:
              <%if @dadosparticipa.email.nil?%>
                 <font color="red"> Não consta e_mail em seu cadastro, favor atualizar cadastro</font> <br/>
             <%else%>
                 <%=h @dadosparticipa.email %><br/>
             <%end%>
          
         </b>
        </td>
        <td align="right">
                <font color="blue">Caso necessário atualizar cadastro =></font> 
         </td>
         <td>
            <%= link_to image_tag("/stylesheets/images/cadastrar.gif", :size => "30x30"), edit_participante_path(@dadosparticipa), :title => "Atualizar Cadastro" %> </dd>
         </td>
    </tr>
  </table>
