<table width="100%">
    <% if @inscricao.present?  %>
        <tr>
           <td colspan="3"><b style="color:red"><%= "PARTICIPANTE JA POSSUI INSCRIÇÃO." %> =================================================================> <%= link_to image_tag("/stylesheets/images/listar.png", :size => "30x30"), consultas_inscricaos_path %></b><br/>
        </tr>


    <%end%>
    <tr>
      <td width="70%">
                Nome:<%=h @dadosparticipa.nome %>
              <%if @dadosparticipa.unidade_id.nil?%>
                 <br/>
              <%else%>
                 -  Matricula: <%=h @dadosparticipa.matricula %><br/>
             <%end%>
            Unidade:<%if @dadosparticipa.unidade_id.nil?%>
                   Não é funcionário da SEDUC
                <%else%>
                 <%=h @dadosparticipa.unidade.nome %>
             <%end%>
            <br/>Email:
              <%if @dadosparticipa.email.nil?%>
                 <font color="red"><b> NÃO CONSTA E-MAIL NO CADASTRO - <u>FAVOR ATUALIZAR CADASTRO</u></b></font> <br/>
             <%else%>
                 <%=h @dadosparticipa.email %><br/>
             <%end%>
              <%if @dadosparticipa.obs.nil?%>
                 <br/>
              <%else%>
                Obs: <%if @dadosparticipa.email.nil?%>
                          <font color="red"><b>PARA FAZER INSCRIÇÃO É OBRIGATÓRIO CONSTAR E_MAIL NO CADASTRO  -  <blink><u>FAVOR ATUALIZAR SEU CADASTRO ANTES DE PROSSEGUIR.</u></blink></b></font> <br/>
                      <%else%>
                         <%=h @dadosparticipa.obs %><br/>
                      <%end%>
               <%end%>
      
        </td>
        <td widt ="30%"align="right">
                <font color="blue"><b>Atualizar Cadastro</b> =></font>
         </td>
         <td><%= link_to image_tag("/stylesheets/images/write.png", :size => "30x30"), edit_participante_path(@dadosparticipa), :title => "Atualizar Cadastro" %> </td>
    </tr>
  </table>
