<% form_for(@inscricao) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas1" align="center" >
   <tr>
    <th align="left">
       <font  size=5 color="black"> <b> CADASTRO DE INSCRIÇÕES</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
  </tr>
  <tr>
  <td colspan="2">
   <fieldset><legend><font size ="4"><b>Inscrição</b></font></legend>
     <table width="100%">
       <tr>
         <td colspan="2" align="center"><font  size=5 color="RED"> <b> FAVOR LER ATENTAMENTE TODAS AS INSTRUÇÕES PARA EFETUAR SUA INSCRIÇÃO</b></font></td>
      </tr>
       <tr>
         <td colspan="2"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>1) ANTES DE SE INSCREVER VERIFIQUE SE SEU NOME CONSTA NA LISTA DE PARTICIPANTES.</td>
       </tr>
       <tr>
         <td colspan="2"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>2) SE SEU NOME NÃO CONSTAR NA LISTA, FAÇA SEU CADASTRO DE PARTICIPANTE. CLIQUE AQUI </b> ============>
                     <%= link_to image_tag("/stylesheets/images/participante.jpeg", :size => "180x25"), new_participante_path, :title => "Cadastrar Participante" %> </b></td>
               </tr>
               <tr>
                 <td colspan="2"><br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>3) FAVOR NÃO CADASTRAR SEU NOME DUAS VEZES.</b></td>
               </tr>

      <tr>
        <td  colspan="2" align="center"> <font size ="3"><br/><b>Participante:</b>
           <%= f.collection_select :participante_id, @participantes, :id, :nome, :include_blank => ' -- Selecione -- ' %>&nbsp&nbsp<b>(Selecione seu nome)</b></font></td>

  </tr>

 <!--         <%= observe_field  :inscricao_participante_id,
              :with => :inscricao_participante_id,
             :url => { :action => 'sel_participa' } %>
-->
  <tr><td></td>
    <td colspan="4">
     <%if @participante.present?%>
      Matricula: <%=h @participante.matricula %><br/>
      Nome:<%=h @participante.nome %><br/>
      Cidade:<%=h @participante.cidade %><br/>
      Email:<%=h @participante.email %><br/>
        Observações: <%=h @participante.obs %><br/>
    <%else%>
      <div id="informacoes"></div>
    <%end%>
    </td>
  </tr>
 </table>

   <table align="center" width="100%" >

<!--
    <tr><td>&nbsp&nbsp<b> NÃO HÁ CURSOS OFERECIDOS NO MOMENTO</b></td></tr>
-->
      <tr>
        <td colspan="3"><font size="2">
            <center><font size ="5"color="red"><b><u>ESPETÁCULOS DISPONÍVEIS</u></b></font></center><br/>
        </td>
     </tr>
     <% for curso in @cursos %>
        <%if curso.vagas_disponiveis > 0 %>
             <tr><td width =" 10%"></td>
               <td><b>><font size="3" color ="blue"> "<%=h curso.nome %>" </b></font> &nbsp - &nbsp <font size ="3"color="red"><b>Vagas disponíveis:</b> <%=h curso.vagas_disponiveis%></font><br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u></u> <%=h curso.ministrante %><br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Público Alvo:</u> <%=h curso.publico %><br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Encontros:</u> Dias <%=h curso.datas %> &nbsp - &nbsp <u>Carga Horária: <%=h curso.carga_horaria%> </u><br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Horário:</u> <%=h curso.horario %><br/>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Local:</u> <%=h curso.local %><br/>
         ---------------------------------------------------------------------------------------------------------------
               </td>
             </tr>
            <%end%>
     <%end%>
      <tr>
        <td colspan="2" align="center"><b><u>OBS:</u></b> É necessário fazer uma inscrição para cada evento.</td>
     </tr>

    <tr>
      <td colspan="2" align="center"><br/>
         <font size="3"><b>Selecione a apresentação desejada <%= f.collection_select :curso_id, @cursos, :id, :nome, :include_blank => ' -- Selecione -- ' %> </font>    </b>
         <br/><br/>
      </td>
    </tr>



   </table>

</fieldset>

         <table width="100%" align="left">
           <tr>
               
               <!--
               <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"><font size="2"><b> <----- CLIQUE AQUI PARA FAZER SUA INSCRIÇÂO <b></font></td>
               -->
               <td align="right">   <%= f.submit "INSCREVER" %></td>
      <% end %>
               <td width="2%" align="right"><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
           </tr>
       </table>

    </td>
  </tr>
  </table>
</font>







