<% form_for(@inscricao) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="100%" align="center" >
   <tr>
    <th align="left">
       <font  size=5 color="black"> <b> CADASTRO DE INSCRIÇÕES</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
  </tr>
  <tr>
    <td colspan="2">
      <marquee behavior="alternate"><font  size=5 color="RED"> <b> FAVOR LER TODAS AS INSTRUÇÕES AO EFETURAR SUA INSCRIÇÃO</b></font></marquee>
    </td>
  </tr>
  <tr>
  <td colspan="2">
<fieldset><legend><font size ="4"><b>Inscrição</b></font></legend>
  <table width="100%" >
  <tr>
    <td width ="1%" valign="top"><b>Participante:</b></td>
     <% if @participante.present? %>
        <%= @participante.nome %>
        <td valign="top">
         <%= f.hidden_field(:participante_id,:value => @participante.id) %> <%= link_to 'Cadastre-se já', new_participante_path %>
        </td>

     <%else%>
        <td width =20%"  valign="top">
           <%= f.collection_select :participante_id, @participantes, :id, :nome, :include_blank => ' -- Selecione -- ' %><br/>
           <font color="blue">Se nome não consta na lista acima, favor cadastrar ===============================></font>
          <%= link_to image_tag("/stylesheets/images/cadastrar.gif", :size => "30x30"), new_participante_path, :title => "Cadastrar Participante" %>
         </td>
         <!--
        <td colspan="">
          <font color="blue"><b>Curso disponível somente para quem   cursou o módulo I</b>

        </td>-->
     <%end%>

  </tr>
  <tr>
    <td colspan="4">
          <%= observe_field  :inscricao_participante_id,
              :with => :inscricao_participante_id,
              :url => { :action => 'sel_participa' } %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
     <%if @participante.present?%>
      Matricula: <%=h @participante.matricula %><br/>
      Nome:<%=h @participante.nome %><br/>
      Cidade:<%=h @participante.cidade %><br/>
      Email:<%=h @participante.email %><br/>
        Observações: <%=h @participante.obs %><br/>
    <%else%>
      <div id="informacoes"></div>
    <%end%>
    </td>
  </tr>
 </table>

   <table class="tabelas" align="center"  width="100%" border="2">
     <tr>
      <th colspan="2" style=" font-size: large">CURSOS DISPONÍVEIS </th>
     </tr>
    <tr>
      <td colspan="2">
         <b>Selecione a opção desejada  - (SOMENTE UMA OPÇÃO) </b>
      </td>
    </tr>
     <% @cursos.in_groups_of(2, false) do |row_cursos| %>
      <tr>
        <% row_cursos.each do |curso| %>
            <%if curso.existe_vaga %>
             <td id="demo" align="left"><%= check_box_tag "inscricao[curso_ids][]", curso.id, @inscricao.cursos.include?(curso), :title => "#{curso.ementa}"%><%= "#{curso.nome_curto} - #{curso.qtde} vagas / #{curso.vagas_disponiveis} disponíveis" %></td>
            <%else%>
              <td><%= "CURSO #{curso.nome}"%>  <br/>
                <font color="red"> <b>Nº DE VAGAS COMPLETO </b></font> </td>
            <%end%>
        <%end%>
      </tr>
    <%end%>
      <tr>
        <th colspan="2"><font size="2">
          <center><font size ="3"color="red"><u>LEIA COM ATENÇÃO</u></font></center>
          <u>Obs:</u>> Para maiores informações posicione o mouse sobre caixa de opção e aguarde alguns segundos.<br/>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><u>Sobre as II Mostra de Trabalhos de Creches:</u></b><br/>
          &nbsp&nbsp&nbsp&nbsp> Serão selecionadas 30 inscrições para Apresentação de Painel e 20 inscrições para Apresentação Oral.<br/>
          &nbsp&nbsp&nbsp&nbsp> Para inscrição de Apresentação Oral ou Painel é necessário enviar o projeto para nucleo@seducpma.com<br/>
          &nbsp&nbsp&nbsp&nbsp> A Apresentação Oral pode ser feita em grupo, contudo a inscrição deve ser feita em nome de uma só<br/>
          &nbsp&nbsp&nbsp&nbsp&nbsp  pessoa, o nome dos demais componentes do grupo deve constar na Ficha de Projeto de Apresentação<br/>
          &nbsp&nbsp&nbsp&nbsp> Download Modelo de Projeto de Apresentação <%= "#{ link_to "|Clique aqui|", modelo_path}"%><br/>
          &nbsp&nbsp&nbsp&nbsp> Dúvidas contate fone 3475-9700 (ramal 9904) ou e_mail nucleo@seducpma.com<br/>
          &nbsp&nbsp&nbsp&nbsp> Os projetos / inscrições selecionados serão notificadas por e_mail.<br/>
          &nbsp&nbsp&nbsp&nbsp> Os projetos não selecionados poderão participar como ouvinte.<br/>
          &nbsp&nbsp&nbsp&nbsp> A II Mostra de Trabalho das Creches será realizada dia <font color="blue">23/11/2013 das 8h as 12h no Anfiteatro  <br/>
          &nbsp&nbsp&nbsp&nbsp&nbsp do Colégio Objetivo</font>.<br/>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><u>Sobre Workshop Neuropsicologia:</u></b><br/>
          &nbsp&nbsp&nbsp&nbsp> Para Educação Infantil- Encontros nos dias 25/11, 02/12 e 09/12 das 18:30 as 21:30 h.<br/>
          &nbsp&nbsp&nbsp&nbsp> Para Educação Fundamental- Encontros nos dias 27/11, 04/12 e 11/12 das 18:30 as 21:30 h.<br/>

</font></th>
  </table>

</fieldset>

         <table width="100%" align="left">
           <tr>
               <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
               <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"></td>
           </tr>
       </table>
      <% end %>
    </td>
  </tr>
  </table>
</font>







