<% form_for(@inscricao) do |f| %>
 <%= f.error_messages %>
<fieldset><legend><font size ="4"><b>Inscrição</b></font></legend>
<table width="100%" >
  <tr>
    <td width ="10%" valign="top"><b>Participante:</b></td>
     <% if @participante.present? %>
        <%= @participante.nome %>
        <td  valign="top">
           <%= f.hidden_field(:participante_id,:value => @participante.id) %> <%= link_to 'Cadastre-se já', new_participante_path %>
        </td>
        
     <%else%>
        <td width =20%"  valign="top">
           <%= f.collection_select :participante_id, @participantes, :id, :nome, :include_blank => ' -- Selecione -- ' %>
        </td>
        <td align="right" >
          Caso nome não cadastrado =>
        </td>
        <td>
          <%= link_to image_tag("/stylesheets/images/cadastrar.gif", :size => "40x40"), new_participante_path, :title => "Cadastrar Participante" %>
         </td>
     <%end%>
      
  </tr>
  <tr>
    <td colspan="3">
          <%= observe_field  :inscricao_participante_id,
              :with => :inscricao_participante_id,
              :url => { :action => 'sel_participa' } %>
    </td>
  </tr>
  <tr>
    <td colspan="3">
     <%if @participante.present?%>
      Matricula: <%=h @participante.matricula %><br/>
      Nome:<%=h @participante.nome %><br/>
      Cidade:<%=h @participante.cidade %><br/>
      Email:<%=h @participante.email %><br/>
      Observações: <%=h @participante.obs %><br/>
    <%else%>
      <div id="informacoes"></div>
    <%end%>
    </td>
  </tr>
   <tr>
    <td colspan="4">
      <font color="red"> Cursos com <b>*</b> disponíveis somente para professores da SEDUC no exercício da função</p>
    </td>
   </tr>
  </table>

   <table border="2" class="tabelas">
    <th colspan="2" style=" font-size: large; color: blue">Cursos</th>
    <% @cursos.in_groups_of(2, false) do |row_cursos| %>
      <tr>
        <% row_cursos.each do |curso| %>
            <%if curso.existe_vaga %>
              <td id="demo" align="left"><%= check_box_tag "inscricao[curso_ids][]", curso.id, @inscricao.cursos.include?(curso), :title => "#{curso.ementa}"%><%= "#{curso.nome_curto} - #{curso.qtde}/#{curso.vagas_disponiveis}" %></td>
            <%else%>
              <td><%= "CURSO #{curso.nome}"%>  <br/>
                <font color="red"> <b>Nº DE VAGAS COMPLETO </b></font> </td>
            <%end%>
        <%end%>
      </tr>
    <%end%>
      <tr>
        <th colspan="2" style=" font-size: large; color: blue">Para maiores informações sobre o curso, posicione o mouse sobre a caixa de opção</th>
      </tr>
  </table>
  <p>
    <div id="final"><%= f.submit "Confirmar suas opções"  %></div>
  </p>
<%end%>
</fieldset>