<% form_for(@inscricao) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas1" align="center" >
   <tr>
    <th align="left">
       <font  size=5 color="black"> <b> CADASTRO DE INSCRIÇÕES</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
  </tr>
  <tr>
    <td colspan="2">
      <marquee behavior="alternate"><font  size=5 color="RED"> <b> FAVOR LER TODAS AS INSTRUÇÕES AO EFETURAR SUA INSCRIÇÃO</b></font></marquee>
    </td>
  </tr>
  <tr>
  <td colspan="2">
<fieldset><legend><font size ="4"><b>Inscrição</b></font></legend>
  <table width="100%">
  <tr>
    <td width ="1%" valign="top"><b>Participante:</b></td>
     <% if @participante.present? %>
        <%= @participante.nome %>
        <td valign="top">
         <%= f.hidden_field(:participante_id,:value => @participante.id) %> <%= link_to 'Cadastre-se já', new_participante_path %><br/>
        </td>
     <%else%>
        <td width =20%"  valign="top">
           <%= f.collection_select :participante_id, @participantes, :id, :nome, :include_blank => ' -- Selecione -- ' %>&nbsp&nbsp<b>(Selecione seu nome)</b>
           <div class="botao">
             <table>
               <tr>
                 <td> &nbsp&nbsp<b><u><font color="red" size="3">OBS:</font></u> 1) SE NOME NÃO CONSTA NA LISTA ACIMA. Clique aqui para cadastrar</b> =====></td>
                 <td><%= link_to image_tag("/stylesheets/images/participante.jpeg", :size => "180x25"), new_participante_path, :title => "Cadastrar Participante" %></td>
              </tr>
              <tr>
                 <td colspan="2"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>2) ANTES DE SE CADASTRAR, VERIFIQUE SE SEU NOME CONSTA NA LISTA</b></td>
               </tr>
               <tr>
                 <td colspan="2"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>3) FAVOR NÃO CADASTRAR SEU NOME DUAS VEZES</b></td>
               </tr>
             </table>
           </div>
         </td>
         <!--
        <td colspan="">
          <font color="blue"><b>Curso disponível somente para quem   cursou o módulo I</b>

        </td>-->
     <%end%>
  </tr>

          <%= observe_field  :inscricao_participante_id,
              :with => :inscricao_participante_id,
              :url => { :action => 'sel_participa' } %>

  <tr>
    <td colspan="4">
     <%if @participante.present?%>
      Matricula: <%=h @participante.matricula %><br/>
      Nome:<%=h @participante.nome %><br/>
      Cidade:<%=h @participante.cidade %><br/>
      Email:<%=h @participante.email %><br/>
        Observações: <%=h @participante.obs %><br/>
    <%else%>
      <div id="informacoes"></div>
    <%end%>
    </td>
  </tr>
 </table>

   <table class="tabelas1" align="center" width="100%" >
     <tr>
      <th colspan="2" style=" font-size: large">CURSOS DISPONÍVEIS </th>
     </tr>

    <tr>
      <td colspan="2">
         <b>Selecione a opção desejada  </b>
      </td>
    </tr>
<!--
    <tr><td>&nbsp&nbsp<b> NÃO HÁ CURSOS OFERECIDOS NO MOMENTO</b></td></tr>
-->

     <% @cursos.in_groups_of(2, false) do |row_cursos| %>
      <tr>
        <% row_cursos.each do |curso| %>
            <%if curso.existe_vaga %>
             <td width="50%"id="demo" align="left"><%= check_box_tag "inscricao[curso_ids][]", curso.id, @inscricao.cursos.include?(curso), :title => "#{curso.ementa}"%>
                                        <%= "#{curso.nome_curto}"%><br/>&nbsp&nbsp&nbsp
                                        <%=" #{curso.qtde} vagas / #{curso.vagas_disponiveis} disponíveis" %>
             ________________________________________________
             </td>

            <%else%>
              <td><%= "CURSO #{curso.nome}"%><br/>
                <font color="red"><b>Nº DE VAGAS COMPLETO </b></font>
             ________________________________________________
              </td>
            <%end%>
        <%end%>

      </tr>
    <%end%>
      <tr>
        <th colspan="2"><font size="2">
          <center><font size ="3"color="red"><u>LEIA COM ATENÇÃO</u></font></center>
          <u>Obs:</u> Para maiores informações posicione o mouse sobre caixa de opção e aguarde alguns segundos.<br/>
             &nbsp&nbsp&nbsp&nbsp <b>> WORKSHOP "A ÉTICA DO CUIDAR NA SOCIEDADE CONTEMPORÂNEA"</b>:<br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Público Alvo:</u> Professores de Educação Infantil e ADI da rede municipal de ensino<br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Encontros:</u> Dias 12 e 19  de Maio<br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Hário / Local:</u> 18:30 às 21:30 horas no anfiteatro da SEDUC<br/>

             &nbsp&nbsp&nbsp&nbsp <b>> WORKSHOP "PREVENÇÃO DE DOENÇAS E PRIMEIROS SOCORROS NO AMBIENTE ESCOLAR"</b>:<br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Público Alvo:</u> Professores de Educação Infantil e ADI da rede municipal de ensino<br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Encontros:</u> Dias 08 e 15  de Maio<br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<u>Hário / Local:</u> 18:30 às 21:30 horas no anfiteatro da SEDUC<br/>

    </font></th>
          </tr>             
  </table>

</fieldset>

         <table width="100%" align="left">
           <tr>
               
               <!--
               <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"><font size="2"><b> <----- CLIQUE AQUI PARA FAZER SUA INSCRIÇÂO <b></font></td>
               -->
               <td align="right">   <%= f.submit "INSCREVER" %></td>
      <% end %>
               <td width="2%" align="right"><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
           </tr>
       </table>

    </td>
  </tr>
  </table>
</font>







