<br/><br/>
<table class="tabelas" align="center" width="100%">
 <tr>
   <th colspan="2" align="left">
      <font  size=5 color="black"> <b> INSCRITOS POR CURSOS </b></font>
   </th>
  </tr>
  <tr>
    <td>
      <br/>
      <div class="botao">
       <% form_remote_tag :url => listagem_participantes_inscricaos_path, :method => :get do %>
        <table>
           <font size="3">
          <tr>
            <td>
              <font size="3"> Curso: </font>
               <%= collection_select(:curso, :get, @cursos, :id,:nome_curto, :include_blank => ' -- Selecione -- ' ) %>

            </td>
          </tr>
          <tr>
            <td>
              <font size="3"> Unidade: </font>
              <%= collection_select :curso, :unidade, @locais, :id, :nome, :include_blank => ' -- Selecione -- ' %>
              <font size="3"> Período: </font>
              <%= select_tag :periodo_opcao1, options_for_select(%w(Todos Matutino Vespertino Noturno Sabado_Matutino))%><br/>
            </td>
            <td><input type="image" src="/stylesheets/images/buscar.png" title="Buscar"></td>
          </tr>
          
         </table>
      <% end %>
     </div>
        <table>

         <tr>
           <td colspan="3"><div id="lista"></div>
           </td>
         </tr>
       </table>



       <div class="botao">
        <table width="100%" align="left">
          <tr>
            <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
            <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
          </tr>
       </table>
      </div>
    </td>
  </tr>
</table>
<br>

