<br/>
<font size="2">
<table  class="tabelas" align="center">
  <tr>
    <th align="left">
       <font  size=5 color="black"> <b>SISTEMA DE INSCRIÇÃO ON-LINE</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
  </tr>
  <tr>
     <td colspan="2" align="left" >
       <font  size=4 color="black"> <b><center>COMPROVANTE DE INSCRIÇÃO</b></center></font>
    </td>
 </tr>
  <tr>
    <td colspan="2">
       <fieldset><legend><font  size=4>  <div class="botao">Inscrição</div></font></legend>
         <table width="100%" >
           <br/>
             <tr>
               <td width="10%"><b>Nº Inscrião:</b></td>
               <td colspan="5" ><%=h  @inscricao.id%></td>
             </tr>
             <tr>
               <td width="10%"><b>Participante:</b></td>
               <td colspan="5" ><%=h  @inscricao.participante.nome %></td>
             </tr>
              <tr>
                <td valign="top"><b>Curso: </b></td>
               <td colspan="5" >
                    <% if @inscricao.curso_id ==16 %>
                         OFICINA: Brincadeiras Cantadas
                    <%end%>
                    <% if @inscricao.curso_id ==17 %>
                        OFICINA: Ciclos de cinema I: cinema, infância e sociedade –Turma 2
                    <%end%>
                    <% if @inscricao.curso_id ==18 %>
                         OFICINA: Contribuições para atuação no Transtorno do Espectro Autista.
                    <%end%>
                    <% if @inscricao.curso_id ==19 %>
                         OFICINA: Transformando cantos para vivenciar encantos(Matutino)
                    <%end%>
                    <% if @inscricao.curso_id ==20 %>
                           OFICINA: Transformando cantos para vivenciar encantos(Vespertino)
                    <%end%>
                    <% if @inscricao.curso_id ==21 %>
                         OFICINA: LIBRAS II – Língua brasileira de sinais.
                    <%end%>
                    <% if @inscricao.curso_id ==22 %>
                         OFICINA: Vivências corporais.
                    <%end%>
                 </td>
              </tr>
              <tr>
                <td colspan="2"><b>Inscrição efetuada em:</b>
                  <%=h  @inscricao.data_inscricao.strftime("%d de %B de %Y") %> </td>
              </tr>
            <% if  @inscricao.participante.email == 'email_nao_cadastrado@favor_cadastar.com.br'%>
                <tr>
                  <td width="10%"><b>Email:</b></td>
                  <td colspan="5" >EMAIL NÃO CADASTRADO</td>
               </tr>
            <%end%>
           <tr>
            <td colspan="3">
              <b><font color="red" size="2"> <u>IMPORTANTE:</u></font></b>
            </td>
          </tr>
          <tr>
            <td colspan="3"><b>
              <dd><li> Este comprovante é a garantia da efetivação de sua inscriação</li></dd>
              <dd><li> Imprima e guarde este comprovante</li></dd>
              <dd><li> O comprovante pode ser solicitado para ingresso no dia do curso</li></dd>
            </td>
          </tr>
          <tr>
             <td colspan="3"><hr></td>
        </tr>
        <% $idparticipante =  @inscricao.participante_id%>
    <div class="botao">
       <tr>
         <td colspan="4">
           <table align="left" >
            <tr>
              <td width="1%" align="left"><%= button_to "Nova Inscrição", new_inscricao_path, :title => 'Nova Inscrição'  %></td>
              <td width="1%" align="left"><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
              <td align="left" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
            </tr>
          </table>
         </td>
       </tr>
     </div>
 </table>
</font>
<br/>





