<div id="interno8">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>PONTO ELETRÔNICO - ESTAGIÁRIO</strong></font><br/>
 </div>
      <div class="tabs">
        <br/>
        <table bgcolor ="#F5F5F5" width="100% " >
               <tr >
                 <td >

      <font size="2">
      <fieldset>
      <table >
        <tr>
        <% form_for(@ponto) do |f| %>
        <%= f.error_messages %>
        <tr bgcolor ='#F5F5F5'>
              <td align="left"><b>Estagiário:</b> <%= @ponto.estagiario.nome %> </td>
        </tr>
        <tr>
           <td align="left"><b>Entrada:</b> <%= @ponto.entrada.strftime("%d/%m/%Y %H:%M") %> </td>
         </tr>

         <tr bgcolor ='#F5F5F5'>
            <td align="left"><b>Saida:</b> <%= Time.now.strftime("%d de %B de %Y") %> - <%= Time.now.strftime("%H:%M")  %></b> </td>
        </tr>
     </table>
    </fieldset>
          <table >
             <tr>
                 <td align="right"width="2%" ><%= submit_tag "Salvar", :class => "btn_filtrar" %></td>
                <% end %>
                <td width="2%" align="right" ><%= button_to("Imprimir", onclick="javascript:window.print()", :title => "Imprimir") %></td>
                <td width="2%" align="right" ><%= button_to("Ponto", pontos_path, :method => "get", :title => "Ponto") %></td>
                <td align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
            </tr>
          </table>
   </font>



                  </td>
               </tr>
            </table>
           <br/>
    </div>
  </div>
<br/>
</div>




