<div id="interno6">
    <% title "SAUDES".singularize %>

        <div id="caixa_titulo">
            <font size="3"><strong>PONTO ELETRÔNICO DE ESTAGIÁRIO</strong></font><br/>
        </div>
    
    <table width="100%" bgcolor ="#E6E2D" >
        
     <tr>
        <td>
            <br/>
            <fieldset>
            <table width="100%" >
               <tr bgcolor="#F5F5F5">
                    <td colspan="2" width="95%">
                        <table width="100%">
                            <tr>
                                <% form_for @search do |f| %>
                                    <td align="right">
                                        <font size="3"> Estagiário:</font>
                                        <%= f.collection_select :estagiario_id_equals, @estagiarios, :id, :nome, :include_blank => true%>
                                    </td>
                                    <td align="left"><%= submit_tag "Filtrar", :class => "btn_filtrar" %></td>
                                <% end %>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr  bgcolor="#F5F5F5">
                    <td colspan="2">
                        <table>
                            <%= render :partial => "calendar" %>
                            <%if !@ponto.present? %>
                                <%if !(params[:search]).nil? %>
                                    <%= button_to'Criar Ponto',:action => "new", :estagiario_id => params[:search][:estagiario_id_equals] %>
                                    <br/>
                                <%end%>
                            <%else%>
                            <%end%>
                            <table width="100%" >
                                <tr>
                                    <td width="2%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                                    
                                    <td></td>
                                </tr>
                            </table>

                        </table>

                    </td>
                </tr>
            </table>
          </fieldset>
            <br/>

        </td>
    </tr>

</table>
        
    <br/>
</div>
