<h1>Editing manutencaos_tipos_manutencao</h1>

<% form_for(@manutencaos_tipos_manutencao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tipos_manuntencaos %><br />
    <%= f.text_field :tipos_manuntencaos %>
  </p>
  <p>
    <%= f.label :manutencaos %><br />
    <%= f.text_field :manutencaos %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @manutencaos_tipos_manutencao %> |
<%= link_to 'Back', manutencaos_tipos_manutencaos_path %>