<h1>Listing manutencaos_tipos_manutencaos</h1>

<table>
  <tr>
    <th>Tipos manuntencaos</th>
    <th>Manutencaos</th>
  </tr>

<% @manutencaos_tipos_manutencaos.each do |manutencaos_tipos_manutencao| %>
  <tr>
    <td><%=h manutencaos_tipos_manutencao.tipos_manuntencaos %></td>
    <td><%=h manutencaos_tipos_manutencao.manutencaos %></td>
    <td><%= link_to 'Show', manutencaos_tipos_manutencao %></td>
    <td><%= link_to 'Edit', edit_manutencaos_tipos_manutencao_path(manutencaos_tipos_manutencao) %></td>
    <td><%= link_to 'Destroy', manutencaos_tipos_manutencao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New manutencaos_tipos_manutencao', new_manutencaos_tipos_manutencao_path %>