
<div class="tabs">
  <br/>

  <% if  !@lancamentos.empty? %>

    <table bgcolor="#DCDCDC" width="100%">
      <tr bgcolor="#DCDCDC" >
        <td align="center" colspan="9"><b>Ficha: </b><%=h @ficha[0].ficha %> - <%=h @ficha[0].descricao %> </td>
      </tr>
      <tr bgcolor="#DCDCDC" >

        <td align="center" width ="5%"><b>Ficha</b></td>
        <td align="center"><b>Tipo</b></td>
        <td align="center"><b>Código</b></td>
        <td align="center"><b>Data</b></td>
        <td align="center"><b>Interessado</b></td>
        <td align="center"><b>Valor S.I.</b></td>
        <td align="center"><b>Valor EMP</b></td>
        <td align="center"><b>Valor O.P.</b></td>

      </tr>
      <% @lancamentos.each  do |lancamento| %>
        <tr  bgcolor="#F5F5F5">
          <td align="center"><%=h lancamento.rel_ficha %> </td>
          <td align="center"><%=h lancamento.rel_tipo %> </td>
          <td align="center"><%=h lancamento.rel_codigo %></td>
          <td align="center"><%if !lancamento.rel_data.nil? %><%=h lancamento.rel_data %> <%end%> </td>
          <td align="left">&nbsp;<%=h lancamento.rel_interessado %></td>
          <td align="right"><%=h lancamento.rel_valor_si %>&nbsp;</td>
          <%if lancamento.rel_tipo=='S.I.' and lancamento.rel_valor_em!='-o-'%>
            <td align="right"><font color="blue"><%=h lancamento.rel_valor_em %>&nbsp;</font></td>
          <%else%>
            <td align="right"><font color="red">
            <%if lancamento.rel_valor_em.nil?%>
                <%= "-x-"%>
            <%else%>
                <%if (lancamento.rel_tipo=='O.P.' and lancamento.rel_valor_em!='-o-')%>
                    <%=h lancamento.rel_valor_em%>
                <%else%>
                    <td align="right"><%=h lancamento.rel_valor_em %>&nbsp;</td>
                <%end%>
            <%end%>
          <%end%>
          &nbsp;</font></td>
          <td align="right"><%=h lancamento.rel_valor_op %>&nbsp;</td>

        </tr>
      <% end %>
    </table>
  <%else%>
    <table bgcolor="#DCDCDC" width="100%">
      <tr bgcolor="#DCDCDC"  >
        <td align="center" colspan="8"><b>NÃO EXISTE LANÇAMENTOS PARA ESTA FICHA </b></td>
      </tr>

    </table>


  <%end%>
  <div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div>
</div>
<br/>