<div id="interno2">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - LANÇAMENTOS</strong></font><br/>
 </div>
       <% form_remote_tag :url => consulta_lancamento_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
  <table  width="100%" bgcolor="#F5F5F5" >
        <tr bgcolor="#F5F5F5">
          <td align="left" colspan="5" >
               <a href="#" class="filtro_ano"><%= radio_button_tag(:type_of, "5") %></a>Data (Chegou na Seduc)
               <a href="#" class="filtro_orc"><%= radio_button_tag(:type_of, "1") %></a>Fornecedor/Interessado
               <a href="#" class="filtro_des"><%= radio_button_tag(:type_of, "2") %></a>Nº Ficha
               <a href="#" class="sem_filtro_orc"><%= radio_button_tag(:type_of, "4") %></a>Todos
           </td>
         </tr>
         <tr bgcolor="#F5F5F5">
           <td ><div class="consulta_ano" style="display:none"> <%= render "consulta_data" %>  </div></td>
           <td ><div class="consulta_orc" style="display:none"> <%= render "consulta_fornecedor" %>  </div></td>
           <td ><div class="consulta_des" style="display:none"> <%= render "consulta_ficha" %>  </div></td>
           <td ><div class="consulta_sem_filtro_orc" style="display:none"> <%= render "consulta_sem_filtro" %>  </div></td>

       </tr>
      </table>
    <% end %>
   <hr>
    <div id="lancamentos"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>

      <tr bgcolor="#F5F5F5">
       <td colspan="2">
         <table bgcolor="#F5F5F5">
          <tr>
             <td width="2%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
             <td width="2%"align="left" ><%= button_to('Cadastrar', new_orc_ficha_path, :title => "Novo")%></td>
             <td   align="left"><%= button_to "Consultar", consulta_orc_lancamentos_path, :title => "Consultar" %></td>
          </tr>
        </table>
       </td>
      </tr>

 

 <br/>
 </div>
<br/>
</div>
