
 <div class="tabs">
 <br/>
 
 <%if !@produtos.empty?%>

    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <td align="center"><b>Produto</b></td>
            <td align="center" width ="30%"><b>Fornecedor</b></td>
            <td align="center" width ="5%"><b>NºEmpenho</b></td>

            <td align="center"><b>Data Emp.</b></td>
            <td align="center"><b>Data Chegou.</b></td>
            <td align="center"><b>Saldo</b></td>
            <td align="center" width ="5%"><b>Status</b></td>

          </tr>
          <% @produtos.each  do |produto| %>
 
               <tr  bgcolor="#F5F5F5">

              <td align="center"><%=h produto.produto %></td>
              <td align="center"><%=h produto.fornecedor %></td>
              <td align="center"><%=h produto.nempenho %></td>
              <td align="center"><%if !produto.datae.nil? %><%=h produto.datae %> <%end%> </td>
              <td align="center"><%if !produto.datac.nil? %><%=h produto.datac%> <%end%> </td>
              <td align="center"><%=h produto.nempenho %></td>
            </tr>
          <% end %>
    </table>
   <%else%>
     <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
          <td align="center" colspan="6"><b>NÃO EXISTE LANÇAMENTOS</b></td>

            </tr>

    </table>
   <%end%>
</div>
    <br/>