<h1>Listing orc_empenhos</h1>

<table>
  <tr>
    <th>Orc pedido compra</th>
    <th>Codigo</th>
    <th>Processo</th>
    <th>Ficha</th>
    <th>Interessado</th>
    <th>Cnpj</th>
    <th>Modalidade</th>
    <th>Vencimento</th>
    <th>Validade</th>
    <th>Despesa</th>
    <th>Orcamentaria</th>
    <th>Destinacao</th>
    <th>Quantidade</th>
    <th>Descricao</th>
  </tr>

<% @orc_empenhos.each do |orc_empenho| %>
  <tr>
    <td><%=h orc_empenho.orc_pedido_compra %></td>
    <td><%=h orc_empenho.codigo %></td>
    <td><%=h orc_empenho.processo %></td>
    <td><%=h orc_empenho.ficha %></td>
    <td><%=h orc_empenho.interessado %></td>
    <td><%=h orc_empenho.cnpj %></td>
    <td><%=h orc_empenho.modalidade %></td>
    <td><%=h orc_empenho.vencimento %></td>
    <td><%=h orc_empenho.validade %></td>
    <td><%=h orc_empenho.despesa %></td>
    <td><%=h orc_empenho.orcamentaria %></td>
    <td><%=h orc_empenho.destinacao %></td>
    <td><%=h orc_empenho.quantidade %></td>
    <td><%=h orc_empenho.descricao %></td>
    <td><%= link_to 'Show', orc_empenho %></td>
    <td><%= link_to 'Edit', edit_orc_empenho_path(orc_empenho) %></td>
    <td><%= link_to 'Destroy', orc_empenho, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orc_empenho', new_orc_empenho_path %>