<div id="interno2">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - EMPENHO</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
             <% form_for(@orc_empenho) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Empenho</font></legend>
                    <table width="100%">
                      <tr>
                         <td width ="8%" align="left"><b>Número:</b></font></td>
                         <td colspan="6"><%= f.text_field :codigo, :size =>15%>
                                  &nbsp&nbsp <b>Processo:</b>  &nbsp<%= f.text_field :processo, :size =>20 %>&nbsp&nbsp
                                  &nbsp&nbsp  <b>Data Empenho: </b> &nbsp<%= datepicker_tag(:orc_empenho, :data,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp  <b>Data Chegada: </b> &nbsp<%= datepicker_tag(:orc_empenho, :data_chegou,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                         </td>
                      </tr>
                      <tr>
                         <td align="left"><b>Serviço:</b></td>
                         <td align="left"colspan="8"><%= f.collection_select :orc_pedido_compra_id, @pedidos_compra, :id, :codigo, :include_blank => '   '%>
                                          <%= observe_field 'orc_empenho_orc_pedido_compra_id',
                                                     :with   => :orc_empenho_orc_pedido_compra_id,
                                                     :url  => { :action => 'dados_pedido' },
                                                     :update => "pedido"%>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Vencimento:</b></font> &nbsp<%= datepicker_tag(:orc_empenho, :vencimento,{ :size => 8},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Validade: </b>&nbsp<%= datepicker_tag(:orc_empenho, :validade,{ :size => 8},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>Modalidade: </b>&nbsp<%= f.select:modalidade, (MODALIDADE).sort, :include_blank => ' ' %>
                         </td>
                       </tr>
                      <tr>

                     </tr>
                        <tr>
                          <td></td>
                          <td colspan="8">
                            <div id="pedido">
                                <table  width="100%" >
                                      <tr>
                                           <td align="left" width=" 5%"> <b>Interessado: </b> </td>
                                           <td align="left" colspan="6"><%= f.text_field :interessado, :size =>38%>
                                                  &nbsp&nbsp&nbsp&nbsp <b>CNPJ:</b> <%= f.text_field :cnpj, :size =>10%>
                                            </td>
                                       </tr>

                                        <tr>
                                          <td align="left" valign="top"><b>Ficha:</b></td>
                                           <td align="left" valign="top"> <%= f.collection_select :ficha, @fichas_emp, :ficha, :ficha, :include_blank => ' '  %>
                                                            <%= observe_field 'orc_empenho_ficha',
                                                                       :with   => :orc_empenho_ficha,
                                                                       :url  => { :action => 'dados_ficha' },
                                                                       :update => "dadosFicha"%>
                                           </td>

                                           <td colspan="2"><div id="dadosFicha"></div> </td>
                                        </tr>


                                 </table>









                            </div>
                          </td>
                        </tr>

                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td  align="left" ><%= button_to('Consultar', consulta_orc_pedido_compras_path, :method => "get",  :title => "Pedidos Compras")%></td>

                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>




    <%= render "orc_empenho_item" %>







