<div id="interno2">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - EMPENHO</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
             <% form_for(@orc_empenho) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Empenho</font></legend>
                    <table width="100%">
                      <tr>
                         <td width ="8%" align="left"><b>Nº Empenho:</b></font></td>
                         <td colspan="6"><%=h @orc_empenho.codigo%>
                                  &nbsp&nbsp <b>Nº Pedido:</b>  &nbsp<%=h @orc_empenho.npedido %>&nbsp&nbsp
                                  &nbsp&nbsp <b>Nº Processo:</b>  <%=h @orc_empenho.processo %>&nbsp&nbsp
                                  &nbsp&nbsp  <b>Data Empenho: </b> &nbsp<%if !@orc_empenho.data.nil?%>
                                                                             <%=h @orc_empenho.data.strftime("%d de %b de %Y") %>
                                                                          <%else%>
                                                                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                          <%end%>&nbsp&nbsp&nbsp&nbsp
                                  &nbsp&nbsp  <b>Data Chegada: </b> &nbsp<%if !@orc_empenho.data_chegou.nil?%>
                                                                             <%=h @orc_empenho.data_chegou.strftime("%d de %b de %Y") %>
                                                                          <%else%>
                                                                             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                          <%end%>&nbsp&nbsp&nbsp&nbsp

                         </td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"><b>Serviço:</b></td>
                        <% if  !@orc_empenho.orc_pedido_compra_id.nil?%>
                           <td align="left"><%=h @orc_empenho.orc_pedido_compra.codigo%>
                               <table  width="100%">

                                                     <tr>
                                                         <td align="left"> <b>Interessado: </b> </td>
                                                         <td align="left" colspan="6"><%=h @orc_empenho.orc_pedido_compra.fornecedor %>
                                                               &nbsp&nbsp <b>CNPJ:</b>
                                                         </td>
                                                     </tr>
                                                    <tr>
                                                      <td align="left" ><b>Ficha: </b> </td>
                                                      <td align="left" colspan="7"><%=h @orc_empenho.orc_pedido_compra.orc_ficha.ficha %>
                                                             &nbsp&nbsp&nbsp <b>Unidade Orcamentária: </b>
                                                             &nbsp Secretaria de Educação
                                                             &nbsp&nbsp&nbsp <b>Unidade Executora: </b>
                                                             &nbsp <%=h @orc_empenho.orc_pedido_compra.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao %>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" > <b>Projeto: </b></td>
                                                        <td colspan="7"> <%=h @orc_empenho.orc_pedido_compra.orc_ficha.orc_uni_orcamentaria.descricao %>
                                                             &nbsp&nbsp&nbsp&nbsp <b>Destinação:</b>
                                                             <%=h @orc_empenho.orc_pedido_compra.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao %>
                                                      </td>
                                                    </tr>

                                 </table>
                           </td>
                       <%end%>
                       </tr>

                        <tr>
                          <td colspan="8">
                            <div id="pedido"></div>
                          </td>
                        </tr>
                      <tr>
                         <td align="left" colspan="8"><b>Categoria Economica:</b> &nbsp<%if !@orc_empenho.cat_economica.nil?%>
                                                                                          <%=h @orc_empenho.cat_economica %>
                                                                                      <%else%>
                                                                                         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                                      <%end%>&nbsp&nbsp&nbsp&nbsp


                                 &nbsp&nbsp&nbsp&nbsp <b>Vencimento:</b></font> &nbsp <%if !@orc_empenho.vencimento.nil?%> 
                                                                                          <%=h @orc_empenho.vencimento %>
                                                                                      <%else%>
                                                                                         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                                      <%end%>&nbsp&nbsp&nbsp&nbsp


                                 &nbsp&nbsp&nbsp&nbsp <b>Validade: </b>&nbsp<%if !@orc_empenho.validade.nil?%>
                                                                                <%=h @orc_empenho.validade %>
                                                                            <%else%>
                                                                                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                            <%end%>&nbsp&nbsp&nbsp&nbsp

                                 &nbsp&nbsp&nbsp&nbsp <b>Modalidade: </b>&nbsp<%=h @orc_empenho.modalidade%>
                         </td>
                     </tr>
                      <tr>
                        <td align="left" valign="top"> <b><u><%= link_to 'Itens da Nota', "#inline_orc_empenho_item", :class =>"inline60" %></u></b></td>
                        <td colspan="7"><div id="dados"> <%= render :partial => 'orc_empenho_itens'  %></div></td>
                      </tr>

                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td  align="left" ><%= button_to('Consultar', consulta_orc_pedido_compras_path, :method => "get",  :title => "Pedidos Compras")%></td>

                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>




    <%= render "orc_empenho_item" %>







