<div id="interno3">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SEDUC/PMA - ATENDIMENTO / PLANEJAMENTO</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>

                <table  width="100%"  align="center"  bgcolor="#F5F5F5" >

                 <tr>
                   <td colspan="2">
                     <fieldset><legend><font  size=3> Atendimento</font></legend>
                         <table width="100%"  >
                        <tr>
                           <td width="10%"align="left"><font size="2"><b>Criança:</b></font></td>
                           <td width="50% align="left"><font size="2"><%=h @acompanhamento[0].crianca %></font></td>
                           <td width="15% align="left"><font size="2"><b>Nascimento:</b></font></td>
                           <td align="left"><font size="2"><%= @acompanhamento[0].nascimento.strftime("%d de %B de %Y") %></font></td>
                        </tr>
                        <tr>
                           <td width="10%"align="left"><font size="2"><b>Inscrição/RA:</b></font></td>
                           <td align="left"><font size="2"><%= @acompanhamento[0].inscricao %></font></td>
                           <td align="left"><font size="2"><b>Atendido  por:</b></font></td>
                           <td align="left"><font size="2"><%= @acompanhamento[0].funcionario %></font></td>
                        </tr>
                        <tr>
                           <td align="left"><font size="2"><b>Mãe/Pai:</b></font></td>
                           <td align="left" colspan="3"><font size="2"><%= @acompanhamento[0].mae %></font></td>
                        </tr>
                        <tr>
                           <td align="left" valign="top"><font size="2"><b>Assunto:</b></font></td>
                           <td align="left" colspan="3"><font size="2"><%= @acompanhamento[0].assunto %></font></td>
                        </tr>

                        <tr>
                            <td width="10%" valign="top"><b><font size="2"><b>Despacho:</b> </font></b></td>
                            <td colspan="3"><%= render :partial => 'acompanhamento_despachos'  %></td>
                        </tr>
                        <tr>
                            <%#*<td align="left" ><b>Status:</b></font></td>%>
                            <td align="left" colspan="" ></font><br/>
                                  <%if @acompanhamento[0].encerrado == 1 %>
                                <font color="RED"><b> ENCERRADO</b>
                                  <%else%>
                                     <font color="blue"><b> EM ABERTO </b>
                                  <%end%>
                            </td>
                        </tr>

                     </table>
                    </fieldset>
                   </td>
                 </tr>
                 <tr>
                   <td colspan="2">
                      <table width="40%" align="left">
                         <tr>
                            <td width="2%" align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td width="2%" align="left"> <%= button_to('Editar',{:action => "edit", :id =>@acompanhamento_despacho}, :method => "get", :title => "Editar") %></td>
                            <td  align="left"> <%= button_to('Encaninhamento', new_acompanhamento_despacho_path, :method => "get", :title => "Novo")%></td>
                         </tr>
                      </table>

                   </td>
                  </tr>

                 </table>
                 </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



