<p>
  <b>Despacho:</b>
  <%=h @acompanhamento_despacho.despacho %>
</p>

<p>
  <b>Despacho:</b>
  <%=h @acompanhamento_despacho.despacho %>
</p>

<p>
  <b>Data:</b>
  <%=h @acompanhamento_despacho.data %>
</p>

<p>
  <b>Obs:</b>
  <%=h @acompanhamento_despacho.obs %>
</p>


<%= link_to 'Edit', edit_acompanhamento_despacho_path(@acompanhamento_despacho) %> |
<%= link_to 'Back', acompanhamento_despachos_path %>