<h1>Listing orc_pedido_descricaos</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Item</th>
    <th>Quantidade</th>
    <th>Descricao</th>
    <th>Unitario</th>
    <th>Total</th>
    <th>Obs</th>
  </tr>

<% @orc_pedido_descricaos.each do |orc_pedido_descricao| %>
  <tr>
    <td><%=h orc_pedido_descricao.codigo %></td>
    <td><%=h orc_pedido_descricao.item %></td>
    <td><%=h orc_pedido_descricao.quantidade %></td>
    <td><%=h orc_pedido_descricao.descricao %></td>
    <td><%=h orc_pedido_descricao.unitario %></td>
    <td><%=h orc_pedido_descricao.total %></td>
    <td><%=h orc_pedido_descricao.obs %></td>
    <td><%= link_to 'Show', orc_pedido_descricao %></td>
    <td><%= link_to 'Edit', edit_orc_pedido_descricao_path(orc_pedido_descricao) %></td>
    <td><%= link_to 'Destroy', orc_pedido_descricao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orc_pedido_descricao', new_orc_pedido_descricao_path %>