<div id="interno3">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>DESCRIÇÃO PEDIDO COMPRA</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>

              <% form_for(@orc_pedido_descricao) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
       
      <table  width="100%" bgcolor="#F5F5F5" border="1">
         <tr>

            <td width="5%" align="center"><font size="2"><b>Qtd</b></font></td>
            <td width="5%" align="center"><font size="2"><b>Medida</b></font></td>
            <td width="35%"><font size="2"><b>Descricão</b></font></td>
            <td width="12%"><font size="2"><b>Unitário</b></font></td>
            <td width="20%"><font size="2"><b>Total</b></font></td>
         </tr>
        <tr>
            <td><%= f.text_field :quantidade, :size =>1, :id => 'unitario', :type => 'text',:onblur => "calcular()" %> == <%session[:ata_id]%></td>
            <td><%= f.text_field :medida, :size =>4 %></td>
            <td><% if  session[:ata].empty? %>
                       <%= f.text_field :descricao, :size =>38 %>
                <%else%>
                       <%= f.collection_select :descricao, @ata_itens, :descricao, :descricao, :include_blank => ' '  %>
                <%end%>

            </td>
            <td>R$ <%= f.text_field :unitario, :size =>4, :id => 'quantidade', :type => 'text',:onblur => "calcular()"  %></td>
            <td>R$ <%= f.text_field :total, :size =>18, :id=> 'subtotal' %></td>
        </tr>


        <tr>

           <td align="left" colspan="5"><%= f.submit "Salvar" %>&nbsp&nbsp

             <font color =" red"> <b>UTILIZE PONTO PARA SEPRAÇÃO DOS CENTAVOS - NÃO UTULIZE VÍRGULA </b></font><br/>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             

           </td>
        </tr>
       </table>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            

                         </tr>
                      </table>
                 </td>
                </tr>
               
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



