<h1>Editing orc_suplementacao</h1>

<% form_for(@orc_suplementacao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :orc_ficha %><br />
    <%= f.text_field :orc_ficha %>
  </p>
  <p>
    <%= f.label :processo %><br />
    <%= f.text_field :processo %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :orcamentaria %><br />
    <%= f.text_field :orcamentaria %>
  </p>
  <p>
    <%= f.label :destinacao %><br />
    <%= f.text_field :destinacao %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @orc_suplementacao %> |
<%= link_to 'Back', orc_suplementacaos_path %>