<div id="interno4">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - ITENS DE EMPENHO.</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
             <% form_for(@orc_empenho_iten) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Empenho</font></legend>
                    <table width="100%">
                      <tr>
                         <td align="left"><b>Emepnho nº:</b></td>
                         <td align="left"colspan="8"><%= @orc_empenho[0].codigo %>

                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>de </b> <%if !@orc_empenho[0].created_at.nil? %><%=h  @orc_empenho[0].created_at.strftime("%d de %b de %Y") %> <%end%>

                         </td>
                       </tr>

                        <tr>
                          <td></td>
                          <td colspan="8">
                               <table  width="100%"bgcolor="#DCDCDC">

                                 <tr bgcolor="#DCDCDC" >

                                    <td width="10%" align="center"><font size="2"><b>Qtd</b></font></td>
                                    <td width="40%"><font size="2"><b>Descricão</b></font></td>
                                    <td width="15%" align="center"><font size="2"><b>Unitário</b></font></td>
                                    <td width="20%" align="center"><font size="2"><b>Total</b></font></td>
                                 </tr>
                                <tr bgcolor="#F5F5F5" >
                                    <td align="center"><%= f.text_field :quantidade, :autofocus=>true, :size =>5, :id => 'unitario', :type => 'text',:onblur => "calcular()" %></td>
                                    <td><%= f.text_field :descricao, :size =>30, :readonly=>"readonly" %></td>
                                    <td align="center">R$ <%= f.text_field :unitario, :size =>5, :readonly=>"readonly", :id => 'quantidade', :type => 'text',:onblur => "calcular()"  %></td>
                                    <td align="center">R$ <%= f.text_field :total, :size =>10, :readonly=>"readonly", :id=> 'subtotal' %></td>
                                </tr>



                               </table>
                          </td>
                        </tr>

                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td  align="left" ><%= button_to('Consultar', consulta_orc_pedido_compras_path, :method => "get",  :title => "Pedidos Compras")%></td>

                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



