<div id="interno5">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - SALDO QUANTIDADE DE EMPENHO.</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
             <% form_for(@orc_empenho_iten) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Empenho</font></legend>
                    <table width="100%">
                      <tr>
                         <td align="left"><b>Emepnho nº:</b></td>
                         <td align="left"colspan="8"><%= @orc_empenho[0].codigo %>

                                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b>de </b> <%if !@orc_empenho[0].created_at.nil? %><%=h  @orc_empenho[0].created_at.strftime("%d de %b de %Y") %> <%end%>

                         </td>
                       </tr>

                        <tr>
                          <td></td>
                          <td colspan="8">
                               <table  width="100%"bgcolor="#DCDCDC">
                                   <tr bgcolor="#F5F5F5">
                                       <td align="center"><font size="2"><b>Descricão:</b></font></td>
                                       <td colspan="3"><%= f.text_field :descricao, :size =>38, :readonly=>"readonly" %></td>
                                   </tr>
                                   <tr bgcolor="#F5F5F5">
                                       <td align="center"><font size="2"><b>R$ Unitário:</b></font></td>
                                       <td align="left">R$ <%= f.text_field :unitario, :size =>5, :readonly=>"readonly", :id => 'quantidade', :type => 'text',:onblur => "calcular()"  %></td>
                                       <td align="right"><font size="2"><b> R$ Total: </b></font></td>
                                       <td align="center">R$ <%= f.text_field :total, :size =>10, :readonly=>"readonly", :id=> 'subtotal' %></td>
                                   </tr>
                                 <tr bgcolor="#DCDCDC" >

                                    <td align="center"><font size="2"><b>Qtd NF</b></font></td>
                                    <td ><font size="2"><b>Saldo Empenho</b></font></td>
                                    <td align="center"><font size="2"><b>Saldo Atual</b></font></td>

                                 </tr>
                                <tr bgcolor="#F5F5F5" >

                                   <td Align="left"><%= f.text_field :nf, :size =>10, :id=> 'nf', :readonly=>"readonly", :value => @produto[0].quantidade_nf  %></td>
                                   <td align="center"><%= f.text_field :quantidade, :autofocus=>true, :size =>5, :id => 'unitario', :type => 'text',:onblur => "calcular()" %></td>
                                   <td colspan="2"align="left"><%= f.text_field :saldo, :size =>10, :id=> 'saldo' %></td>
                                </tr>



                               </table>
                          </td>
                        </tr>











                        <tr>
                          <td></td>
                          <td colspan="8">
       <table  width="100%"bgcolor="#DCDCDC">





       </table>
                          </td>
                        </tr>

                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>


                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



