

 <div class="tabs">
 <br/>

 <%if !@atas.empty?%>

    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <td align="center" width ="5%"><b>Ata</b></td>
            <td align="center" ><b>Processo</b></td>
            <td align="center" ><b>Modalidade</b></td>
            <td align="center" ><b>Fornecedor</b></td>
            <td align="center" width ="30%"><b>Produto</b></td>
            <td align="center"><b>Saldo Inicial</b></td>
            <td align="center"><b>Saldo Atual</b></td>
            <td align="center" ><b></b></td>



          </tr>
          <% nrnf = @atas[0].codigo_ata%>
          <% nrata = ' '%>
          <% @atas.each  do |ata| %>

              <%if nrnf!=ata.codigo_ata%>
                <tr>
                    <td>&nbsp</td>
                </tr>
                 <%nrnf=ata.codigo_ata%>
                 <% nrata = ' '%>
              <%end%>
              <tr  bgcolor="#F5F5F5">
              <%if nrata!= ata.codigo_ata%>
                  <td align="center"><%=h ata.codigo_ata %></td>
                  <td align="center"><%=h ata.processo %></td>
                  <td align="center"><%=h ata.modalidade %></td>
                  <td align="center"><%=h ata.fornecedor %></td>
                  <% nrata = ata.codigo_ata%>
              <%else%>
                  <td align="center">&nbsp</td>
                  <td align="center">&nbsp</td>
                  <td align="center">&nbsp</td>
                  <td align="center">&nbsp</td>
              <%end%>

              <td align="left"><%=h ata.produto %></td>
              <td align="center"><%=h ata.quantidade %> </td>
              <td align="center"><%=h ata.saldo%> </td>
              <%  if  (session[:pedido_user_id] == session[:current_user])or (current_user.has_role?('admin'))  %>
                      <td align="center"><%= button_to 'Editar', {:controller=>'orc_ata_itens',:action => "edit", :id =>ata.item_id}, :method => "get", :title => "Editar"%></td>

              <%else %>
                      <td align="center">-- </td>
              <%end%>




            </tr>

          <% end %>

    </table>
   <%else%>
     <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
          <td align="center" colspan="6"><b>NÃO EXISTE LANÇAMENTOS</b></td>

            </tr>

    </table>
   <%end%>
</div>
    <br/>