<div id="interno3">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong> ORÇAMENTO SEDUC/PMA - ATA DE REGISTRO DE PREÇO </strong></font><br/>
 </div>
 <table width="100%"  bgcolor="white">
        <tr>
            <td rowspan="1"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td><center><font size="4"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
            </td>
        </tr>
    <tr>
       <td colspan="4"><hr/></td>
     </tr>



 </table>
  <table  width="100%"  bgcolor="white" >
       <tr>
           <td colspan="4" align="left"><b> ATA DE RESITRO DE PREÇO Nº <%=h @orc_ata.codigo %> <br/>
                                       <%=h @orc_ata.modalidade %> Nº  <%=h @orc_ata.numero %> <br/>
                                       PROCESSO ADMINISTRATIVO Nº  <%=h @orc_ata.administrativo %> </b><br/><br/>
          </td>
      </tr>
      <tr>
        <td align="left"> <b>Data:</b> </td> <td> <%if !@orc_ata.data.nil? %><%=h @orc_ata.data.strftime("%d de %b de %Y") %> <%end%></td>
      </tr>
      <tr>
        <td align="left" ><b>Objetivo: </b></td> <td> <%=h @orc_ata.objetivo %> </td>
      </tr>
      <tr>
        <td align="left" ><b>Interessado: </b></td> <td> <%=h @orc_ata.interessado %> </td>
      </tr>
      <tr>
         <td><b>CNPJ/CPF:</b> </td> <td><%= @orc_ata.cnpj%>
                          &nbsp&nbsp <b>IE:</b> <%= @orc_ata.ie%>
                          &nbsp&nbsp  <b>Contato:  </b> <%=  @orc_ata.contato%>
         </td>
     </tr>
     <tr>
         <td align="left" width=" 5%"> <b>Endereço: </b> </td>
         <td align="left" colspan="6"><%= @orc_ata.endereco %></td>
     </tr>
     <tr>
         <td> <b>Cidade:</b></td>
         <td><%= @orc_ata.cidade%>
         &nbsp&nbsp <b>Estado:</b> <%= @orc_ata.estado%>
         &nbsp&nbsp <b>CEP:</b> <%= @orc_ata.cep%>
       </td>
    </tr>
    <tr>
        <td> <b>Telefone: </b></td>
        <td> <%= @orc_ata.fone%> &nbsp&nbsp <b>E-mail:</b> <%= @orc_ata.email%></td>
    </tr>
      <tr>
        <td colspan="4">
            <table  border="1" cellspacing="0" cellpadding="1" width="100%">
                <tr bgcolor= white >
                  <td align="center"><b>Item</b></td>
                  <td align="center" width ="10%"><b>Quant.</b></td>
                  <td align="center" width =" 50%"><b>Descrição</b></td>
                  <td align="center"><b>Unitário</b></td>
                  <td align="center"><b>Valor</b></td>
                </tr>
                <%contador=1%>
                <% session[:soma]=0 %>
                <% total_geral = 0.00 %>
                <% if !@orc_ata_itens.nil? %>
                    <% @orc_ata_itens.each do |item|%>
                      <tr>
                         <td align="center"><%= contador%> </td>
                         <td align="center"><%= item.quantidade%> </td>
                         <td align="left"> <%= item.descricao%> </td>
                         <td align="center"> R$ <%= item.unitario%> </td>
                         <td align="center"> R$ <%= item.total%> </td>
                       </tr>
                      <% contador = contador+1%>
                      <% total_geral = total_geral+ item.total%>
                    <%end%>
               <%end%>
                       <tr>
                         <td colspan="4" align="right"><b>Total Geral </b> &nbsp&nbsp&nbsp&nbsp </td>
                         <td align="center"> R$ <%= total_geral %></td>

                       </tr>
              </table>

        </td>
      </tr>
    <tr>
        <td ><b>OBS:</b></font></td>
        <td colspan="6"><%= @orc_ata.obs%></td>
    </tr>
  </table>


      <table>
           <tr>
              <td  width="2%"align="left" ><%= button_to('Cadastrar', new_orc_ata_path, :method => "get", :title => "Cadastrar")%></td>
              <td  width="2%"align="left" ><%= button_to('Consultar', consulta_orc_atas_path, :method => "get", :title => "Fechar")%></td>
              <td  align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
               <td align="right" colspan="1"><%= button_to('Editar', {:action => "edit", :id => @orc_ata.id},:method => "get", :title => "Editar") %></td>


            </tr>
      </table>

</font>
<br/>

</div>
<br/>
</div>





