<p>
  <b>Codigo:</b>
  <%=h @orc_pedido_descricao.codigo %>
</p>

<p>
  <b>Item:</b>
  <%=h @orc_pedido_descricao.item %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @orc_pedido_descricao.quantidade %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @orc_pedido_descricao.descricao %>
</p>

<p>
  <b>Unitario:</b>
  <%=h @orc_pedido_descricao.unitario %>
</p>

<p>
  <b>Total:</b>
  <%=h @orc_pedido_descricao.total %>
</p>

<p>
  <b>Obs:</b>
  <%=h @orc_pedido_descricao.obs %>
</p>


<%= link_to 'Edit', edit_orc_pedido_descricao_path(@orc_pedido_descricao) %> |
<%= link_to 'Back', orc_pedido_descricaos_path %>