  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
            <th width="10%">Login</th>
            <th width="15%">Acesso de</th>
            <th width="35%">Descricao</th>
            <th width="40%">Unidade</th>
            <th width="10%"></th>
        </tr>
        <%$t1=0%>
        <% for role_user in @role_users %>
        <%$t1=$t1+1%>
          <tr bgcolor="	#F5F5F5">
            <td ><%= User.find(role_user.user_id).login %></td>
             <%if  Role.find(role_user.role_id).name == 'admin' then%>
                 <td >Administrador</td>
                 <td>Acesso total ao sistema</td>
               <%else%>
                   <%if  (Role.find(role_user.role_id).name == 'estagiario unidade') or (Role.find(role_user.role_id).name == 'estagiario SEDUC') then%>
                      <td>Estagiário.</td>
                      <td>Acesso de estagiário</td>
                  <%else%>
                     <%if  Role.find(role_user.role_id).name == 'admin_manutencao' or (Role.find(role_user.role_id).name == 'protocolo') then%>
                       <td>SEDUC</td>
                       <td>Acesso funcinário SEDUC</td>
                     <%else%>
                           <%if  Role.find(role_user.role_id).name == 'diretor_unidade' or (Role.find(role_user.role_id).name == 'diretor_SEDUC') then%>
                             <td>Gestão SEDUC.</td>
                             <td>Acesso Diretor de Unidade </td>
                           <%else%>
                                  <%if  Role.find(role_user.role_id).name == ' 	secretaria' then%>
                                   <td>Secretaria U.E.</td>
                                   <td>Acesso secretaria de Unidade </td>
                                 <%else if  Role.find(role_user.role_id).name == 'SEDUC_ORC_SI' or (Role.find(role_user.role_id).name == 'SEDUC_ORC_SALDO') or (Role.find(role_user.role_id).name == 'ORC_SI') or (Role.find(role_user.role_id).name == 'ORC_OP') or (Role.find(role_user.role_id).name == 'diretor_SEDUC') then%>
                                       <td>SEDUC.</td>
                                       <td>Acesso SEDUC</td>
                                       <%else  if  Role.find(role_user.role_id).name == 'secretaria_infantil' then%>
                                               <td>Secretaria U.E.</td>
                                               <td>Secretária de Unidade Escolar - Infantil</td>
                                               <%else if  Role.find(role_user.role_id).name == 'direcao_infantil' then%>
                                                     <td>Direção U.E.</td>
                                                     <td>Direção de Unidade Escolar - Infantil</td>
                                                     <%else if  Role.find(role_user.role_id).name == 'professor_infantil' then%>
                                                         <td>Professor U.E.</td>
                                                         <td>Professor de Unidade Escolar - Infantil</td>
                                                         <%else%>
                                                             <td>Usuário</td>
                                                             <td><font color ="red">Sem acesso ao sistema.</font></td>
                                                         <%end%>
                                                    <%end%>
                                               <%end%>
                                       <%end%>
                                 <%end%>
                           <%end%>
                     <%end%>
                  <%end%>
               <%end%>


            <td align="center" >
              <% if  !role_user.user.unidade.nil?%>
                 <%= truncate(role_user.user.unidade.nome,:length => 28,:omission => "...") %></b>
             <%else%>
                  ???
              <%end%>

            </td>
                                     
 <!--           <td align="center"><%= button_to 'Visualizar',{:action => "show", :id =>role_user}, :method => "get", :title => "Visualizar"%></td>-->





            <% if current_user.has_role?('admin') or current_user.has_role?('direcao_fundamental') or current_user.has_role?('direcao_infantil')or current_user.has_role?('diretor_unidade')%>
                <td align="center" ><%= button_to 'Editar',{:action => "edit", :id =>role_user}, :method => "get", :title => "Editar"%></td>
            <%else%>
                <td align="center" > -- </td>
            <%end%>
           <% if current_user.has_role?('admin') %>
                <td align="center" colspan="1"><%= button_to 'Excluir', role_user, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>
            <%else%>
                <td align="center" > -- </td>
            <%end%>
         </tr>
       <% end %>



     </table>
     <table bgcolor="#DCDCDC" width="100%">
      <tr >
          <td align="left"><b>TOTAL USUÁRIOS DO SISTEMA: </b>
            <b><%=$t1 %></b>
          </td>
        
      </tr>
    </table>
  </div>
