<br/><br/>
<table width="50%" class="tabelas3" align="center">
   <tr>
        <th align="left">
           <font size=5 color="black"> <b> NÍVEL DE ACESSO</b></font>
        </th>
        <td width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>
    </tr>
 <tr>
   <td colspan="2">
   <font  size=2>
   <table width="100%">
     <% form_for(@role_user) do |f| %>
     <%@user = User.find(:all,:conditions => ['id = ' + @role_user.user_id.to_s])%>
     <%= f.error_messages %>
      <tr>
       <td><%= f.label :user_id,'Selecione o Usuário' %></td>
       <td><%= f.collection_select  :user_id,@user, :id, :login, :include_blank => ' -- Selecione -- ' %>
      </tr>
      <tr>
       <td><%= f.label :role_id,'Selecione o nível de acesso :' %></td>
       <td><%= f.collection_select  :role_id,@roles, :id, :name, :include_blank => ' -- Selecione -- ' %>
             <%= observe_field :roles_user_role_id,
             :with => :roles_user_role_id,
             :url => { :action => 'role_id' } %>
             <div id="aviso"></div>
       </tr>
  </table>
 </font>
 <br/>
 <table  width="50%" align="left">
  <tr>
      <div id="certeza">
        <table width="40%" align="right">
           <tr>
             <td align="right"><%= f.submit "Gravar" %> </td>
<% end %>
              <td width="2%" align="right"><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
           </tr>
        </table>
      </div>
   </tr>
</table>
 
</td>
</tr>
</table>
<br/>
