<br/><br/>
<font size="2">
<table  class="tabelas" width="50%"align="center">
  <tr>
    <th align="left">
       <font  size=4 color="black"> <b> NÍVEL DE ACESSO </b></font>
    </th>
    <td width="7%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
  </tr>
<tr>
  <td colspan="2">
    <br/>
     <table width="100%" border="2">
      <tr>
        <th>Login:</th>
        <th>Nome Usuário:</th>
        <th>Nível de acesso:</th>
      </tr>
      <tr>
        <td><%= User.find(@role_user.user_id).login %></td>
        <td><%= Role.find(@role_user.role_id).name %></td>

              <%if Role.find(@role_user.role_id).name == 'administrador' then%>
                  <td>Usuário administrador do sistema. Acesso total ao sistema.</td>
              <%else%>
                  <td>Usuário estagiário. Acesso restrito ao sistema.</td>
              <%end%>
      </tr>
     </table>
   <div class="botao">
      <table>
           <tr>
              <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
              <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                  <td align="right" width="4%" ><%= button_to('Editar',{:action => "edit", :id => @role_user}, :method => "get", :title => "Editar")%></td>
              <%end%>
              <td align="right" width="4%" ><%= button_to('Imprimir', onclick="javascript:window.print()", :title => "Imprimir") %></td>
            </tr>
      </table>
   </div>
   </td>
  </tr>
 </table>
</font>
<br/>




