<br/>
<table align="right" >
  <tr>
    <td><font size="3" color="red">
      <b>ANTES DE RESERVAR UMA SALA VERIFIQUE SE ESTÀ DISPONÍVEL<br/>
      E SE NÂO CONSTA MENHUMA RESERVA NO MESMO DIA E HORA.</font></b>
    </td>
    <td align="right" ><%= button_to("Voltar",  homes_path, :method => "get", :title => "Voltar")%></td>
    <td width="2%" align="right" ><%= button_to("Imprimir", onclick="javascript:window.print()", :title => "Imprimir") %></td>
    <td width="2%"><%= button_to("Agendar", new_reservar_sala_path,  :title => "Agendar") %></td>
   <tr>
</table>

<% if @reservar_salas.present? %>
  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d"), :search => params[:search] %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d"), :search => params[:search] %>
    </h2>
    <% calendar_for @reservar_salas, :year => @date.year, :month => @date.month, :search => params[:search] do |calendar| %>
      <%= calendar.head('Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado') %>
      <% calendar.day(:day_method => :data_reserva) do |date, articles| %>
        <%= date.day %>
        <ul>
          <% for data in articles %>
            <li><%= link_to h(data.sala.sala), data%><br/>
                das <%= data.horario_reservai.strftime("%T")%> às<%= data.horario_reservaf.strftime("%T")%>
            </li>

          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<%end%>
<br/>
<table align="right">
  <tr>
    <td align="right" ><%= button_to("Voltar",  homes_path, :method => "get", :title => "Voltar")%></td>
    <td width="2%" align="right" ><%= button_to("Imprimir", onclick="javascript:window.print()", :title => "Imprimir") %></td>
    <td width="2%" align="right"><%= button_to("Agendar", new_reservar_sala_path,  :title => "Agendar") %></td>
   <tr>
</table>

