<h1>Listing reservar_salas</h1>

<table>
  <tr>
    <th>Sala</th>
    <th>Servico</th>
    <th>Data reserva</th>
    <th>Horario reserva</th>
    <th>Utilizacao</th>
    <th>Solicitante</th>
    <th>Obs</th>
  </tr>

<% @reservar_salas.each do |reservar_sala| %>
  <tr>
    <td><%=h reservar_sala.sala %></td>
    <td><%=h reservar_sala.servico %></td>
    <td><%=h reservar_sala.data_reserva %></td>
    <td><%=h reservar_sala.horario_reserva %></td>
    <td><%=h reservar_sala.utilizacao %></td>
    <td><%=h reservar_sala.solicitante %></td>
    <td><%=h reservar_sala.obs %></td>
    <td><%= link_to 'Show', reservar_sala %></td>
    <td><%= link_to 'Edit', edit_reservar_sala_path(reservar_sala) %></td>
    <td><%= link_to 'Destroy', reservar_sala, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reservar_sala', new_reservar_sala_path %>