<h1>New reservar_sala</h1>

<% form_for(@reservar_sala) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sala %><br />
    <%= f.text_field :sala %>
  </p>
  <p>
    <%= f.label :servico %><br />
    <%= f.text_field :servico %>
  </p>
  <p>
    <%= f.label :data_reserva %><br />
    <%= f.datetime_select :data_reserva %>
  </p>
  <p>
    <%= f.label :horario_reserva %><br />
    <%= f.datetime_select :horario_reserva %>
  </p>
  <p>
    <%= f.label :utilizacao %><br />
    <%= f.text_field :utilizacao %>
  </p>
  <p>
    <%= f.label :solicitante %><br />
    <%= f.text_field :solicitante %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reservar_salas_path %>