<p>
  <b>Sala:</b>
  <%=h @reservar_sala.sala %>
</p>

<p>
  <b>Servico:</b>
  <%=h @reservar_sala.servico %>
</p>

<p>
  <b>Data reserva:</b>
  <%=h @reservar_sala.data_reserva %>
</p>

<p>
  <b>Horario reserva:</b>
  <%=h @reservar_sala.horario_reserva %>
</p>

<p>
  <b>Utilizacao:</b>
  <%=h @reservar_sala.utilizacao %>
</p>

<p>
  <b>Solicitante:</b>
  <%=h @reservar_sala.solicitante %>
</p>

<p>
  <b>Obs:</b>
  <%=h @reservar_sala.obs %>
</p>


<%= link_to 'Edit', edit_reservar_sala_path(@reservar_sala) %> |
<%= link_to 'Back', reservar_salas_path %>