<p>
  <b>Nome:</b>
  <%=h @seduc_candidato.nome %>
</p>

<p>
  <b>Apelido:</b>
  <%=h @seduc_candidato.apelido %>
</p>

<p>
  <b>Matricula:</b>
  <%=h @seduc_candidato.matricula %>
</p>

<p>
  <b>Funcao:</b>
  <%=h @seduc_candidato.funcao %>
</p>

<p>
  <b>Unidade:</b>
  <%=h @seduc_candidato.unidade %>
</p>

<p>
  <b>Votos:</b>
  <%=h @seduc_candidato.votos %>
</p>

<p>
  <b>Seduc funcionario:</b>
  <%=h @seduc_candidato.seduc_funcionario %>
</p>


<%= link_to 'Edit', edit_seduc_candidato_path(@seduc_candidato) %> |
<%= link_to 'Back', seduc_candidatos_path %>