<div id="interno5">
<% title "AULASEVENTUAL".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>FALTAS</strong></font><br/>
 </div>

  <div class="tabs">
     <% form_for(@aulas_falta) do |f| %>
      <%= f.error_messages %>
             <br/>
             <table  width="100%"  align="center"  bgcolor="#F5F5F5"  >
                <tr   bgcolor ="#E6E2D">
                  <td colspan="8"><b><font size="3"> &nbsp CADASTRAR FALTA &nbsp  </b></td>
                </tr>
                <tr>
                  <td colspan="8"><hr></td>
                </tr>
               
               <tr>
                   <td colspan="8"><font color ="RED"> <b><u>Atenção:</u> Selecionar primeiro a DATA, PERIODO, CATEGORIA e depois a  UNIDADE.</b></font><br/><br/></td>
               </tr>
               <tr>
               <td align="right" width="10%">  <b>Data: </b>&nbsp</td>
                   <td>
                                    &nbsp<%= datepicker_tag(:aulas_falta, :data,{ :size => 10},{:dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                                       <%= observe_field 'aulas_falta_data',
                                                     :with   => :aulas_aulas_data,
                                                     :url  => { :action => 'data_falta' }%>
                                     &nbsp&nbsp&nbsp
                                     <b>Tipo Falta: </b>&nbsp
                                     <%= f.select :tipo, (AulasFalta::FALTA).sort, :include_blank => ' -- Selecionar -- ' %>
                  </td>
                </tr>
                <tr> 
                    <td>&nbsp <b>Unidade: </b>&nbsp</td>
                    <td>                <%= collection_select :aulas_falta, :unidade_id, @unidades_infantil, :id, :nome, :include_blank => ' -- Selecionar -- ' %>
                                       <%= observe_field 'aulas_falta_unidade_id',
                                                     :with   => :aulas_falta_unidade_id,
                                                     :url  => { :action => 'nome_falta' },
                                                     :update => "professor"%>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> <div id="professor"><br/></div> </td>
              </tr>

                <tr>
                    <td colspan="2"><div id="observacao"></div> </td>
              </tr>

                <tr>
                   <td align="left" valign="top"><b>Observação:</b></td>
                   <td align="left" colspan="5"><%= f.text_area(:obs,:cols => "45", :rows => "3") %></td>

               </tr>
           </table>

             <table width="100%"  align="center">
                    <tr>
                       <td width="5px"align="left"><%= f.submit 'Salvar' %></td>
      <% end %>
                       <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                       

                   </tr>
                </table>





     </div>
   </div>
</div>
<br/>


