<% form_for(@emprestimo) do |f| %>
  <%= f.error_messages %>
 <table class="tabelas" width="50%" align="center">
  <tr>
   <th colspan="2" align="left">
     <font  size=5><b> EMPRESTIMO DATASHOW</b></font>
   </th>
  </tr>
  <tr>
    <td align="center">
      <b><font color="red" size ="2"> ANTES DE SOLICITAR VERIFIQUE NO CALENDÁRIO SE O EQUIPAMENTO<br/>
      JÁ ESTÁ SENDO UTIlIZADO</font></b>
    </td>
  </tr>
   <tr>
     <td>
       <table>
        <tr> 
           <td align="left"><font size=2><b>Departamento:</b></font></td>
           <td align="left"><font size=2><%= f.collection_select  :departamento_id, @departamentos, :id, :depto, :include_blank => ' --- Selecione opção ---'  %></td>
       </tr>
       <tr>
          <td align="left"><font size=2><b>Data:</b></font></td>
          <td align="left"><font size=2><%= f.date_select :emprestimo %></font></td>
      </tr>
       <tr>
          <td align="left"><font size=2><b>Perí odo:</b></font></td>
          <td align="left"><font size=2><%= f.text_field :periodo %>
            <br/> Exemplo: das 10:00 às 12:00 horas.</font></td>
      </tr>

      <tr>
          <td align="left"><font size=2><b>Solicitante:</b></font></td>
          <td align="left"><font size=2><%= f.text_field :responsavel, :size => 30 %></font></td>
      </tr>
      <tr>
          <td align="left" valign="top"><font size=2><b>Propósito:</b></font></td>
          <td align="left"><font size=2><%= f.text_area(:obs, :cols =>45, :rows => "2") %></font></td>
      </tr>
     <table>
        <tr>
           <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
           <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"></td>
          <% end %>
        </tr>
     </table>
    </table>
   </td>
  </tr>
 </table>
 <br/>

