z<h1>New despacho</h1>

<% form_for(@despacho) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :prefprotocolo %><br />
    <%= f.text_field :prefprotocolo %>
  </p>
  <p>
    <%= f.label :procedencia %><br />
    <%= f.text_field :procedencia %>
  </p>
  <p>
    <%= f.label :data_recebimento %><br />
    <%= f.datetime_select :data_recebimento %>
  </p>
  <p>
    <%= f.label :para %><br />
    <%= f.text_field :para %>
  </p>
  <p>
    <%= f.label :despacho %><br />
    <%= f.text_field :despacho %>
  </p>
  <p>
    <%= f.label :destino %><br />
    <%= f.text_field :destino %>
  </p>
  <p>
    <%= f.label :data_saida %><br />
    <%= f.datetime_select :data_saida %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', despachos_path %>