<div id="interno8">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>USUÁRIO - INFOSEDUC</strong></font><br/>
 </div>
 <table bgcolor="#F5F5F5" width="100%">
   <tr  bgcolor="#F5F5F5" width="100%">
     <td>
       <fieldset><legend><font  size=3><b> Usuário</b></font></legend>
             <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
       <% form_for(@users) do |f| %>
       <%= f.error_messages %>
         <tr bgcolor="	#F5F5F5">
            <th align="left">Login:</th> <td><%=h @users.login %></td>
         </tr>
         <tr>
             <%if Role.find(@users.roles_user.role_id).name == 'admin' then%>
               <td>Administrador do sistema. Acesso total ao sistema.</td>
             <%else%>
                 <%if Role.find(@users.roles_user.role_id).name == 'empresa' then%>
                    <th align="left">Nível de acesso:</th> <td>EMPRESA. Acesso restrito aos dados da empresa</td>
                <%else%>
                   <%if Role.find(@users.roles_user.role_id).name == 'obreiro' then%>
                     <th align="left">Nível de acesso:</th> <td>OBREIRO. Acesso restrito aos dados do obreiro.</td>
                   <%else%>
                       <th align="left">Nível de acesso:</th> <td>Usuário sem acesso ao sistema.</td>
                   <%end%>
                <%end%>
             <%end%>
         </tr>
         <tr>
             <th align="left">Data Cadastramento:</th><td align="left"> <%=h @users.created_at.strftime("%d/%m/%y") %></td>
          </tr>
       <%end%>
    </table>
       </fieldset>
     </td>
   </tr>
   <tr>
       <td>


  <fieldset bgcolor="#F5F5F5"><legend><font  size="3" color="red"<b> ATENÇÃO</b></font></legend>
        <table>
      <tr bgcolor="#F5F5F5">
          <td ><font color="red"><b>APÓS CRIAR USUÀRIO E SENHA É NECESSÁRIO CONTACTAR A INFORMÁTICA/SEDUC PARA LIBERÇÃO DO MESMO.</b></td>
     </tr>
   </table>
  </fieldset>
       </td>
   </tr>
      </table>
    <table>
      <tr>
         <td width="8%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
         <% if current_user.has_role?('admin') or current_user.has_role?('escola') %>
             <td><%= button_to "Editar",{:action => "edit", :id => @users}, :method => "get", :title => "Alterar Dados"%></td>
        <%end%>

     </tr>
   </table>
</div>
  <br/>
</div>



