         <br/>
      <font  size="2">
        <table border="2" width="100%">
          <tr>
            <th width ="1%" align="center">Protocolo</th>
            <th width ="5%">Data sol</th>
            <th width ="10%">Solicitante</th>
            <th width ="15%">Unidade</th>
            <th width ="20%"colspan="2">Problema</th>
            <th width ="20%"  >Procedimentos Executados</th>
            <th width="8%">Status</th>
            <% if current_user.has_role?('administrador') or current_user.has_role?('admin_manutencao')  %>
               <th align="center">Encaminhar</th>
                <th>Visualizar</th>
            <%end%>
            <% if current_user.has_role?('administrador') or current_user.has_role?('chefia_manutencao')  %>
                <th align="center">OS</th>
            <%end%>
            <% if current_user.has_role?('administrador') or current_user.has_role?('chefia_manutencao')  %>
                <th align="center">Imprimir</th>
            <%end%>
          </tr>
          <%form_tag selected_print_manutencaos_path, :method => :get do %>
            <% for chamado in @manutencaos %>
              <tr>
               <td align="center"><%=h chamado.id %></td>
               <td align="center"><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
               <td align="center"><%=h chamado.solicitante %></td>
               <td><%=h chamado.unidade.nome %></td>
               <td colspan="2"><%=h chamado.descricao %></td>
               <td> <%=h chamado.procedimentos%>  </td>
               <% if chamado.situacao_manutencao.situacao == 'EM ABERTO'  %>
                   <td><font color="red"><%=h chamado.situacao_manutencao.situacao %></font></td>
               <% else %>
                    <td><%=h chamado.situacao_manutencao.situacao %></td>
               <% end %>
               <% if current_user.has_role?('administrador')  or current_user.has_role?('admin_manutencao')  %>
                   <td align="center" width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/write.png", :size => "30x30"), {:action => "despacho", :id =>chamado}, :method => "get", :title => "Encaminhamento" %></td>
                   <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"), chamado, :title => "Visualização" %></td>
                <%end%>
               <% if current_user.has_role?('administrador') or current_user.has_role?('chefia_manutencao')  %>
                    <td align="center" width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/listar.png", :size => "30x30"), {:action => "ordemservico", :id =>chamado}, :method => "get", :title => "Ordem de Serviço" %></td>
               <%end%>
                     <td align="center" width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), {:action => "impressao_manutencao", :id =>chamado}, :method => "get", :title => "Imprimr" %></td>
              </tr>
            <%end%>
            <tr>
             <td align="left" colspan="11">
                <table>
                   <% if current_user.has_role?('administrador') or current_user.has_role?('chefia_manutencao') %>
                      <td align="left"><input type="image" src="/stylesheets/images/buscar.png" title="Buscar"></td>
                      <td align="left" ><font color="Blue"> VISUALIAR CHAMADOS SELECIONADOS PARA ATENDIMENTO</font></td>
                   <%end%>
                </table>
                </td>
            </tr
          <%end%>


  </table>
  </font>
 
<br/>




