<br/>
<table class="tabelas1" align="center" width="90%">
     <tr>
        <th align="left">
           <font  size=5 color="black"> <b> SOLICITAÇÃO DE ORDEM DE SERVIÇO</b></font>
        </th>
        <td width="3%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>
       </tr>
   <tr>
    <td colspan="2">
     <div class="botao">
       <table width="100%" align="center">
         <tr>
         <td align="left"><b>Total de Ordem de Serviços de Manutenção Encerradas:  <%= $conta %></b></td>
       </tr>
     </table>
    </div>
     <font  size="2">
       <table align="center" border="2" width="100%">
         <%$conta=0%>
         <tr>
            <th width="1%"> Protocolo</th>
            <th width="15%"> Unidade</th>
            <th width="15%"> Solicitado</th>
            <th width="15%"> Solicitante</th>
            <th width="15%"> Encaminhado</th>
            <th width="15%"> Para</th>
            <th width="15%"> Executado</th>
            <th width="15%"> Por</th>
            <div class="botao">
            <th align="center">Visualizar</th>
            </div>
         </tr>
         <% for chamado in @manutencaos %>
         <%if (chamado.situacao_manutencao_id == 2) then %>
         <tr>
           <td align="center"><%=h chamado.id %></td>
           <td><%=h chamado.unidade.nome %></td>
           <td><%=h chamado.data_sol.strftime("%d/%m/%Y")%></td>
           <td><%=h chamado.user.name %></td>
           <td><%=h chamado.data_ate.strftime("%d/%m/%Y")%></td>
           <td><%=h chamado.chefia.nome %></td>
           <td><%=h chamado.data_enc.strftime("%d/%m/%Y")%></td>
           <td><%=h chamado.funcionario.nome %></td>
           <div class="botao">
             <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"), {:action => "showencerrado", :id =>chamado}, :method => "get", :title => "Exibir Dados" %></td>
           </div>
         </tr>
    
        <%$conta=$conta+1%>
        <% end %>
        <% end %>
      </table>
    </font>
  <div class="botao">
    <table width="90%" align="left">
    <tr>
        <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
        <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
    </tr>
   </table>
  </div>
 </td>
 </tr>
</table>
<br/>
