
  <div id="protocolo">



<br/>
<font  size="2"><b>
<table  class="tabelas" width="100%"align="center">
  <tr>
    <th align="left">
       <font  size=5 color="black"> <b>   SISTEMA DE GERENCIAMENTO INFOSEDUC</b></font>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
         &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
     <%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></th>
   </tr>
 <tr>
   <td align="center">
     <br/>
        <font  size=4 color="black"><u> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO </b></font>
     <br/>
   </td>
 </tr>
  <tr>
   <td>
     <table width="100%">
        <tr>
         <td colspan="2">
           <table border="2" width="100%">
      

             <tr>
                <th> Ordem</th>
                <th> Protocolo</th>
                <th width ="15%"><font size="3"><b> Solicitação</b></font></th>
                <th width ="15%"><font size="3"><b> Encaminhamento</b></font></th>
                <th width ="20%"><font size="3"><b> Solicitante</b></font></th>
                <th> <font size="3"><b>Unidade</b></font></th>
             </tr>
                <tr>
                 <td width="3%" align="center"><%= text_field_tag($ordem,nil,:size => 1) %></td>
                 <td width="3%" align="center"><%=h @manutencao.id %></td>
                 <td><%=h @manutencao.data_sol.strftime("%d/%m/%Y")%></td>
                 <td><%= "#{Time.now.strftime("%d/%m/%Y")}" %></td>
                 <td><%=h @manutencao.solicitante %></td>
                 <td><%=h @manutencao.unidade.nome %></td>
               </tr>
               <tr>
                  <th colspan="2" ><font size="4"><b>Problema</b></font></th>
                  <td colspan="4" align="left"><font size="3"><%=h @manutencao.descricao %><br/></font></td>
               </tr>
               <tr>
                 <th colspan="2"><font size="4"><b>Procedimento à realizar</b></font></th>
                 <td colspan="4" align="left"><font size="3"><%=h @manutencao.procedimentos %><br/></td>
              </tr>
                <tr>
                  <th colspan="2"><font size="3"><b>Procedimento realizado</b></font></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/><br/><br/></td>
                </tr>
                <tr>
                  <th colspan="2"><font size="3"><b>Assinatura</b></font></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/><br/><br/> </td>
                </tr>





     </table>

 <table width="100%">
  </table>
  <table width="100%" align="center" >
    <tr>
      <td  colspan="2"align="right">   <%= "Americana, #{Time.now.strftime("%d de %B de %Y")}" %></td>

    </tr>
   <tr>
     <td align="center" colspan="2">
       OBS:<%= text_field_tag(:obs1,nil,:size => 100 ) %>
     </td>
   </tr>
   <tr>
     <td align="center" colspan="2">
       <%= text_field_tag(:obs2,nil,:size => 104) %>
     </td>
   </tr>
   <tr>
     <td align="center"colspan="2">
       <font size="3"><br/><b>Funcionário:</b><%= collection_select :nome ,:estagiario_id, @funcionarios, :id, :nome, :include_blank => ' -- Selecione -- ', :size=> 20 %></font>
     </td>

    </tr>
     <tr class="botao">
      <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
      <td align="left" ><b><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:MM_openBrWindow('#{imp_manutencao_manutencaos_path($idmanutencao)}','manutencao', 'scrollbars=yes');", :title => "Imprimir OS Manutencao" %></b></td>
   </tr>
   </table>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 <br/>
</font>
</div>