
  <div id="protocolo">
   
   <%= image_tag("/stylesheets/Imagens/brasao.jpg", :size => "150x100") %>
    <font size="4"><strong><u><center>SISTEMA DE ORDEM DE SERVIÇO DE MANUTENÇÃO</center></strong></u></font><br/>
     <br/>



     <fieldset><legend><font  size=4> Solicitação de Manutenção</font></legend>
     <table border="2" width="100%" class = "tabelas">
       <tr>
             <td align="left"><b>Nº Protocolo:  </b></td>
             <td align="left"><%=h @manutencao.id%></td>
       </tr>
       <tr>
         <td align="left"><b>Data Solicitação:</b></td>
         <td align="left"><%=h @manutencao.data_sol.strftime("%d de %B de %Y" ) %></td>
       </tr>
       <tr>
         <td align="left"><b>Horas Solicitação:</b></td>
         <td align="left"><%=h @manutencao.data_sol.strftime("%H:%M horas") %></td>
       </tr>
       <tr>
         <td align="left"><b>Solicitante</b></td>
         <td align="left"><%=h @manutencao.solicitante %></td>
       </tr>
       <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left"> <%=h @manutencao.unidade.nome %></td>
       </tr>
       <tr>
         <td align="left"><b>Forma Solicitação:</b></td>
         <td align="left"><%=h @manutencao.forma %></td>
       </tr>
       <tr>
          <td valign="top"><b>Serviços Solicitados:</b></td>
          <td>
             <% @manutencao.tipos_manutencaos.each do |servico| %>
              - <%=h servico.servico%><br/>
             <% end %>
          </td>
      </tr>
       <tr>
         <td align="left"><b>Descrição Problema:</b></td>
         <td align="left"><%=h @manutencao.descricao %></td>
       </tr>
       <tr>
         <td align="left"><b>Observação:</b></td>
         <td align="left"><%=h @manutencao.obs%></td>
       </tr>
       <tr>
         <td align="left"><b>Quem abriu a OS:</b></td>
         <td align="left"><%=h @manutencao.user.name%></td>
       </tr>
     </table>
    </fieldset>



    <table  class ="invisible_to_print " >
      <tr  class ="invisible_to_print ">
        <td align="right" class ="invisible_to_print "><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
      </tr>
   </table>
</div>
<br/>
<br/>