<br/>
<table  class="tabelas" width="50%" align="center">
  <tr>
    <th colspan="2" align="left">
        <font  size=5><b> CADASTRAR CURSOS</b></font>
    </th>
  </tr>
  <tr>
    <td>
     <% form_for(@curso) do |f| %>
     <%= f.error_messages %>
     <font  size="2">
      <fieldset><legend><font  size=4> Curso</font></legend>
        <table  width="100%" align="center">
            <tr>
               <td align="left"><b>Nome do Curso:</b></td>
               <td colspan="3" align="left"><%= f.text_field :nome, :size =>58 %></td>
            </tr>
            <tr>
               <td align="left"><b>Ministrante(s):</b></td>
               <td colspan="3" align="left"><%= f.text_field :ministrante, :size => 58 %></td>
            </tr>
            <tr>
               <td align="left"><b>Data/Horário:</b></td>
               <td colspan="3" align="left"><%= f.text_field :data_hora, :size =>58 %></td>
            </tr>
            <tr>
               <td align="left"><b>Carga Horária:</b></td>
               <td align="left"><%= f.text_field :carga_horaria, :size =>30 %></td>
               <td align="left"><b>NºVagas:</b></td>
               <td  align="left"><%= f.text_field :vagas_disponiveis, :size => 1 %> /
                                <%= f.text_field :qtde, :size => 1 %>
               </td>
               
            </tr>
            <tr>
               <td valign="top" align="left"><b>Ementa:</b></td>
               <td colspan="3" align="left"><%= f.text_area :ementa, :cols =>80, :rows => "5" %></td>
            </tr>
            <tr>
               <td valign="top" align="left"><b>Observação:</b></td>
               <td  colspan="3"  align="left"><%= f.text_area :obs, :cols =>80, :rows => "2" %></td>
            </tr>
        </table>
      </fieldset>
      <div class="botao">
        <table width="100%" align="left">
           <tr>
             <div id='Certeza'>
               <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
              </div>
              <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"></td>
<% end %>
            </tr>
        </table>
      </div>
    </td>
   </tr>
  </table>
</font>

