   <div class="tabs">
 <table  width="100%" >
  <tr >
    <td colspan="2" align="left">
        <font  size=5><b> CADASTRAR CURSOS</b></font>
    </td>
  </tr>
  <tr bgcolor="#F5F5F5" >
    <td>
     <% form_for(@curso) do |f| %>
     <%= f.error_messages %>
     <font  size="2">
      <fieldset><legend><font  size=4> Curso</font></legend>
          <table  width="100%" align="center" >
            <tr>
               <td align="left"><b>Curso:</b></td>
               <td colspan="3" align="left"><%= f.text_field :nome, :size =>70 %></td>
            </tr>
            <tr>
               <td align="left"><b>Ministrante(s):</b></td>
               <td colspan="3" align="left"><%= f.text_field :ministrante, :size => 70 %></td>
            </tr>
            <tr>
               <td align="left"><b>Data:</b></td>
               <td colspan="3" align="left"><%= f.text_field :datas, :size =>28 %> &nbsp
                     <b>Horário:</b><%= f.text_field :horario, :size =>27 %><br/>
                     <font color ="gray"> ex: 18 e 25 de Agosto  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                          ex: 18:30 as 21:30 h. </font>
               </td>
            </tr>
            <tr>
               <td align="left"><b>Carga Horária:</b></td>
               <td align="left" colspan="3"><%= f.text_field :carga_horaria, :size =>35 %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <b>NºVagas:</b> <%= f.text_field :vagas_disponiveis, :size => 2 %> /
                                <%= f.text_field :qtde, :size => 2 %> <br/>
                                <font color ="gray"> ex: 16 horas</font>


               </td>
            </tr>
            <tr>
               <td align="left"><b>Local:</b></td>
               <td colspan="3" align="left"><%= f.text_field :local, :size => 70 %></td>
            </tr>
            <tr>
               <td align="left"><b>Público Alvo:</b></td>
               <td colspan="3" align="left"><%= f.text_field :publico, :size => 70 %></td>
            </tr>
            <tr>
               <td valign="top" align="left"><b>Ementa:</b></td>
               <td colspan="3" align="left"><%= f.text_area :ementa, :cols =>70, :rows => "3" %></td>
            </tr>
            <tr>
               <td valign="top" align="left"><b>Observação:</b></td>
               <td  colspan="3"  align="left"><%= f.text_area :obs, :cols =>70, :rows => "2" %></td>
            </tr>
        </table>
      </fieldset>

         <table width="100%" align="left" bgcolor="#F5F5F5" >
           <tr>

               <td  width="2%" align="left">   <%= f.submit "Salvar" %></td>
      <% end %>
              <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
            </tr>
        </table>

    </td>
   </tr>
  </table>
</font>

</div>