  <br/>  <br/>
   <font  size="2">
   <table   border ="1" cellpadding="1" cellspacing="1" width="100%" >
     <% for curso in @cursos %>
      <tr>
          <th  bgcolor ="#DCDCDC"width =" 10%" >Curso:</th><td><%=h curso.nome %></td><th  bgcolor ="#DCDCDC"width =" 10%">Status:</th> 
          <td  colspan="4"align="left">
            <% if curso.status  == true%>
              &nbsp&nbsp&nbsp&nbsp&nbsp  Encerrado
            <%else%>
             &nbsp&nbsp&nbsp&nbsp&nbsp Em andamento
            <%end%>
        </td>
        <td  align="center"colspan="2">
               <% if ((current_user.has_role?('admin') or current_user.has_role?('SEDUC')) )%>
                    <%= button_to 'Editar', edit_curso_path(curso), :method => "get", :title => "Editar"%>
                <%else%>
                     ---
                <%end%>
        </td>

      </tr>
      <tr>
          <th bgcolor ="#DCDCDC">Ementa:</th><td colspan="7"><%=h curso.ementa %></td>
     </tr>
     <tr>
        <th bgcolor ="#DCDCDC">Ministrante</th> <td><%=h curso.ministrante %></td>
        <th bgcolor ="#DCDCDC">Carga horaria</th><td align="center"><%=h curso.carga_horaria %></td>
        <th bgcolor ="#DCDCDC">Inscritos</th><td  align="center"><%=h curso.carga_horaria %></td>
        <th bgcolor ="#DCDCDC">Vagas</th><td align="center"><%=h curso.vagas_disponiveis %></td>

      </tr>
      <tr>
          <th bgcolor ="#DCDCDC">Obs</th><td colspan="7" ><%=h curso.obs %></td>
      </tr>

   <% end %>
  </table>
 </font>




