<div id="interno5">
    <% title "CLASSES".singularize %>
      <div class="tabs">
        <div id="caixa_titulo">
            <font size="3"><strong>SISTEMA DE INSCRIÇÃO ON LINE</strong></font><br/>
        </div>
            <font size="2">
                <table width="100%" align="center" bgcolor="#F5F5F5" style="border-color: white"  border="1">
                    <tr style="border-color: white" >
                        <td colspan="5" style="border-color: white">
                           <fieldset><legend><font  size=4> Curso</font></legend>
                             <table width="100%"  style="border-color: white">
                                   <tr>
                                       <td align="left" width="10%"><b>Curso:</b></td>
                                       <td align="left"><%=h @curso.nome %>
                                         <% if @curso.status == true %>
                                             - <font color="red"><b> (CURSO ENCERRADO)</b> 
                                        <%else%>
                                             - <font color="blue"><b> (CURSO EM ANDAMENTO)</b> 
                                        <%end%>
                                       </td>
                                    </tr>
                                     <tr>
                                       <td align="left" valign="Top"><b>Ementa:</b></td>
                                       <td align="left"><%=h @curso.ementa %></td>
                                    </tr>
                                    <tr>
                                       <td align="left"><b>Ministrante(s): </b></td>
                                       <td align="left"><%=h @curso.ministrante %></td>
                                    </tr>
                                    <tr>
                                       <td align="left"><b>Carga Horária: </b></td>
                                       <td align="left"><%=h @curso.carga_horaria %> horas</td>
                                    </tr>
                                    <tr>
                                       <td align="left"><b>Local: </b></td>
                                       <td align="left"><%=h @curso.local %> </td>
                                    </tr>
                                    <tr>
                                       <td align="left"><b>Público Alvo: </b></td>
                                       <td align="left"><%=h @curso.publico %> horas</td>
                                    </tr>
                                    <tr>
                                       <td align="left"><b>Nº Vagas: </b></td>
                                       <td align="left"><%=h @curso.vagas_disponiveis %></td>
                                    </tr>
                                    <tr>
                                       <td align="left"><b>Nº Inscritos: </b></td>
                                       <td align="left"><%=h @curso.qtde %></td>
                                    </tr>
                                    <tr>
                                      <td align="left" valign="top"><b>Observações:</b></td>
                                      <td align="left"><%=h @curso.obs  %></td>
                                    </tr>
                                 </table>
                              </fieldset>
                         </td>
                    </tr>

                                    <tr>
                                        <td colspan="5" align="left"  style="border-color: white"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                                     </tr>



  </table>
</font>
  </div>
        <br/>

    </div>








