<br/>
 <table class="tabelas" align="center" width="100%">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b>CONTROLE DE SOLICITAÇÕES</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
 <div class="botao">
  <tr>
   <td colspan="2">
     <table>
      <tr>
         <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
         <td width="2%"align="right" ><%= button_to('Solicitações',acompanhamentos_path, :method => "get", :title => "Solicitações") %></td>
         <td width="2%"align="right" ><%= button_to('Novo', new_acompanhamento_path, :title => "Novo")%></td>
         <td  width="2%" align="right"><%= button_to "Consultar", consulta_acompanhamentos_path, :title => "Consultar" %></td>
      </tr>
    </table>
   </td>
  </tr>
 </div>
  <tr>
    <td colspan="2">
      <br/>
       <div class="botao">
       <% form_remote_tag :url => acompanhamento_acompanhamentos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
       <table width="100%">
        <tr>
          <td align="left" >
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "4") %></a>Nº Código
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "5") %></a>Assunto
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "6") %></a>Criança
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "1") %></a>Em Aberto
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "2") %></a>Encerrados
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "3") %></a>Todos
           </td>
         </tr>
         <tr>
           <td align="right"><div class="consulta" style="display:none"> <%= render "consulta" %>  </div></td>
       </tr>
      </table>
    <% end %>
    <br/>
     <div id="protocolo"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>
     <div class="botao">
      <tr>
       <td colspan="2">
         <table>
          <tr>
             <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
             <td width="2%"align="right" ><%= button_to('Solicitações',acompanhamentos_path, :method => "get", :title => "Solicitações") %></td>
             <td width="2%"align="right" ><%= button_to('Novo', new_acompanhamento_path, :title => "Novo")%></td>
             <td  width="2%" align="right"><%= button_to "Consultar", consulta_acompanhamentos_path, :title => "Consultar" %></td>
          </tr>
        </table>
       </td>
      </tr>
     </div>
 </div>
 </td>
 </tr>
 </table>
 <br/>
