<br/><br/><br/>
<table class="tabelas2" align="center">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b> CONSULTA IMPRESSORA por Tipo</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
 <tr>
  <td colspan="2">
   <br/>
    <table>
     <tr>
      <td>
        <div class="botao">
        <table>
          <tr>
            <td>
               <font  size="4"> Tipo: <%= collection_select :impressora, :tipo_controle_id, @tipo_controles, :id, :nome, :include_blank => ' -- Selecione -- '  %></font>
             </td>
          </tr>
       </table>
       </div>
      </td>
    <tr>
      <td>
      <%= observe_field 'impressora_tipo_controle_id',
           :update => "listagem",
           :url    => { :action => 'lista_tipos' },
           :with   => 'impressora_tipo_controle_id' %>
        <div id="listagem"> </div>
     </td>
   </tr>
   <div class="botao">
   <table width="100%">
    <tr>
       <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
       <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
    </tr>
  </table>
 </div>
  </table>
</table>
<br/>
  

