<br/>
<font size="2">
<table class="tabelas1"width="90%"align="center">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b>  IMPRESSORAS - SEDUC/PMA</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
 <tr>
  <td colspan="2">
  <div class="botao">
   <table width="100%">
    <tr>
       <td width="6%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
    </tr>
  </table>
  </div>
   <table border="2" align="center" width="100%">
    <tr>
      <!--
      <td  valign="top">
        <br/>
        <fieldset><legend><font  size=2></font></legend>
         <%$totalC1 = 0%>
         <table width="100%">
           <tr>
            <td  valign="top" width="50%">
              <fieldset><legend><font  size=2> SEDUC</font></legend>
                 <table border="1" width="100%">
                 <%$totals = 0%>
                  <tr>
                     <th  valign="top" align="left" width ="60%"><font  size="1">Usuário</font></th>
                     <th  valign="top" align="left"><font  size="1">configuração</font></th>
                     <th  valign="top" align="center" colspan="2"><font  size="1">Quantidade</font></th>
                  </tr>
                  <% for imp in @impressoras %>
                  <%if imp.unidade.nome == 'SEDUC'%>
                  <tr>
                     <td valign="top"align="left"><font  size="1"><%=h imp.user %></font></td>
                     <td valign="top"><font  size="1"><%=h imp.config %></font></td>
                     <td align="center" valign="top"><font  size="1"><%=h imp.quant %></font></td>
                     <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), imp, :title => "Exibir Dados" %></td>
                     <%$totals= $totals + imp.quant%>
                  </tr>
                 <% end %>
                 <% end %>
                 <tr>
                    <td colspan="4" align="left"><font  size="2"><b> Total => <%= $totals %></b></font> </td>
                  </tr>
                </table>
              </fieldset>
            </td>
            <td valign="top" width="50%">
              <fieldset><legend><font  size=2> Laboratórios</font></legend>
               <table border="1" width="100%">
               <%$totalC = 0%>
                <tr>
                     <th  valign="top" align="left" width ="60%"><font  size="1">Usuário</font></th>
                     <th  valign="top" align="left"><font  size="1">configuração</font></th>
                     <th  valign="top" align="center" colspan="2"><font  size="1">Quantidade</font></th>
                </tr>
                <% for imp in @impressoras %>
                <%if imp.tipo_controle.nome == 'LABORATÓRIO'%>
                 <tr>
                   <td valign="top"align="left"><font  size="1"><%=h imp.unidade.nome %></font></td>
                   <td valign="top"align="left"><font  size="1"><%=h imp.config %></font></td>
                   <td valign="top"align="center"><font  size="1"><%=h imp.quant %></font></td>
                   <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), imp, :title => "Exibir Dados" %></td>
                   <%$totalC = $totalC + imp.quant%>
                </tr>
               <% end %>
               <% end %>
               <tr>
                  <td colspan="4" align="left"><font  size="2"><b> Total  => <%= $totalC %></b></font> </td>
                </tr>
              </table>
             </fieldset>
            </td>
          </tr>
        </table>
     </fieldset>
     </td>
     -->
    </tr>
    <tr>
      <td  valign="top">
       <%$totalC1 = 0%>
         <table width="100%">
           <tr>
            <td bgcolor="#F5DEB3"  valign="top" width="50%">
             <fieldset><legend><font  size=2> Administração - Unidades/SEDUC</font></legend>
              <table  border="1" width="100%">
               <tr>
                  <th  valign="top" align="left" ><font  size="1">Unidade</font></th>
                  <th  valign="top" align="left" ><font  size="1">Configuração</font></th>
                  <th  valign="top" align="center" colspan="2"><font  size="1">Quantidade</font></th>
               </tr>
               <% for imp in @impressoras %>
               <%if imp.tipo_controle.nome == 'ADMINITRAÇÃO'%>
               <%if imp.unidade_id != 53 then%>
               <tr>
                 <td valign="top"align="left"><font  size="1"><%=h imp.unidade.nome %></font></td>
                 <td valign="top"align="left"><font  size="1"><%=h imp.config %></font></td>
                 <td valign="top" ><font  size="1"><%=h imp.quant %></font></td>
                 <div class="botao">
                   <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), imp, :title => "Exibir Dados" %></td>
                 </div>

                  <%$totalC1= $totalC1 + imp.quant%>
               </tr>
               <% end %>
               <% end %>
               <% end %>
               <tr>
                 <td  colspan="4" align="left"><font  size="2"><b> Total => <%= $totalC1 %></b></font> </td>
               </tr>
              </table>
            </filedset>
         </td>
         <td valign="top" width="50%">
          <table width="100%">
            <tr>
              <td>
               <fieldset><legend><font  size=2> Laboratórios - Unidades/SEDUC</font></legend>
                 <table border="1" width="100%">
                   <%$totalC = 0%>
                    <tr>
                         <th  valign="top" align="left" width ="60%"><font  size="1">Usuário</font></th>
                         <th  valign="top" align="left"><font  size="1">configuração</font></th>
                         <th  valign="top" align="center" colspan="2"><font  size="1">Quantidade</font></th>
                    </tr>
                    <% for imp in @impressoras %>
                    <%if imp.tipo_controle.nome == 'LABORATÓRIO'%>
                     <tr>
                       <td valign="top"align="left"><font  size="1"><%=h imp.unidade.nome %></font></td>
                       <td valign="top"align="left"><font  size="1"><%=h imp.config %></font></td>
                       <td valign="top"align="center"><font  size="1"><%=h imp.quant %></font></td>
                       <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), imp, :title => "Exibir Dados" %></td>
                       <%$totalC = $totalC + imp.quant%>
                    </tr>
                   <% end %>
                   <% end %>
                   <tr>
                      <td colspan="4" align="left"><font  size="2"><b> Total  => <%= $totalC %></b></font> </td>
                    </tr>
                  </table>
                 </fieldset><br/>
                
                <fieldset><legend><font  size=2> Pertencente à Terceiros</font></legend>
                    <table  border="1" width="100%" >
                      <%$totalC2 = 0%>
                     <tr>
                        <th  valign="top" align="left" ><font  size="1">Unidade</font></th>
                        <th  valign="top" align="left" ><font  size="1">Pertencer</font></th>
                        <th  valign="top"align="center" colspan="2"><font  size="1">QUantidade</font></th>

                     </tr>
                    <% for imp in @impressoras %>
                    <%if imp.tipo_controle.nome == 'TERCEIROS'%>
                    <%if imp.unidade_id != 53 then%>
                    <tr>
                       <td valign="top"align="left"><font  size="1"><%=h imp.unidade.nome %></font></td>
                       <td valign="top"align="left"><font  size="1"><%=h imp.pertence %></font></td>
                       <td valign="top"><font  size="1"><%=h imp.quant %></font></td>
                      <div class="botao">
                          <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), imp, :title => "Exibir Dados" %></td>
                     </div>
                     <%$totalC2 = $totalC2 + imp.quant%>
                    </tr>
                   <% end %>
                   <% end %>
                   <% end %>
                  <tr>
                    <td colspan="4" align="left"><font  size="2"><b> Total => <%= $totalC2 %></b></font> </td>
                  </tr>
                 </table>
                </fieldset> <br/>
                
               <fieldset><legend><font  size=2> Administração - SEDUC</font></legend>

                  <table border="1" width="100%">
                  <%$totals = 0%>
                          <tr>
                             <th  valign="top" align="left" width ="60%"><font  size="1">Usuário</font></th>
                             <th  valign="top" align="left"><font  size="1">configuração</font></th>
                             <th  valign="top" align="center" colspan="2"><font  size="1">Quantidade</font></th>
                          </tr>
                          <% for imp in @impressoras %>
                          <%if imp.unidade.nome == 'SEDUC'%>
                          <tr>
                             <td valign="top"align="left"><font  size="1"><%=h imp.user %></font></td>
                             <td valign="top"><font  size="1"><%=h imp.config %></font></td>
                             <td align="center" valign="top"><font  size="1"><%=h imp.quant %></font></td>
                             <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), imp, :title => "Exibir Dados" %></td>
                             <%$totals= $totals + imp.quant%>
                          </tr>
                         <% end %>
                         <% end %>
                         <tr>
                            <td colspan="4" align="left"><font  size="2"><b> Total => <%= $totals %></b></font> </td>
                          </tr>
                        </table>
                      </fieldset>
                   </td>
                 </tr>
            </table>

     </td>
    </tr>
    <tr>
       <td  bgcolor="#F5DEB3"width="6%">
          <div class="botao">
          <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %>
        </div>
        <font color="black"  size="2"><b> TOTAL GERAL IMPRESSORAS: <%= $totalC2 + $totalC1 + $totalC + $totals%></b></font> </td>
    <tr
   </table>

  </td>
  </tr>
  </table>
<br/>
</font>