<h1>New servicos_sala</h1>

<% form_for(@servicos_sala) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :servico %><br />
    <%= f.text_field :servico %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', servicos_salas_path %>