<div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SECRETARIA DE EDUCAÇÂO  </strong></font><br/>
 </div>
      <div class="tabs">
          <font  size="2">
           <table width="100%" align="center"  bgcolor="#F5F5F5" >
             <tr   bgcolor ="#E6E2D">
                  <th align="center">
                     <font  size=3 color="black"> <br/> <b> SEDUC-PMA  Secretaria de Educação da Prefeitura Municipal de Americana</b></font><br/><br/>
                  </th>

                </tr>
            <tr>
            <td colspan="2">
             <fieldset><legend><font size ="4"><b> Unidades de Apoio</b></font></legend>
                 <%@unidades = Unidade.find(:all, :conditions=>['(tipo_id = 3 or tipo_id = 9) and desativada = 0'], :order => 'tipo_id ASC, nome ASC')%>
                <table bgcolor="#DCDCDC" width="100%">
                    <% @unidades.each do |unidade| %>
                        <tr  bgcolor="#F5F5F5">
                            <td width ="10%"><b>Unidade: </b></td>
                            <td colspan="3"width ="30%"><b><%=h unidade.tipo.nome %></b> <%=h unidade.nome %></td>
                        </tr>
                        <tr bgcolor="#F5F5F5">
                           <td width ="10%"><b>Endereço: </b></td>
                           <td width ="30%"><%=h unidade.endereco %></td>
                           <td  width ="10%">&nbsp <b>Nº &nbsp&nbsp</b><%=h unidade.num %></td>
                           <td width ="30%"><b>Bairro: </b>&nbsp&nbsp&nbsp&nbsp<%=h unidade.bairro %></td>
                        </tr>
                        <tr bgcolor="#F5F5F5">
                            <td><b>CEP: </b></td>
                            <td><%=h unidade.CEP  %>&nbsp&nbsp&nbsp&nbsp
                                 <b>&nbsp Fones: &nbsp&nbsp</b><%=h unidade.fone %></td>
                           <td><b>&nbsp E_mail: </b></td>
                           <td><%=h unidade.email %></td>
                        </tr>

                        <tr>
                            <td colspan="4" align="right"><%= link_to image_tag("/stylesheets/images/local.png"), "https://www.google.com/maps/d/edit?hl=pt-BR&authuser=0&mid=zNj5sTNCo6CY.kex3W_prFKOA",:target => '_blank', :title => "Localização"%></td>


                       </tr>
                     <% end %>
                 </table>
          </fieldset>

                   <table width="100%" align="left">
                     <tr>
                         <td width="2%" align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                         <td align="left"><%= button_to('Voltar', unidades_certificados_path, :method => "get", :title => "Voltar")%></td>
                     </tr>
                 </table>

              </td>
            </tr>
            </table>
          </font>
    </div>
</div>
<br/>

</font>
</div>
