<h1>Listing certificados</h1>

<table>
  <tr>
    <th>Inscricao</th>
    <th>Obs</th>
  </tr>

<% @certificados.each do |certificado| %>
  <tr>
    <td><%=h certificado.inscricao %></td>
    <td><%=h certificado.obs %></td>
    <td><%= link_to 'Show', certificado %></td>
    <td><%= link_to 'Edit', edit_certificado_path(certificado) %></td>
    <td><%= link_to 'Destroy', certificado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New certificado', new_certificado_path %>