<div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SOLICITAÇÃO DE CERTIFICADOS </strong></font><br/>
 </div>
      <div class="tabs">
          <% form_for((@certificado)) do |f| %>
          <%= f.error_messages %>
          <font  size="2">
           <table width="100%" align="center"  bgcolor="#F5F5F5" >
             <tr   bgcolor ="#E6E2D">
                  <th align="center">
                     <font  size=5 color="black">  <b> SOLICITAÇÃO DE CERTIFICADOS</b></font>
                  </th>
                </tr>
            <tr>
            <td colspan="2">
             <fieldset><legend><font size ="4"><b></b></font></legend>
                 <table width="100%" >
<!--                       <tr>
                           <td colspan="2" align="center"><font  size=5 color="RED"> <b><u> FAVOR LER ATENTAMENTE TODAS AS INSTRUÇÕES ANTES DE EFETUAR SUA INSCRIÇÃO</b></u></font><br/></td>
                        </tr>
-->
                        <tr>
                          <td  align="left"><br/>&nbsp <b>Curso / Palestra:</b> </td>
                          <td>   <%= f.collection_select :curso_id, @cursos, :id, :nome, :include_blank => ' -- Selecionar seu nome -- ' %>
                                       <%= observe_field  :certificado_curso_id,
                                          :with => :certificado_curso_id,
                                          :url => { :action => 'curso_participantes' },
                                                     :update => "participantes" %>
                              </font></td>
                         </tr>
                        <tr>
                          <td colspan="2" align="left">
                            <table>
                              <div id="participantes"> <font color="red">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><u>ATENÇÃO:</u>  &nbsp&nbsp&nbsp Após selecionar o curso aguarde até o sistema retornar os participantes</b></font> </div>
                           </table>
                          </td>
                        </tr>
                        <tr><td  valign="top"><b>Observações:</b></td>
                            <td><%= f.text_area(:obs, :cols =>"80", :rows => "3") %></td>
                      </tr>
                       <tr><td colspan="2"><div id="jaemitido"> </div><br/></td></tr>
              </table>


          </fieldset>

                   <table width="100%" align="left">
                     <tr>

                         <!--
                         <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"><font size="2"><b> <----- CLIQUE AQUI PARA FAZER SUA INSCRIÇÂO <b></font></td>
                         -->
                         <td align="right">   <%= f.submit "SOLICITAR CERTIFICADO" %></td>
                <% end %>
                         <td width="2%" align="right"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                     </tr>
                 </table>

              </td>
            </tr>
            </table>
          </font>
    </div>
</div>
<br/>

</font>
</div>
