<p>
  <b>Orc ata:</b>
  <%=h @orc_ata_iten.orc_ata %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @orc_ata_iten.quantidade %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @orc_ata_iten.descricao %>
</p>

<p>
  <b>Unitario:</b>
  <%=h @orc_ata_iten.unitario %>
</p>

<p>
  <b>Total:</b>
  <%=h @orc_ata_iten.total %>
</p>

<p>
  <b>Total geral:</b>
  <%=h @orc_ata_iten.total_geral %>
</p>

<p>
  <b>Obs:</b>
  <%=h @orc_ata_iten.obs %>
</p>


<%= link_to 'Edit', edit_orc_ata_iten_path(@orc_ata_iten) %> |
<%= link_to 'Back', orc_ata_itens_path %>