<% form_for @oficio do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table  width="100%"  align="center"  bgcolor="#F5F5F5" >

 <tr>
   <td colspan="2">
    <fieldset><legend><font  size=3> Oficio</font></legend>
     <table width="100%">
        <tr>
           <td width="10%"align="left"><font size="2"><b>Emissor:</b></font></td>
           <td align="left"><font size="2"><%= f.text_field :emissor, :size =>55 %></font></td>
        </tr>
        <tr>
           <td align="left"><font size="2"><b>Assunto:</b></font></td>
           <td align="left"><font size="2"><%= f.text_field :assunto, :size =>55 %></font></td>
        </tr>
        <tr>
           <td align="left"><font size="2"><b>Destinatário:</b></font></td>
           <td align="left"><font size="2"><%= f.text_field :destinatario, :size =>55 %></font></td>
        </tr>
        <tr>
           <td align="left"><font size="2"><b>Data:</b></font></td>
           <td align="left"><font size="2"><%= f.date_select(:data, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 50)) %></font></td>
        </tr>
        <tr>
           <td align="left"><font size="2"><b>Obs:</b></font></td>
           <td align="left"><font size="2"><%= f.text_field :obs, :size =>55 %></font></td>
        </tr>
     </table>
    </fieldset>
   </td>
 </tr>
 <tr>
   <td colspan="2">

        <table width="40%" align="left">
           <tr>
             <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
<% end %>
              <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
              <td width="2%" align="left" ><%= button_to('Ofícios', oficios_path, :method => "get",  :title => "Oficios")%></td>
              <td  align="left"><%= button_to "Consultar", consulta_oficios_path, :title => "Consultar" %></td>
           </tr>
        </table>


   </td>
  </tr>


 </table>
 </font>
 