<div id="interno6">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CONTROLE DE EMISSÃO DE OFICIOS - SEDUC/PMA</strong></font><br/>
 </div>
       <% form_remote_tag :url => consultaof_oficios_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
       <table  width="100%" bgcolor="#F5F5F5">
        <tr bgcolor="#F5F5F5">
          <td align="left" >
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "5") %></a>Nº
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "1") %></a>Assunto
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "2") %></a>Emissor
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "3") %></a>Destinatário
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "4") %></a>Todos
           </td>
         </tr>
         <tr bgcolor="#F5F5F5">
           <td ><div class="consulta" style="display:none"> <%= render "consulta" %>  </div></td>

       </tr>
      </table>
    <% end %>
   <hr>
    <div id="consultaoficio"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>

      <tr bgcolor="#F5F5F5">
       <td colspan="2">
         <table bgcolor="#F5F5F5">
          <tr>
             <td width="2%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
             <td width="2%"align="left" ><%= button_to('Ofícios',oficios_oficios_path, :method => "get", :title => "Ofícios") %></td>
             <td width="2%"align="left" ><%= button_to('Novo', new_oficio_path, :title => "Novo")%></td>
             <td   align="left"><%= button_to "Consultar", consulta_oficios_path, :title => "Consultar" %></td>
          </tr>
        </table>
       </td>
      </tr>

 

 <br/>
 </div>
<br/>
</div>
