<div id="interno7">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CONTROLE DE EMISSÃO DE OFICIOS - SEDUC/PMA</strong></font><br/>
 </div>


<table bgcolor="#F5F5F5"  width="100%">

   <tr bgcolor="#F5F5F5"   width="100%">
   <td colspan="2">
    <fieldset><legend><font  size=4>Oficio</font></legend>
         <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
          <tr>
            <td align="left" colspan="3"><u><font color="red"size="5"><b>Ofício Nº: <%=h @oficio.codigo%></b></font></u><br/><br/></td>
          </tr>
          <tr>
            <td width="6%"></td>
            <td align="left" valign="Top" width="9%"><b>Emissor:</b></td>
            <td align="left"><%=h @oficio.emissor %></td>
          </tr>
          <tr>
            <td></td>
            <td align="left"><b>Assunto: </b></td>
            <td align="left"><%=h @oficio.assunto %></td>
          </tr>
          <tr>
            <td></td>
            <td align="left"><font size="2"><b>Data:</b></font></td>
            <td align="left"><font size="2">  <%=h @oficio.data.strftime("%d de %B de %Y") %></font></td><p>
          </tr>
          <tr>
            <td></td>
            <td align="left"><b>Destinatario: </b></td>
            <td align="left"><%=h @oficio.destinatario %></td>
          </tr>
          <tr>
            <td></td>
            <td align="left" valign="top"><b>Observações:</b></td>
            <td align="left"><%=h @oficio.obs  %></td>
          </tr>
       </table>
    </fieldset>
    
      <table>
           <tr>
              <td align="right" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
              <td width="2%"align="right" ><%= button_to('Ofícios',oficios_oficios_path, :method => "get", :title => "Ofícios") %></td>
              <td width="2%" align="right"><%= button_to "Consultar", consulta_oficios_path, :title => "Consultar" %></td>
            </tr>
      </table>
   
  </td>
 </tr>
</table>
</font>
<br/>

</div>
<br/>
</div>



