<% form_for(@agenda) do |f| %>
  <%= f.error_messages %>

    <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
        <tr>
             <td colspan="8" align="center"><b><font size="3"> &nbsp AGENDAMENTO  &nbsp  </b></td>
       </tr>
       <tr>
               <td colspan="8"><hr></td>
       </tr>
         <tr>
             <td colspan="2" align="center">
             <font style="color: red"><b><u><%= flash[:notice] %></u></b></font>
           </td>
         </tr>
         <tr>
            <td align="left"><font size=2><b>Unidade:</b></font></td>
            <td align="left"><font size=2><%= f.collection_select :unidade_id, @unidades_fudamental, :id, :nome, :include_blank => ' -- Selecionar -- '  %></font></td>
         </tr>
         <tr>
            <td align="left"><font size=2><b>Estagiário:</b></font></td>
            <td align="left"><font size=2><%= f.collection_select :estagiario_id, @estagiarios, :id, :nome, :include_blank => ' -- Selecionar -- '  %></font></td>
          </tr>
         <tr>
            <td align="left"><font size=2><b>Data:</b></font></td>
            <td align="left"><font size=2><%= f.date_select :data %>
         </tr>
         <tr>
            <td align="left"><font size=2><b>Horário:</b></font></td>
            <td align="left"><font size=2><%= f.time_select :horai %><b>as</b><%= f.time_select :horaf %></font></td>
         </tr>
         <tr>
            <td align="left"><font size=2><b>Solicitante:</b></font></td>
            <td align="left"><font size=2><%= f.text_field :solicitante, :size => 42 %></font></td>
         </tr>
         <tr>
            <td align="left"><font size=2><b>Utilização:</b></font></td>
            <td align="left"><font size=2><%= f.text_field :proposito,:size => 42 %></font></td>
         </tr>
         <tr>
            <td align="left" valign="top"><font size=2><b>Observações:</b></font></td>
           <td align="left"><font size=2><%= f.text_area(:obs, :cols =>58, :rows => "2") %></font></td>
         </tr>


         <tr>
              <td align="left" colspan="2"valign="top"></td>
          </tr>

                   </table>

                     <table width="100%"  align="center">
                            <tr>
                               <td width="5px%"align="left"><%= f.submit 'Salvar' %></td>
              <% end %>
                              <td width="4%"> <%= button_to("Voltar", home_path, :method => 'get',:title => "Voltar" )%></td>
                             <td> <%= button_to("Agenda", agendas_path, :method => 'get',:title => "Voltar" )%></td>
                           </tr>
                        </table>





