<h1>New orc_ata_iten</h1>

<% form_for(@orc_ata_iten) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :orc_ata %><br />
    <%= f.text_field :orc_ata %>
  </p>
  <p>
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :unitario %><br />
    <%= f.text_field :unitario %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.label :total_geral %><br />
    <%= f.text_field :total_geral %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orc_ata_itens_path %>