<div id="interno6">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CONTROLE DE EMISSÃO DE OFICIOS - SEDUC/PMA</strong></font><br/>
 </div>
       <% form_remote_tag :url => consultaint_servicos_internos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
       <table width="100%">
        <tr bgcolor="#F5F5F5">
          <td align="left" >
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "5") %></a>Nº
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "1") %></a>Assunto
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "2") %></a>Emissor
               <a href="#" class="filtro"><%= radio_button_tag(:type_of, "3") %></a>Destinatário
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "4") %></a>Todos
           </td>

           <td><div class="consulta" style="display:none"> <%= render "consulta" %>  </div></td>

       </tr>
      </table>
    <% end %>

    
    <hr>
    <div id="interno"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    
 
  <tr>
   <td colspan="2">
     <table bgcolor="#F5F5F5">
      <tr>
         <td align="right" ><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
         <td width="2%"align="right" ><%= button_to('Servicos Internos',servicos_internos_path, :method => "get", :title => "Servicos Internos") %></td>
         <td width="2%"align="right" ><%= button_to('Novo', new_servicos_interno_path, :title => "Novo")%></td>
         <td  width="2%" align="right"><%= button_to "Consultar", consulta_servicos_internos_path, :title => "Consultar" %></td>
      </tr>
    </table>
   </td>
  </tr>
 
 </div>

 <br/>
