<h1>Listing servicos_internos</h1>

<table>
  <tr>
    <th>Emissor</th>
    <th>Assunto</th>
    <th>Destinatario</th>
    <th>Data</th>
    <th>Obs</th>
  </tr>

<% @servicos_internos.each do |servicos_interno| %>
  <tr>
    <td><%=h servicos_interno.emissor %></td>
    <td><%=h servicos_interno.assunto %></td>
    <td><%=h servicos_interno.destinatario %></td>
    <td><%=h servicos_interno.data %></td>
    <td><%=h servicos_interno.obs %></td>
    <td><%= link_to 'Show', servicos_interno %></td>
    <td><%= link_to 'Edit', edit_servicos_interno_path(servicos_interno) %></td>
    <td><%= link_to 'Destroy', servicos_interno, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New servicos_interno', new_servicos_interno_path %>