<br/>
 <table  class="tabelas1"   align="center" width="100%">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b>  CONTROLE DE EMISSÃO DE SERVIÇOS INTERNOS</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
  <tr>
    <td colspan="2">
      <br/>
    <div class="botao">
      <tr>
       <td colspan="2">
         <table>
          <tr>
             <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
             <td width="2%"align="right" ><%= button_to('Serviços Internos',servicos_internos_path, :method => "get", :title => "Serviços Internos") %></td>
             <td width="2%"align="right" ><%= button_to('Novo', new_servicos_interno_path, :title => "Novo")%></td>
             <td  width="2%" align="right"><%= button_to "Consultar", consulta_servicos_internos_path, :title => "Consultar" %></td>
          </tr>
        </table>
       </td>
      </tr>
     </div>
    <tr>
      <td colspan="2">
      <font  size="2">
        <table border="2" width="100%">
          <tr>
            <th width ="1%" align="center"> Nº</th>
            <th width ="10%">Emissor</th>
            <th width ="60%">Assunto</th>
            <th width ="35%">Destinatário</th>
            <th width ="10%">Data</th>
            <th width ="15%"  >Obs</th>

          </tr>

            <% for servico_interno in @servicos_internos %>
           <tr>
               <td><b><font color="red" size="3"><center><%=h servico_interno.codigo %></center></font></b></td>
               <td><%=h servico_interno.emissor %></td>
               <td><%=h servico_interno.assunto %></td>
               <td><%=h servico_interno.destinatario %></td>
               <td><%=h servico_interno.data.strftime("%d/%m/%y")%></td>
               <td><%=h servico_interno.obs%>  </td>

          </tr>
            <%end%>
        </table>
     </font>
     </td>
    </tr>
    <div class="botao">
      <tr>
       <td colspan="2">
         <table>
          <tr>
             <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
             <td width="2%"align="right" ><%= button_to('Serviços Internos',servicos_internos_path, :method => "get", :title => "Serviços Internos") %></td>
             <td width="2%"align="right" ><%= button_to('Novo', new_servicos_interno_path, :title => "Novo")%></td>
             <td  width="2%" align="right"><%= button_to "Consultar", consulta_servicos_internos_path, :title => "Consultar" %></td>
          </tr>
        </table>
       </td>
      </tr>
     </div>
 </td>
</table>

<br/>


