<p>
  <b>Emissor:</b>
  <%=h @servicos_interno.emissor %>
</p>

<p>
  <b>Assunto:</b>
  <%=h @servicos_interno.assunto %>
</p>

<p>
  <b>Destinatario:</b>
  <%=h @servicos_interno.destinatario %>
</p>

<p>
  <b>Data:</b>
  <%=h @servicos_interno.data %>
</p>

<p>
  <b>Obs:</b>
  <%=h @servicos_interno.obs %>
</p>


<%= link_to 'Edit', edit_servicos_interno_path(@servicos_interno) %> |
<%= link_to 'Back', servicos_internos_path %>