<div id="interno6">
    <% title "SAUDES".singularize %>
    <div class="tabs">
        <div id="caixa_titulo">
            <font size="3"><strong>SENHAS - SEDUC/PMA</strong></font><br/>
        </div>
        <div class="tabs">

            <table bgcolor="#F5F5F5"  width="100%">

                <tr bgcolor="#F5F5F5"   width="100%">
                    <td colspan="2">

                            <table width="100%">
                                <tr>
                                    <td width="1%" align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                                    <td width="1%"align="left" ><%= button_to 'Cadastrar', new_senha_path, :title => "Cadastrar" %></td>
                                    <td align="right">

                                            <table>
                                                <tr>
                                                    <% form_tag senhas_path, :method => 'get' do %>
                                                        <td align="right"><font size="4"> Digite local:</font>
                                                            <%= text_field_tag :search, params[:search] %></td>
                                                        <td align="left"><%= submit_tag "Filtrar", :class => "btn_filtrar" %></td>
                                                    <% end %>
                                                </tr>
                                            </table>

                                    </td>
                                </tr>
                                <tr>



                                </tr>
                            </table>
                            <br/>
                            <table border="2" width="100%">
                                <tr>
                                    <th>Local</th>
                                    <th>De</th>
                                    <th>Usuario</th>
                                    <th>Senha</th>
                                    <th >Fone-Instalado</th>
                                    <th>Observações</th>
                                </tr>
                                <% for senhas in @senhas %>
                                    <tr>
                                        <td><%=h senhas.unidade.nome %></td>
                                        <td><%=h senhas.de %></td>
                                        <td align="center"><%=h senhas.usuario %></td>
                                        <td align="center"><%=h senhas.senha %></td>
                                        <td width="8%"><%=h senhas.fone %></td>
                                        <td><%=h senhas.obs %></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" align="right">
                                                <table>
                                                    <% if current_user.has_role?('admin') or current_user.has_role?('estagiario SEDUC') %>
                                                        <td align="center" colspan="1"><%= button_to 'Editar', {:action => "edit", :id =>senhas}, :method => "get", :title => "Editar"%></td>
                                                        <% if current_user.has_role?('admin')%>
                                                            <td align="center" colspan="1"><%= button_to 'Excluir', senhas, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>

                                                        <%end%>
                                                    <%end%>
                                                </table>
                                        </td>
                                    </tr>
                                <% end %>
                            </table>

                            <table width="100%" >
                                <tr>
                                    <td width="1%" align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
                                    <td align="left" ><%= button_to 'Cadastrar', new_senha_path, :title => "Cadastrar" %></td>                                </tr>
                            </table>

            </table>



 </div>
        <br/>

    </div>

            <br/>

