
      <div class="tabs">
    <br/>
    <table bgcolor="#DCDCDC" width="100%">
        <tr bgcolor="#DCDCDC" >
          <td align="center" colspan="2"><b>Ficha </b></td>
            <td align="center"><b>Processo</b></td>
            <td align="center"><b>Descrição</b></td>
            <td align="center"><b>Data</b></td>
            <td align="center"><b>Valor</b></td>

          </tr>
          <% @suplementacaos.each  do |suplemento| %>
            <tr  bgcolor="#F5F5F5">
              <td align="center"><%=h suplemento.orc_ficha.ficha %></td>
              <td align="center"><%=h suplemento.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao %></td>
              <td align="center"><%=h suplemento.processo %></td>
              <td align="center"><%=h suplemento.destinacao %></td>
              <td align="center"><%if !suplemento.data.nil? %><%=h suplemento.data.strftime("%d/%m/%Y") %> <%end%> </td>
               <td align="center">R$ <%=h suplemento.valor_suplemento %></td>
              <td width ="5%"><%= button_to 'Visualizar',{:action => "show", :id =>suplemento}, :method => "get", :title => "Visualizar"%> </td>
              <td width ="5%"><%= button_to 'Excluir', suplemento, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>
            </tr>
          <% end %>
    </table>
   
</div>
    <br/>