<h1>Listing orc_suplementacaos</h1>

<table>
  <tr>
    <th>Orc ficha</th>
    <th>Processo</th>
    <th>Valor</th>
    <th>Data</th>
    <th>Orcamentaria</th>
    <th>Destinacao</th>
    <th>Obs</th>
  </tr>

<% @orc_suplementacaos.each do |orc_suplementacao| %>
  <tr>
    <td><%=h orc_suplementacao.orc_ficha %></td>
    <td><%=h orc_suplementacao.processo %></td>
    <td><%=h orc_suplementacao.valor %></td>
    <td><%=h orc_suplementacao.data %></td>
    <td><%=h orc_suplementacao.orcamentaria %></td>
    <td><%=h orc_suplementacao.destinacao %></td>
    <td><%=h orc_suplementacao.obs %></td>
    <td><%= link_to 'Show', orc_suplementacao %></td>
    <td><%= link_to 'Edit', edit_orc_suplementacao_path(orc_suplementacao) %></td>
    <td><%= link_to 'Destroy', orc_suplementacao, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orc_suplementacao', new_orc_suplementacao_path %>