<div id="interno5">
<% title "PROFESSORS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - SUPLEMENTAÇÃO - </strong></font><br/>
 </div>
  <table bgcolor="#F5F5F5"  width="100%" >
   <tr bgcolor="#F5F5F5"   width="100%">
   <td colspan="2">
    <fieldset><legend><font  size=4>Ficha</font></legend>
        <table  width="100%"  align="center" bgcolor="#F5F5F5" >
          <tr>
            <td align="left" width =" 5%" valign="TOP"><b>Ficha Origem:</b></td>
            <td align="left" >  <%=h @orc_ficha_origem[0].ficha %> -
                   <%=h  @orc_ficha_origem[0].descricao%>
                   <% if @orc_ficha_origem[0].ficha.count("SE") == 2 %>
                      - SALARIO EDUCAÇÃO
                   <%end%>
                   <% if @orc_ficha_origem[0].ficha.include?("PNAE")%>
                     - PNAE
                   <%end%>
                   <% if @orc_ficha_origem[0].ficha.count("FUNDEB")== 6 %>
                     - FUNDEB
                   <%end%>
                   <% if @orc_ficha_origem[0].ficha.include?("PNATE") %>
                     - PNATE
                   <%end%>
                   <% if @orc_ficha_origem[0].ficha.count("BC") == 2 %>
                      - BRASIL CARINHOSO
                   <%end%>
                   <% if @orc_ficha_origem[0].ficha.count("PDDE") == 4 %>
                      - PDDE
                   <%end%>
                   <% if @orc_ficha_origem[0].ficha.count("FNDE") == 4 %>
                      - FNDE
                   <%end%>


                - <%=h @orc_ficha_origem1[0].descricao%></td>
         </tr>

          <tr>
            <td align="left" width =" 5%"  valign="TOP"><b>Ficha Suplementada:</b></td>
            <td align="left" >  <%=h @orc_suplementacao.orc_ficha.ficha %> -
                   <%=h  @orc_suplementacao.orc_ficha.descricao%>
                   <% if @orc_suplementacao.orc_ficha.ficha.count("SE") == 2 %>
                      - SALARIO EDUCAÇÃO
                   <%end%>
                   <% if @orc_suplementacao.orc_ficha.ficha.include?("PNAE")%>
                     - PNAE
                   <%end%>
                   <% if @orc_suplementacao.orc_ficha.ficha.count("FUNDEB")== 6 %>
                     - FUNDEB
                   <%end%>
                   <% if @orc_suplementacao.orc_ficha.ficha.include?("PNATE") %>
                     - PNATE
                   <%end%>
                   <% if @orc_suplementacao.orc_ficha.ficha.count("BC") == 2 %>
                      - BRASIL CARINHOSO
                   <%end%>
                   <% if @orc_suplementacao.orc_ficha.ficha.count("PDDE") == 4 %>
                      - PDDE
                   <%end%>
                   <% if @orc_suplementacao.orc_ficha.ficha.count("FNDE") == 4 %>
                      - FNDE
                   <%end%>


                - <%=h @orc_suplementacao.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao%></td>
         </tr>

        <tr>
          <td></td>
          <td align="left"><b>Dotação Orçamentária: </b> <%=h @orc_suplementacao.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.codigo%>.<%=h  @orc_suplementacao.orc_ficha.codigo%>
            &nbsp <b>DR: </b> <%=h @orc_suplementacao.orc_ficha.dr%>  &nbsp <b>Fonte: </b> <%=h  @orc_suplementacao.orc_ficha.fonte%></td>
         </tr>
          <tr>
            <td align="left"><b>Processo:</b></td>
            <td align="left" colspan="5"> <%=h @orc_suplementacao.processo %></td>
          </tr>
          <tr>
            <td align="left"><b>Descrição:</b></td>
            <td align="left" colspan="5"> <%=h @orc_suplementacao.destinacao %></td>
          </tr>
          <tr>
            <td align="left"><font size="2"><b>Data:</b></font></td>
            <td align="left" colspan="5"><font size="2"> <% if !@orc_suplementacao.data.nil?%> <%=h @orc_suplementacao.data.strftime("%d de %B de %Y") %> <%end%> </td>
          </tr>
          <tr>
              <td align="left"width="10%"><b>Valor: </b></td>
              <td align="left">R$ <%=h @orc_suplementacao.valor_suplemento %></td>
          </tr>
       </table>
    </fieldset>

      <table>
           <tr>
              <td  width="2%"align="leftt" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
              <td width="2%" align="left" ><%= button_to('Suplementações', orc_suplementacaos_path, :method => "get",  :title => "Unidades Orçamentarias")%></td>
              <td  align="left" ><%= button_to('Cadastrar', new_orc_suplementacao_path, :method => "get",  :title => "Unidades Orçamentarias")%></td>

            </tr>
      </table>

  </td>
 </tr>
</table>
</font>
<br/>

</div>
<br/>
</div>


