<div id="interno2">
    <% title "CLASSES".singularize %>
    <div class="tabs">
        <div id="caixa_titulo">
            <font size="3"><strong>MANUTENÇÃO INFORMÁTICA</strong></font><br/>
        </div>
        <div class="tabs">
            <table width="100%" align="center"  bgcolor="#F5F5F5" >
                <tr  bgcolor ="#E6E2D">
                    <td align="left">
                        <font  size=5 color="black"> <b> ORDEM DE SERVIÇO ENCERRADAS- INFORMÁTICA</b></font>
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                                <td colspan="8" align="right"><font color ="red "size="2"><b>Serviços Encerrados: <%= @chamados_encerrado.count %>&nbsp&nbsp</b> </font></td>
                            </tr>
                        </table>
                         <table border="1" cellspacing="0" cellpadding="1" width="100%">
                            <%$conta=0%>
                            <tr>
                                <th width="1%"> Nº Ordem</th>
                                <th width="2%"> Encerrado</th>
                                <th width="5%"> Unidade</th>
                                <th width="20%" colspan="2"> Problema</th>
                                <th width="20%"> Procedimentos</th>
                                <th width="10%"> Funcionário</th>
                                <th width="5%"> Status</th>
                                <th width="1%"></th>
                            </tr>
                            <% for chamado in @chamados %>
                                <%if (chamado.situacao_chamado_id == 2) then %>
                                    <tr>
                                        <td align="center"><%=h chamado.id %></td>
                                        <td align="center"><%=h chamado.data_enc.strftime("%d/%m/%Y")%></td>

                                        <td align="center"><%=h chamado.nome %></td>

                                        <td colspan="2"><%=h chamado.problema %></td>
                                        <%if (chamado.tipos_problema !=1) or (chamado.tipos_problema !=2)%>
                                            <td> <%=h chamado.procedimentos%>  </td>
                                        <%end%>
                                        <%if chamado.estagiario_id.nil? %>
                                            <td align="center"><font color="red">ERRO no registro nº <%=h chamado.id %></font></td>
                                        <%else%>
                                            <td align="center"><%=h chamado.estagiario.nome %></td>
                                        <%end%>
                                        <td align="center"><%=h chamado.situacao_chamado.situacao %></td>
                                        <td align="center" ><%= link_to image_tag("/stylesheets/images/servico.png"),  {:action => "showencerrado", :id =>chamado}, :method => "get", :title => "Exibir Dados" %></td>
                                    </tr>
                                    <%$conta=$conta+1%>

                                <% end %>
                            <% end %>

                            <tr>
                                <td colspan="2" align="left"><font  color ="black "size="2"><b> Encerradas:</b></font> </td>
                                <td colspan="8" align="left"><font  color ="black "size="2">
                                        <b> Total:<%= $conta %></b></font> </td>
                            </tr>
                            <table align="left" width="100%" align="center"  >
                                <tr>
                                    <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                                </tr>
                            </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br/>
