<% if current_user.nil?%>

<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO INFORMÁTICA</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr  bgcolor ="#E6E2D">
            <td align="left">
             <font  size=5 color="black"> <b> ORDEM DE SERVIÇO - INFORMÁTICA</b></font>
               <hr/>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                        <td align="right"><b>Chamados Internos:</b>
                            <font color ="red "size="2"><b>Em Aberto: <%= @chamados_aberto.count %>&nbsp&nbsp</b> </font>
                            <font color="green" size="2"><b>Em Atendimento: <%= @chamados_atendimento.count %></b></font>
                        </td>
                    </tr>
                </table>
                    <table border="1" cellspacing="0" cellpadding="1" width="100%">
                        <tr>
                            <th width ="1%" align="center"> Nº Ordem</th>
                            <th width ="5%">Data sol</th>
                            <th width ="10%">Solicitante</th>
                            <th width ="15%">Unidade</th>
                            <th width ="20%"colspan="2">Problema</th>
                            <th width ="20%"  >Procedimentos</th>
                            <th width="8%">Status</th>

                        </tr>
                        <%form_tag selected_print_chamados_path, :method => :get do %>
                            <% for chamado in @chamados %>
                                <tr>
                                    <td align="center"><%=h chamado.id %></td>
                                    <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
                                    <td><%=h chamado.solicitante %></td>
                                    <td><%=h chamado.unidade.nome %></td>
                                    <td colspan="2"><%=h chamado.problema %></td>
                                    <%if (chamado.tipos_problema !=1) or (chamado.tipos_problema !=2)%>
                                        <td> <%=h chamado.procedimentos%>  </td>
                                    <%end%>
                                    <% if chamado.situacao_chamado_id == 1  %>
                                        <td><font color="red"><%=h chamado.situacao_chamado.situacao %></font></td>
                                    <%else if chamado.situacao_chamado_id == 6%>
                                        <td><b><font color="green"><%=h chamado.situacao_chamado.situacao %></font></b></td>
                                        <%else if chamado.situacao_chamado_id == 2%>
                                               <td><font color="blue"><%=h chamado.situacao_chamado.situacao %></font></td>
                                              <%else if chamado.situacao_chamado_id == 13%>
                                                     <td><font color=#DBA901><%=h chamado.situacao_chamado.situacao %></font></td>
                                                    <%else%>
                                                        <td><b><%=h chamado.situacao_chamado.situacao %></b></td>
                                                  <%end%>
                                            <%end%>
                                       <%end%>
                                    <%end%>
                                </tr>
                            <%end%>
                        <%end%>
                    </table>
                    <table width="100%" align="center">
                        <br/>
                        <tr>
                            <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                        </tr>
                    </table>

            </td>
       </tr>
    </table>
  </div>
</div>
<br/>
</div>











<%else%>

<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO INFORMÁTICA</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr  bgcolor ="#E6E2D">
            <td align="left">
             <font  size=5 color="black"> <b> ORDEM DE SERVIÇO - INFORMÁTICA</b></font>
               <hr/>
            </td>
        </tr>
        <tr>
            <td>
                   <table width="100%">
                    <tr>
                        <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                        <td align="right"><b>Chamados Internos:</b>
                            <font color ="red "size="2"><b>Em Aberto: <%= @chamados_aberto.count %>&nbsp&nbsp</b> </font>
                            <font color="green" size="2"><b>Em Atendimento: <%= @chamados_atendimento.count %></b></font>
                        </td>
                    </tr>

                    </table>

                    <table border="1" cellspacing="0" cellpadding="1" width="100%">
                        <tr>
                            <% if current_user.has_role?('admin') %>
                                <th width ="1%"></th>
                            <%end%>
                            <th width ="1%" align="center"> Nº Ordem</th>
                            <th width ="5%">Data sol</th>
                            <th width ="10%">Solicitante</th>
                            <th width ="15%">Unidade</th>
                            <th width ="20%"colspan="2">Problema</th>
                            <th width ="20%"  >Procedimentos</th>
                            <th width="8%">Status</th>
                            <% if current_user.has_role?('admin')or  current_user.has_role?('estagiario SEDUC') %>
                                <th align="center">OS</th>
                            <%end%>
                        </tr>
                        <%form_tag selected_print_chamados_path, :method => :get do %>
                            <% for chamado in @chamados %>
                                <tr>
                                    <% if current_user.has_role?('admin')%>
                                        <td align="center"><%= check_box_tag "chamado_ids[]",chamado.id %></td>
                                    <%end%>
                                    <td align="center"><%=h chamado.id %></td>
                                    <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
                                    <td><%=h chamado.solicitante %></td>
                                    <%t=0%>
                                    <td><% if !chamado.unidade.nil? %>
                                         <%=h chamado.unidade.nome %>
                                        <%end%>
                                    </td>
                                    <td colspan="2"><%=h chamado.problema %></td>
                                    <%if (chamado.tipos_problema !=1) or (chamado.tipos_problema !=2)%>
                                        <td> <%=h chamado.procedimentos%>  </td>
                                    <%end%>
                                    <% if chamado.situacao_chamado_id == 1  %>
                                        <td><font color="red"><%=h chamado.situacao_chamado.situacao %></font></td>
                                    <%else if chamado.situacao_chamado_id == 6%>
                                        <td><b><font color="green"><%=h chamado.situacao_chamado.situacao %></font></b></td>
                                        <%else if chamado.situacao_chamado_id == 2%>
                                               <td><font color="blue"><%=h chamado.situacao_chamado.situacao %></font></td>
                                              <%else if chamado.situacao_chamado_id == 13%>
                                                     <td><b><font color=#DBA901><%=h chamado.situacao_chamado.situacao %> <br/>

                                                         (<%=truncate(chamado.estagiario.nome,:length => 12,:omission => "...") %>)



                                                         </font></b></td>
                                                    <%else%>
                                                        <td><b><%=h chamado.situacao_chamado.situacao %></b></td>
                                                  <%end%>
                                            <%end%>
                                        <%end%>
                                    <%end%>
                                    <% if current_user.has_role?('admin') or  current_user.has_role?('estagiario SEDUC') %>
                                            <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/servico.png"),  {:action => "ordemservico", :id =>chamado}, :method => "get", :title => "Serviço" %></td>

                                    <%end%>
                                </tr>
                            <%end%>
                            <tr>
                                <td align="left" colspan="11">
                                    <table>
                                        <% if current_user.has_role?('admin') or current_user.has_role?('estagiario SEDUC') %>
                                            <td align="left"><%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
                                            <td align="left" ><font color="Blue"> VISUALIAR CHAMADOS SELECIONADOS PARA ATENDIMENTO</font></td>
                                        <%end%>
                                    </table>
                                </td>
                            </tr>
                        <%end%>
                       <% if current_user.has_role?('admin') %>
                        <tr>
                            <th align="left" colspan="11">
                                <font color ="black" size="3" ><b><center> ESTATÍSTICA </center></b></font>
                            </th>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                <font color ="black "size="2">
                                    <b>Chamados:</b>
                                </font>
                            </td>
                            <td align="center" colspan="2">
                                <font color ="black "size="2">
                                    <b> Total:<%= @chamados_totais.count %></b>
                                </font>
                            </td>
                            <td colspan="3" align="center">
                                <font color ="red "size="2">
                                    <b>Em Aberto: <%= @chamados_aberto.count %></b>
                                </font>
                            </td>
                            <td  align="center">
                                <font color="green" size="2">
                                    <b>Em Atendimento: <%= @chamados_atendimento.count %></b>
                                </font>
                            </td>
                            <td  align="center" colspan="2">
                                <font color="black" size="2">
                                    <b>Encerrados: <%= @chamados_encerrado.count %></b>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                <font color ="black "size="2">
                                    <b>Aguardando:</b>
                                </font>
                            </td>
                            <td align="center" colspan="2">
                                <font color ="black "size="2">
                                    <b>Compras: <%= @chamados_compras.count %></b>
                                </font>
                            </td>
                            <td colspan="3" align="center">
                                <font  color ="black "size="2">
                                    <b>Motorista: <%= @chamados_motoristas.count %></b>
                                </font>
                            </td>
                            <td align="center">
                                <font  color ="black "size="2">
                                    <b>Terceiros: <%= @chamados_terceiros.count %></b>
                                </font>
                            </td>
                            <td align="center" colspan="2">
                                <font  color ="black "size="2">
                                    <b>Externo: <%= @chamados_externo.count %></b>
                                </font>
                            </td>
                        </tr>
                      <%end%>
                    </table>
                </font>

                    <table width="100%" align="center">
                        <br/>
                        <tr>
                            <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                        </tr>
                    </table>

            </td>
        </tr>
    </table>

  </div>
</div>
<br/>
</div>
<%end%>