
<div id="interno6">
    <% title "CLASSES".singularize %>
    <div class="tabs">
        <div id="caixa_titulo">
            <font size="3"><strong>MANUTENÇÃO INFORMÁTICA</strong></font><br/>
        </div>
        <div class="tabs">
            <table width="100%" align="center"  bgcolor="#F5F5F5" >
                <tr  bgcolor ="#E6E2D">
                    <td align="left">
                        <font  size=5 color="black"> <b>SERVIÇO ENCERRADO - MANUTENÇÃO INFORMÁTICA</b></font>
                        <hr/>
                    </td>
                </tr>
                <tr>
                    <td  colspan="2">
                        <table>
                            <tr>
                                <td width="40%" valign="TOP">
                                    <%= render 'formshow' %>
                                </td>
                                <td valign="top">
                                    <fieldset><legend><font  size=4> Atendimento</font></legend>
                                        <table>
                                            <tr>
                                                <td align="left" width="20%"><b>Data Atendimento:</b></td>
                                                <td align="left"><%=h @chamados.data_aten.strftime("%d de %B de %Y") %></td>
                                            </tr>
                                            <tr>
                                                <td align="left" width="20%"><b>Hora Atendimento:</b></td>
                                                <td align="left"><%=h @chamados.data_aten.strftime("%H:%M horas")%></td>
                                            </tr>
                                            <tr>
                                                <td align="left"><b>Funcionário:</b></td>
                                                <%if @chamados.unidade_id.nil?%>
                                                    <td><font color="red">ERRO no registro nº<%=h @chamados.id %></font></td>
                                                <%else%>
                                                    <td align="left"><%=h @chamados.estagiario.nome %></td>
                                                <%end%>
                                            </tr>
                                            <tr>
                                                <td align="left"><b>Tipo Problema:</b></td>
                                                <%if @chamados.tipos_problema.nil?%>
                                                    <td><font color="red">ERRO no registro nº<%=h @chamados.id %></font></td>
                                                <%else%>
                                                    <td align="left"><%=h @chamados.tipos_problema.tipo %></td>
                                                <%end%>
                                            </tr>
                                            <tr>
                                                <td align="left"><b>Patrimônio:</b></td>
                                                <td align="left"><%=h @chamados.patrimonio %>
                                                    <b>Local Atendimento:</b><%=h @chamados.local %></td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top"><b>Procedimentos executados:</b></td>
                                                <td align="left"><%=h @chamados.procedimentos %></td>
                                            </tr>
                                            <tr>
                                                <td align="left"><b>Situação Chamado:</b></td>
                                                <td align="left"><%=h @chamados.situacao_chamado.situacao %></td>
                                            </tr>
                                            <tr>
                                                <td align="left"><b>Término:</b></td>
                                                <td align="left"><%=h @chamados.data_enc.strftime("%d de %B de %Y") %></td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>

              <table align="left">
            <tr>
               <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
              <td align="left" ><%= button_to("Imprimir",  onclick="javascript:window.print()", :title => "Imprimir") %></td>
            </tr>
         </table>
            </table>
            </td>
            </tr>
            </table>
            </font>

        </div>
    </div>
    <br/>


