<h1>Editing orc_pagamento</h1>

<% form_for(@orc_pagamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :orc_empenho_id %><br />
    <%= f.text_field :orc_empenho_id %>
  </p>
  <p>
    <%= f.label :ficha_pg %><br />
    <%= f.text_field :ficha_pg %>
  </p>
  <p>
    <%= f.label :valor_pg %><br />
    <%= f.text_field :valor_pg %>
  </p>
  <p>
    <%= f.label :data_pg %><br />
    <%= f.date_select :data_pg %>
  </p>
  <p>
    <%= f.label :obs_pg %><br />
    <%= f.text_field :obs_pg %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @orc_pagamento %> |
<%= link_to 'Back', orc_pagamentos_path %>