<% form_for @estagiarios, :html => { :multipart => true } do |f| %>
<%= f.error_messages %>
<font  size="2">
<table class="tabelas" width="100%"  align="center">
   <tr>
     <%if @estagiarios.flag == 0%>
      <th align="left">
         <font  size=5 color="black"> <b> ESTAGIÁRIOS</b></font>
      </th>
       <td width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>
     <%else%>
      <th align="left">
         <font  size=5 color="black"> <b> ANALISTAS</b></font>
      </th>
       <td width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>     <%end%>
   </tr>
   <tr>
     <td colspan="2">
       <fieldset><legend><font  size=4> Dados Pessais</font></legend>
         <table width="100%">
            <tr>
              <td align="left"><b>Nome:</b></td>
              <td align="left" colspan="3"><%= f.text_field :nome, :size =>60 %>
                     <%= observe_field :estagiario_nome,
                          :with => :estagiario_nome,
                          :url => { :action => 'mesmo_nome' } %>
                    <b>RG:</b><%= f.text_field :RG, :size => 6 %>
                    <b> CPF:</b><%= f.text_field :CPF, :size => 6 %></td>

            </tr>
            <tr>
              <td colspan="2">
                 <font size="4" color="red">
                     <div id='nome_aviso'></div>
                 </font>
              </td>
            </tr>
           <tr>
              <td align="left"><b> Endereço:</b></td>
              <td align="left" colspan="3"> <%= f.text_field :endereco, :size => 40%>
                    <b>Nº </b><%= f.text_field :num, :size => 1 %>
                    <b> Complemento:</b><%= f.text_field :complemento, :size =>24                                %></td>

           </tr>
           <tr>
           </tr>
           <tr>
              <td align="left"><b> Bairro:</b></td>
              <td align="left" colspan="3"><%= f.text_field :bairro, :size =>31 %>
                   <b> Cidade:</b><%= f.text_field :cidade, :size =>48 %></td>
           </tr>
           <tr>
              <td align="left"><b>Telefone:</b></td>
              <td align="left" colspan="3"><%= f.text_field :fone, :size =>10 %>
                  <b> Celular:</b><%= f.text_field :cel, :size =>10%>
                  <b> e_mail:</b><%= f.text_field :email, :size =>45%>
               </td>
           </tr>
           <tr>
               <td align="left"><b>Data Nasc:</b></td>
               <td align="left"><%= f.date_select(:data_nasc, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 50)) %><BR /></td><p>
               <td align="left"></td>
               <td align="left"><b>Foto: </b> <%= f.file_field :photo%></td>
           </tr>
         </table>
       </fieldset>
      <br/>
       <fieldset><legend><font  size=4> Dados Faculdade</font></legend>
         <table>
            <tr>
               <td align="left"><b>Faculdade:</b></td>
               <td align="left"> <%= f.text_field :faculdade, :size =>35 %></td>
                <td align="left"><b> Nº Matricula:</b></td>
               <td align="left"><%= f.text_field :matricula, :size =>10  %>
                     <b>Periodo: </b> <%= f.select :periodo_est, PERIODO, :include_blank => '---Selecione---',  :size =>19 %></td>
            </tr>
            <tr>
               <td align="left"><b>Ingresso:</b></td>
               <td align="left">    <%= f.date_select(:data_ingresso, :order => [:month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 5)) %><BR /></td><p>
            <td align="left" colspan="2"><b>Término (previsão):</b>
                        <%= f.date_select(:data_termino, :order => [:month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year + 5)) %><BR /></td><p>
            </tr>
        </table>
      </fieldset>
      <br/>
      <fieldset><legend><font  size=4> Dados Contrato</font></legend>
          <table >
            <tr>
               <td align="left"><b> Período:</b></td>
               <td align="left" colspan="3"><%= f.select :periodo_trab, PERIODOT, :include_blank => '---Selecione---',  :size =>19 %>
                    <%= observe_field 'estagiario_periodo_trab',
                                :with => :estagiario_periodo_trab,
                                :url => { :action => 'seleciona' },
                                :update => "selecao" %>
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <b> Típo de Estágio:</b>&nbsp&nbsp
                  <%= collection_select  :estagiario, :tipo, @estagios, :nome, :nome, :include_blank => ' --- Selecione opção ---'  %>
               </td>
               </tr>
             <tr>
               <td colspan="4" align="left"> <div id="selecao"></div></td>
             </tr>
             <tr>
                <td align="left"><b>Admissão:</b></td>
                <td align="left" colspan="3">    <%= f.date_select(:data_admissao, :order => [:day, :month, :year], :start_year => (Date.today.year), :end_year => (Date.today.year - 10)) %>
                <b>Analista Responsável:</b> <%= f.text_field :responsavel, :size =>15%>
                <b>Matricula (PMA): </b><%= f.text_field :matriculaPMA, :size =>5%>
                </td>
             </tr>
             <% if current_user.has_role?('administrador') %>
                <tr>
                   <td valign="top"><b>Observação:</b></td>
                   <td  align="left"><%= f.text_area(:obs, :cols =>"50", :rows => "1") %></td>
                   <td align="left"><b> Avaliação:</b></td>
                   <td align="left" ><%= f.text_field :aval, :size =>"34"   %></td>
                </tr>
             <%end%>
        </table>
      </fieldset>
      <div class="botao">
        <table width="100%" align="left">
           <tr>
             <div id='Certeza'>
              <td width="6%"align="left" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
              </div>
              <td align="left"><%= f.submit "Salvar", :class => "btn_filtrar" %></td>
<% end %>
            </tr>
        </table>
      </div>
    </td>
   </tr>
  </table>
</font>