    <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
  

 <tr>
  <td width="100%" colspan="3">
   <%  contador = 0 %>
   
    <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: black"bgcolor="#F5F5F5">
       <tr>
           <td bgcolor="#DCDCDC" align="center">Inscrição</td>
        <td bgcolor="#DCDCDC">Participante</td>
        <td bgcolor="#DCDCDC">Curso</td>
        <td align="center" bgcolor="#DCDCDC">Data da Inscrição:</td>
      </tr>
      <% for inscricao in @inscricaos %>
      <tr>
          <td align="center"><%=h inscricao.id %></td>
       <td><%=h inscricao.participante.nome %></td>
       <td><%=h inscricao.curso.nome %></td>

       <td align="center"> <%=h inscricao.data_inscricao.strftime("%d/%b/%Y") %> </td>
     </tr>
     <%  contador = contador + 1 %>
    <% end %>
   </table>
 </td>
</tr>

<tr>
     <td width="8%" colspan="4"><b> Total de cursos inscrito: <%= contador %></b> </td>
     </tr>
 </table>
        </div