<table width="100% "bgcolor="#DCDCDC" >
                       <tr >
                         <td></td>
                          <td align="left"><b> Produto</b></td>
                          <td align="center"><b> Saida</b></td>
                          <td align="center"><b>Local/Destino</b></td>
                          <td align="center"><b>Data</b></td>
                          <td></td>
                       </tr>
                      <% @lancamentos_entradas.each do |lancamento| %>
                        <tr bgcolor="#F5F5F5">
                           <td width ="1%"><%= button_to('', {:action => "show", :id =>lancamento},:method => "get", :title => "Visualizar") %></td>
                          <td><%=h lancamento.produto.produto %></td>
                          <td align="center"><%=h lancamento.saida %></td>
                          <td><%=h lancamento.produto.destino%></td>
                          <td align="center"><%=h lancamento.data_saida.strftime("%d/%m/%Y") %></td>
                          <td width ="6%"><%= button_to('Visualizar', {:action => "show", :id =>lancamento},:method => "get", :title => "Visualizar") %></td>
                       </tr>
                      <%end%>
</table>

