<h1>Editing produtos_lancamento</h1>

<% form_for(@produtos_lancamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :produto %><br />
    <%= f.text_field :produto %>
  </p>
  <p>
    <%= f.label :entada %><br />
    <%= f.text_field :entada %>
  </p>
  <p>
    <%= f.label :saida %><br />
    <%= f.text_field :saida %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @produtos_lancamento %> |
<%= link_to 'Back', produtos_lancamentos_path %>