<div id="interno5">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>PRODUTO</strong></font><br/>
 </div>
      <div class="tabs">
        <br/>
        <font  size="2">
        <table  bgcolor="#F5F5F5" width="100%"  align="center">
           <tr>
             <td colspan="2">
               <fieldset><legend><font  size=4> Produto</font></legend>
                 <table width="100% " >
                    <tr>
                      <td align="left" width =" 10%"><b>Produto</b></td>
                      <td align="left"><%=h @produtos_lancamento.produto.produto %></td>
                    </tr>
                   <tr>
                      <td align="left"><b> Fornecedor:</b></td>
                      <td align="left"><%=h @produtos_lancamento.produto.fornecedor %></td>
                   </tr>
                   <tr>
                       <%if !@produtos_lancamento.data_saida.nil? %>
                          <td align="left"><b> Local/Destino:</b></td>
                          <td align="left"><%=h @produtos_lancamento.destino %></td>

                        <%else%>
                            <td align="left"><b> NF/Empenho:</b></td>
                           <td align="left"><%=h @produtos_lancamento.nf %></td>

                       <%end%>
                   </tr>
                   <tr>
                      <td align="left"><b>Complemento:</b></td>
                      <td align="left" ><%=h @produtos_lancamento.complemento %></td>
                   </tr>
                   <tr>
                       <td align="left"><b>Quantidade:</b></td>
                       <%if !@produtos_lancamento.data_saida.nil? %>
                          <td align="left"><b>Saída:</b> <%=h@produtos_lancamento.saida%> <%=h @produtos_lancamento.produto.unidade %> &nbsp&nbsp <b> Saldo:</b> <%=h @produtos_lancamento.produto.estoque %> <%=h @produtos_lancamento.produto.unidade %> </td>
                        <%else%>
                          <td align="left"><b>Entrada:</b> <%=h@produtos_lancamento.entrada%> <%=h @produtos_lancamento.produto.unidade %> &nbsp&nbsp <b> Saldo:</b> <%=h @produtos_lancamento.produto.estoque %> <%=h @produtos_lancamento.produto.unidade %> </td>
                       <%end%>
                   </tr>
                   <tr>
                      <td align="left"><b>Data:</b></td>
                      <td align="left" ><%=h @produtos_lancamento.created_at.strftime("%d/%m/%Y")%></td>
                   </tr>

                   <tr>
                      <td align="left"><b>Observação:</b></td>
                      <td align="left" ><%=h @produtos_lancamento.obs %></td>
                   </tr>
                 </table>
               </fieldset>
               <table>
                         <tr>
                           <td width="6%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>



                        </tr>
                      </table>

            </td>
           </tr>
          </table>
        </font>
        <br/>
    </div>
  </div>
<br/>
</div>




