<div id="interno5">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>PRODUTO</strong></font><br/>
 </div>
      <div class="tabs">
        <br/>
        <font  size="2">
        <table  bgcolor="#F5F5F5" width="100%"  align="center">
           <tr>
             <td colspan="2">
               <fieldset><legend><font  size=4> Produto</font></legend>
                 <table width="100% " >
                    <tr>
                      <td align="left" width =" 10%"><b>Produto</b></td>
                      <td align="left"><%=h @produto.produto %></td>
                    </tr>
                   <tr>
                      <td align="left"><b> Fornecedor:</b></td>
                      <td align="left"><%=h @produto.fornecedor %></td>
                   </tr>
                   <tr>
                      <td align="left"><b> NF/Empenho:</b></td>
                      <td align="left"><%=h @produto.nf %></td>
                   </tr>
                   <tr>
                      <td align="left"><b>Complemento:</b></td>
                      <td align="left" ><%=h @produto.complemento %></td>
                   </tr>
                   <tr>
                       <td align="left"><b>Quantidade:</b></td>
                       <td align="left"><b>Saldo:</b> <%=h @produto.estoque %> <%=h @produto.unidade %> </td>
                   </tr>
                   <tr>
                      <td align="left"><b>Observação:</b></td>
                      <td align="left" ><%=h @produto.obs %></td>
                   </tr>
                 </table>
               </fieldset>
               <table >
                         <tr>
                           <td width="1%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                           <td width="1%"align="left" ><%= button_to('Entrada', new_entrada_path, :method => "get", :title => "Fechar")%></td>
                           <td align="left" ><%= button_to('Saida', new_saida_path, :method => "get", :title => "Fechar")%></td>
                            <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') %>
                                <td align="left""><%= button_to('Editar', {:action => "edit", :id => @produto.id},:method => "get", :title => "Visualizar") %></td>
                              <%end%>


                        </tr>
                      </table>

            </td>
           </tr>
          </table>
        </font>
        <br/>





    </div>
  </div>
<br/>
</div>


