
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
            <tr bgcolor ="#E6E2D">
                <td align="left">
                     <div id="caixa_titulo"><b> SERVIÇOS EM ABERTOS - MANUTENÇÃO GERAL</b></div>
                    <hr/>
                </td>
            </tr>

          <tr>
            <td colspan="2">
              <br/>
              <font  size="2">
                  <table width="100%">
                    <tr>
                        <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>

                    </tr>
                    </table>


                 <table border="2" cellspacing="0" cellpadding="1" width="100%">
                  <tr >
                    <th width ="1%" align="center">Proto- colo</th>
                    <th width ="5%">Data Solicitação</th>
                    <th width ="10%">Solicitante</th>
                    <th width ="10%">Unidade</th>
                    <th width ="35%">Solicitação</th>
                    <th width ="15%">Encaminhanto</th>
                    <th width="15%">Status</th>
                  </tr>
                  <%$cont=0%>
                  <%form_tag selected_print_mmanutencaos_path, :method => :get do %>
                    <% for chamado in @mmanutencaos %>
                     <% if current_user.unidade_id != 53 %>

                           <tr>
                             <td align="center"><%=h chamado.id %></td>
                             <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
                             <td><%=h chamado.solicitante %></td>
                             <td><%=h chamado.nome%> </td>
                             <td><%=h chamado.descricao %></td>
                             <td><%=h chamado.procedimentos %></td>
                             <% if chamado.situacao_manutencao.situacao == 'EM ABERTO'  %>
                                 <td><font color="red"><%=h chamado.situacao_manutencao.situacao %></font></td>
                             <% else %>

                                 <% if (chamado.situacao_manutencao.situacao == 'EM ATENDIMENTO') or (chamado.situacao_manutencao.situacao == 'AGUARDANDO COMPRAS')or (chamado.situacao_manutencao.situacao == 'DEVOLUÇÃO PARA UNIDADE') %>
                                 <td align="center"><font color="green"><%=h chamado.situacao_manutencao.situacao %></font></td>
                                 <% else %>
                                    <td><font color="blue"><b><%=h chamado.situacao_manutencao.situacao %></b></font> <br/>
                                      <%if chamado.chefia.nil? %>
                                         p/ <%=h chamado.user.login %>
                                      <%else%>
                                         p/ <%=h chamado.chefia.nome %>
                                      <%end%>
                                     </td>
                                    <%end%>
                             <% end %>
                         </tr>

                      <%else%>
                     <tr>
                       <td align="center"><%=h chamado.id %></td>
                       <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
                       <td><%=h chamado.solicitante %></td>
                       <td><%=h chamado.unidade.nome %></td>
                       <td><%=h chamado.descricao %></td>
                       <% if chamado.situacao_manutencao.situacao == 'EM ABERTO'  %>
                           <td><font color="red"><%=h chamado.situacao_manutencao.situacao %></font></td>
                       <% else %>

                           <% if (chamado.situacao_manutencao.situacao == 'EM ATENDIMENTO') or (chamado.situacao_manutencao.situacao == 'AGUARDANDO COMPRAS') %>
                              <td><font color="green"><%=h chamado.situacao_manutencao.situacao %></font></td>
                           <% else %>
                              <td align="center"><font color="blue"><b> <%=h chamado.situacao_manutencao.situacao %></b></font> <br/>
                                <%if chamado.chefia.nil? %>
                                   p/ <%=h chamado.user.login %>
                                <%else%>
                                   p/ <%=h chamado.chefia.nome %>
                                <%end%>
                               </td>
                              <%end%>
                       <% end %>
                      </tr>


                      <%end%>

                      <tr>
                        <td align="right" colspan="7">
                           <table >
                              <tr>
                                <td width="1% align="right" > <%= button_to("",  {:action => "despacho", :id =>chamado}, :method => :post, :title => "Encaminhar") %><%#= link_to image_tag("/stylesheets/images/encami.png" ), {:action => "despacho", :id =>chamado}, :method => "get", :title => "Encaminhar" %></td>
                                 <% if current_user.has_role?('admin') or current_user.has_role?('admin_manutencao') or current_user.has_role?('diretor_unidade') or current_user.has_role?('terceiro')or current_user.has_role?('SEDUC')or current_user.has_role?('estagiario SEDUC') %>
                                  <% if current_user.has_role?('admin') or current_user.has_role?('admin_manutencao')or current_user.has_role?('SEDUC')or current_user.has_role?('estagiario SEDUC') %>

                                      <td width="6% align="right" ><%= button_to("Encaminhar",  {:action => "despacho", :id =>chamado}, :method => "get", :title => "Encaminhar") %></td>
                                                                    

                                  <%end%>

                                      <td width="6% align="left"> <%#= link_to image_tag("/stylesheets/images/imprimir1.png"), {:action => "impressao_manutencao", :id =>chamado}, :method => "get", :title => "Imprimir" %>
                                                        <%= button_to("Imprimir",  {:action => "impressao_manutencao", :id =>chamado}, :method => "get", :title => "Imprimir") %>
                                      </td>
                                 <%end%>
                                 <% if current_user.has_role?('admin') or current_user.has_role?('chefia_manutencao') or current_user.has_role?('diretor_unidade') or current_user.has_role?('terceiro')or current_user.has_role?('estagiario SEDUC') or current_user.has_role?('SEDUC')  %>
                                   <td width="6%  align="left" ><%#= link_to image_tag("/stylesheets/images/servico.png"),  {:action => "ordemservico", :id =>chamado}, :method => "get", :title => "Serviço" %>
                                                       <%= button_to("Serviço",  {:action => "ordemservico", :id =>chamado}, :method => "get", :title => "Serviço") %>
                                   </td>
                                 <%end%>
                                 <% if current_user.has_role?('admin') or current_user.has_role?('SEDUC') %>
                                   <td align="left" ><%#= link_to image_tag("/stylesheets/images/servico.png"),  {:action => "ordemservico", :id =>chamado}, :method => "get", :title => "Serviço" %>
                                                       <%= button_to("Terceirizada",  {:action => "terceirizada", :id =>chamado}, :method => "get", :title => "Serviço") %>
                                   </td>
                                 <%end%>
                               </tr>
                            </table>
                        </td>

                      </tr>
                      <tr>
                        <td align="right" colspan="7">
                        </td>
                      </tr>
                           <%$cont=$cont+1%>
                    <%end%>
                      <tr>
                        <td  colspan="12">
                          <b>Total de Ordem de Serviços em aberto:  <%= $cont %> </b>
                        </td>
                      </tr>
                  <%end%>


          </table>
          </font>

              <table align="right">
               <tr>
                  <td align="right"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                  <td align="right"><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_estatistica_unidade_aberta_path}','impressao', 'scrollbars=yes , toolbar=yes, status=yes');", :title => "Imprimir" %>

<%#= button_to('Imprimir',  onclick="javascript:window.print()", :title => "Imprimir")%></td>
               </tr>
               </table>

         </td>
          </tr>
        </table>
<br/>

