   <fieldset><legend><font  size=4> SOLICITAÇÃO</font></legend>
     <table>
       <tr>
             <td align="left"><b>Nº Ordem Serviço:  </b></td>
             <td align="left"><%=h @mmanutencao.id%> <%session[:idmanutencao]= @mmanutencao.id%></td>
       </tr>
       <tr>
         <td align="left"><b>Data:</b></td>
         <td align="left"><%=h @mmanutencao.data_sol.strftime("%d/%m/%Y" ) %></td>
       </tr>
       <tr>
         <td align="left"><b>Horas:</b></td>
         <td align="left"><%=h @mmanutencao.data_sol.strftime("%H:%M horas") %></td>
       </tr>
       <tr>
         <td align="left"><b>Solicitante:</b></td>
         <td align="left"><%=h @mmanutencao.solicitante %></td>
       </tr>
       <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left"> <%=h @mmanutencao.unidade.nome %></td>
       </tr>
       <tr>
          <td valign="top"><b>Serviços:</b></td>
          <td>
             <% @mmanutencao.tipos_manutencaos.each do |servico| %>
              - <%=h servico.servico%><br/>
             <% end %>
          </td>
      </tr>
       <tr>
           <td align="left" valign="top"><b>Problema:</b></td>
         <td align="left"><%=h @mmanutencao.descricao %></td>
       </tr>
                             <tr>
                                 <td align="left" valign="top">  <b>Justificativa:</b></td>
                                 <td align="left"><%=h @mmanutencao.justificativa%></td>
                               </tr>
       <tr>
         <td align="left"><b>Solicitou:</b></td>
         <td align="left"><%=h @mmanutencao.user.name%></td>
       </tr>
       <tr>
         <td align="left"><b>Observação:</b></td>
         <td align="left"><%=h @mmanutencao.obs%></td>
       </tr>

     </table>
    </fieldset>



