    <%  if current_user.unidade_id == 52 or current_user.unidade_id == 53 %>
       <% @unidades= Unidade.find(:all, :order => 'nome ASC') %>
     <%  else %>
        <% @unidades= Unidade.find(:all , :conditions => ['id = ?', current_user.unidade_id]) %>
      <% end%>
 
<% @tipos_manutencaos =  TiposManutencao.find(:all) %>

<% form_for(@mmanutencao) do |f| %>
    <%= f.error_messages %>
    <font  size="2">
        <table width="100%" align="center"  >
            <tr>
                <td colspan="3">
                    <fieldset><legend><font size ="4"><b>Solicitação</b></font></legend>
                        <table align="center"  width="100%"  bgcolor="#F5F5F5">
                            <tr>
                                <td align="left"><b><font size="3" color ="red">*</font>Unidades:</b></td>
                                <td><%= f.collection_select  :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecionar -- ' %></td>
                            </tr>
                            <tr>
                                <td align="left"> <b>Soliciante:</b></td>
                                <td><%= f.text_field :solicitante, :size => 48 %></td>
                            </tr>
                            <!--
                                       <tr>
                                         <td colspan="2" align="left"><b>Forma Solicitação:</b> <%= f.select :forma, options_for_select(Chamado::Solicitacao), :include_blank => "---Selecionar---" %> <b>Data/Hora:</b><%= Time.now.strftime("%d/%m/%Y %H:%M")%> horas</td>
                                       </tr>
                            -->
                            <tr>
                                <td colspan="2">
                                    <fieldset><legend><font size ="2"><b>Serviços:</b></font></legend>
                                        <table align="left"  width="100%">

                                            <% @tipos_manutencaos.in_groups_of(3, false) do |row_tipos_manutencaos| %>
                                                <tr>
                                                    <% row_tipos_manutencaos.each do |tipos_manutencao| %>
                                                        <td align="left"><%= radio_button_tag "mmanutencao[tipos_manutencao_ids][]", tipos_manutencao.id, @mmanutencao.tipos_manutencaos.include?(tipos_manutencao), :title => "#{tipos_manutencao.servico}"%><%= "#{tipos_manutencao.servico} " %></td>
                                                    <%end%>
                                                </tr>
                                            <%end%>
                                            <tr>
                                                <td colspan="3"align="right"> <font color="red"><b>  <b><u>OBS:</u> Selecionar somente uma opção</b></td>
                                                            </tr>
                                                            </table>
                                                            </fieldset>
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top"><b>Descrição da <br/>Solicitação:</b></td>
                                                                <td> <%= f.text_area :descricao, :cols =>"48", :rows => "3" %></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top"><font size="2" color ="red"><b>*</b></font><b>Justificativa:</b></td>
                                                                <td> <%= f.text_area :justificativa, :cols =>"48", :rows => "3" %></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" align="left"><font size="2" color ="red"><b><u> ATENÇÃO:</u></b></font>
                                                                </td>
                                                            </tr>
<!--<tr>
    <td  colspan="2" align="left" valign="top">
         <b>Foto: </b> <%= f.file_field :photo1%>
         <%#= f.file_field :photo1%>
    </td>
</tr>->>
                                                            <tr>
                                                                <td  colspan="2" align="left" valign="top">
                                                                    <font color="red"><b> 1) <b>* Campo com preencimento obrigatório</b><br/>
                                                                            2) Favor descrever, de forma específica, todos os serviços e respectivos locais <br/>
                                                                            3) Preencher JUSTIFICATIVA para solicitaçõa do serviço (*campo obrigatório).<br/>
                                                                            <u>Exemplo:</u> Trocar lampadas da sala nº 5 JUSTIFICATIVA: Lampada queimadas e as <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                                           salas de aula necessitam iluminação adequada para atender as ativida- <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                                                           des desenvolvidas.


                                                                        </b></td>

                                                            </tr>




                                                            </table>
                                                            </fieldset>
                                                            <table width="100%" align="left" >
                                                                <tr>
                                                                    <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
                                                                <% end %>
                                                                <td  align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>

                                                            </tr>
                                                        </table>

                                                        </td>
                                                        </tr>
                                                        </table>
                                                </font>





