<br/>
<font size="2">
<table  class="tabelas1" width="100%"align="center">
 <tr>
   <th align="left">
     <font  size=5 color="black"> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO - DESPACHO</b></font>
   </th>
   <td width="1%"><div class="botao"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></div></td>
</tr>
<tr>
  <td colspan="2">
     <table>
       <tr>
         <td width="50%" valign="TOP">
           <%= render 'formshow' %>
         </td>
         <td valign="top" width="60%">
           <fieldset><legend><font  size=4> Encaminhamento</font></legend>
           <% form_for(@mmanutencao) do |f| %>
           <%= f.error_messages %>
           <table>
            <tr>
              <td align="left" width="20%"><b>Nome:</b></td>
              <td align="left"><%= $usuario%></td>

             </tr>
           <tr>
              <td align="left" valign="top"><b>Despacho:</b></td>
              <td align="left"><%= f.text_area :procedimentos, :cols =>"40", :rows => "3" %></td>
           </tr>
           <tr>
              <td align="left"><b>Funcionário:</b></td>
               <td align="left"><%= f.collection_select :chefia_id, @chefias1, :id, :nome, :include_blank => ' -- Selecione -- ', :size=> 20 %></td>
           </tr>
           <tr>
              <td align="left"><b>Situação:</b></td>
              <td align="left"><%= f.collection_select :situacao_manutencao_id, @situacaos, :id, :situacao, :include_blank => ' -- Selecione -- '%>
          </td>
             </tr>
           <tr>
              <td align="left" valign="top"><b>Obs:</b></td>
              <td align="left"><%= f.text_area :obs, :cols =>"40", :rows => "1" %></td>
           </tr>
           </table>
        </fieldset>
        <table  align="right">
            <tr >
              <td align="right"><%= f.submit "Salvar" %> </td>
              <% end %>
               <td align="right"><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
               <td align="right" ><%= link_to image_tag("/stylesheets/images/servicos.png"), mmanutencaos_path, {:method => "get"}, :title => "Ordem de Serviço" %></td>
             </tr>
         </table>
      </td>
      </tr>


    </table>
  </td>
 </tr>
</table>
</font>
<br/>

