<%  @situacaos = SituacaoManutencao.find(:all) %>
<% @chefias1 = Chefia.find(:all,  :conditions => ['desligado=? ',0], :order => 'nome ASC') %>
<div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr bgcolor ="#E6E2D">
           <td colspan="2"align="left">
             <font  size=5 color="black"> <b> ENCAMINHAMENTO DE SERVIÇO - MANUTENÇÃO GERAL</b></font>
               <hr/>
            </td>
        </tr>
        <tr>
           <td  valign="TOP">
               <%= render 'formshow' %>
            </td>
        </tr>
        <tr>
           <td valign="top" width="50%">
             <fieldset><legend><font  size=4> ENCAMINHAMENTO</font></legend>
                   <% form_for(@mmanutencao) do |f| %>
                   <%= f.error_messages %>
                   <table>
                   <tr>
                      <td align="left" valign="top"><b>Despacho:</b> </td>
                      <td align="left"> <%= f.text_area :procedimentos, :cols =>"50", :rows => "3" %></td>
                      <td align="left" valign="top"><b>Para Setor:</b> &nbsp<%= f.collection_select :chefia_id, @chefias1, :id, :nome, :include_blank => ' -- Selecionar -- ', :size=> 20 %> <br/>
                                                    <b>Situação: &nbsp&nbsp&nbsp</b> <%= f.collection_select :situacao_manutencao_id, @situacaos, :id, :situacao, :include_blank => ' -- Selecionar -- '%>

                      </td>
                   </tr>
                   <tr>
                      <td align="left" valign="top"><b>Obs:</b></td>
                      <td colspan="3"align="left"><%= f.text_area :obs, :cols =>"90", :rows => "1" %></td>
                   </tr>
                   </table>
                </fieldset>
                <table  align="left">
                    <tr >
                      <td align="right"><%= f.submit "Salvar" %> </td>
                      <% end %>
                       <td align="right"><%= button_to('Fechar', mmanutencaos_path, :method => "get", :title => "Fechar")%></td>
                      <td align="left" ><%= button_to('Serviços em Aberto', mmanutencaos_path, :method => "get", :title => "Servicos em Aberto") %></td>
                     </tr>
                 </table>
              </td>
              <%session[:despacho]=1%>
              </tr>


            </table>

</font>
<br/>

</div>
</div>
<br/>