<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr>
            <td align="left">
             <font  size=5 color="black"> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO <%= session[:nome_manutencao]%> </b></font>
               <hr/>
            </td>
        </tr>
        <br/>
 
  <tr>
    <td colspan="2">
      <br/>
      <font  size="2">
        <table border="1" cellspacing="0" cellpadding="1" width="100%" bgcolor="#F5F5F5">
          <tr  bgcolor="#DCDCDC">
            <th width ="1%" align="center">Proto- colo</th>
            <th width ="5%">Data Solicitação</th>
            <th width ="10%">Solicitante</th>
            <th width ="15%">Unidade</th>
            <th width ="20%"colspan="2">Problema</th>
            <th width ="20%"  >Procedimentos Executados</th>
            <th width="8%">Status</th>
             <th width="8%"></th>
          </tr>
          <%$cont=0%>
            <% for chamado in @mmanutencaos_estatisticas %>
             <tr>
               <td align="center"><%=h chamado.id %></td>
               <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
               <td><%=h chamado.solicitante %></td>
               <td><%=h chamado.unidade.nome %></td>
               <td colspan="2"><%=h chamado.descricao %></td>
               <td> <%=h chamado.procedimentos%>  </td>
               <% if chamado.situacao_manutencao.situacao == 'EM ABERTO'  %>
                   <td><font color="red"><%=h chamado.situacao_manutencao.situacao %></font></td>
               <% else %>
                   <% if (chamado.situacao_manutencao.situacao == 'EM ATENDIMENTO') or (chamado.situacao_manutencao.situacao == 'AGUARDANDO COMPRAS') %>
                      <td><font color="green"><%=h chamado.situacao_manutencao.situacao %></font></td>
                   <% else %>
                      <td><%=h chamado.situacao_manutencao.situacao %> <br/>
                        <%if chamado.chefia.nil? %>
                           p/ <%=h chamado.user.login %>
                        <%else%>
                           p/ <%=h chamado.chefia.nome %> 
                        <%end%>
                       </td>
                      <%end%>
               <% end %>
                <td><%= link_to image_tag("/stylesheets/images/servico.png"),  {:action => "show", :id =>chamado}, :method => "get", :title => "Serviço" %></td>
              </tr>
            <%$cont=$cont+1%>
            <%end%>
              <tr>
                <td  colspan="12">
                  <font color ="red" size="2" ><b>Total de Serviços de <%= session[:nome_manutencao]%> <%=session[:nome_manutencao1]%>:</b> <%= $cont %></font>
                </td>
              </tr>



  </table>
  </font>

      <table align="left">
       <tr>
          <td align="right"><%= button_to('Voltar', home_path, :method => "get", :title => "Voltar")%></td>
          <td align="right"><%= button_to('Imprimir',  onclick="javascript:window.print()", :title => "Imprimir")%></td>
       </tr>
       </table>

 </td>
  </tr>
</table>
</div>
</div>
<br/>





