<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
 </div>
   
        <table border="1" cellspacing="0" cellpadding="1" width="120%" style="border-color: white">
          <tr style="border-color: white">
            <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="2"> INFOSEDUC - Sistema de Informações</i></b><br/></center>
            </td>
          </tr>
         <tr  style="border-color: white">
           <td colspan="2"align="center"  style="border-color: white">
             <br/>
                <font  size=3 color="black"><u> SERVIÇOS EM ABERTOS - MANUTENÇÃO GERAL</font>
             <br/>
           </td>
         </tr>
        </table>
       <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white" >
          <tr style="border-color: white" style="height: 8px" >
          <td colspan="2"  style="border-color: white">
             <table  border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                            <tr style="border-color: white" style="height: 8px" >
                                <th width ="1%" align="center">Proto- colo</th>
                                <th width ="3%">Solicitação</th>
                                <th width ="8%">Solicitante</th>
                                <th width ="10%">Unidade</th>
                                <th width ="40%">Solicitação</th>
                              </tr>
                              <%$cont=0%>
                              <%form_tag selected_print_mmanutencaos_path, :method => :get do %>
                                <% for chamado in @mmanutencaos %>
                                 <% if current_user.unidade_id != 53 %>

                                      <tr style="border-color: white" style="height: 8px" >
                                         <td align="center"><%=h chamado.id %></td>
                                         <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
                                         <td><%=h chamado.solicitante %></td>
                                         <td><%=h chamado.nome%> </td>
                                         <td><%=h chamado.descricao %></td>
                                     </tr>
                                      <tr style="border-color: white" style="height: 8px" >
                                         <td colspan="2"  align="center"></td>
                                         
                                         <td ><%=h chamado.procedimentos %></td>
                                         <% if chamado.situacao_manutencao.situacao == 'EM ABERTO'  %>
                                             <td colspan="2" ><font color="red"><%=h chamado.situacao_manutencao.situacao %></font></td>
                                         <% else %>

                                             <% if (chamado.situacao_manutencao.situacao == 'EM ATENDIMENTO') or (chamado.situacao_manutencao.situacao == 'AGUARDANDO COMPRAS')or (chamado.situacao_manutencao.situacao == 'DEVOLUÇÃO PARA UNIDADE') %>
                                             <td colspan="2" align="center"><font color="green"><%=h chamado.situacao_manutencao.situacao %></font></td>
                                             <% else %>
                                                <td  colspan="2" ><font color="blue"><b><%=h chamado.situacao_manutencao.situacao %></b></font> <br/>
                                                  <%if chamado.chefia.nil? %>
                                                     p/ <%=h chamado.user.login %>
                                                  <%else%>
                                                     p/ <%=h chamado.chefia.nome %>
                                                  <%end%>
                                                 </td>
                                                <%end%>
                                         <% end %>
                                     </tr>





















                                  <%else%>
                                  <tr style="border-color: white" style="height: 8px" >
                                   <td align="center"><%=h chamado.id %></td>
                                   <td><%=h chamado.data_sol.strftime("%d/%m/%y")%></td>
                                   <td><%=h chamado.solicitante %></td>
                                   <td><%=h chamado.unidade.nome %></td>
                                   <td><%=h chamado.descricao %></td>
                                   <% if chamado.situacao_manutencao.situacao == 'EM ABERTO'  %>
                                       <td><font color="red"><%=h chamado.situacao_manutencao.situacao %></font></td>
                                   <% else %>

                                       <% if (chamado.situacao_manutencao.situacao == 'EM ATENDIMENTO') or (chamado.situacao_manutencao.situacao == 'AGUARDANDO COMPRAS') %>
                                          <td><font color="green"><%=h chamado.situacao_manutencao.situacao %></font></td>
                                       <% else %>
                                          <td align="center"><font color="blue"><b> <%=h chamado.situacao_manutencao.situacao %></b></font> <br/>
                                            <%if chamado.chefia.nil? %>
                                               p/ <%=h chamado.user.login %>
                                            <%else%>
                                               p/ <%=h chamado.chefia.nome %>
                                            <%end%>
                                           </td>
                                          <%end%>
                                   <% end %>
                                  </tr>


                                  <%end%>

 
                                       <%$cont=$cont+1%>
                                <%end%>
                                   <tr style="border-color: white" style="height: 8px" >
                                    <td  colspan="12">
                                      <b>Total de Ordem de Serviços em aberto:  <%= $cont %> </b>
                                    </td>
                                  </tr>
                              <%end%>


                      </table>
                      </font>
                   </td>
                 </tr>
           
   </table>
<br/>




