
<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
 </div>
   <div class="tabs">
        <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white"  bgcolor="#F5F5F5">
          <tr style="border-color: white">
            <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td style="border-color: white" ><center><font size="3"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
                <center><font size="2"> INFOSEDUC - Sistema de Informações</i></b><br/></center>
            </td>
          </tr>
 <tr>
   <td colspan="2"align="center">
     <br/>
        <font  size=3 color="black"><u> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO </b></font>
     <br/>
   </td>
 </tr>
  <tr>
   <td colspan="2">
     <table width="100%">
        <tr>
         <td colspan="2">
           <table border="2" width="100%">
             <tr>
                <th> Nº Ordem</font></th>
                <th width ="15%"><b> Solicitação</b></th>
                <th width ="15%"><b> Encaminhamento</b></th>
                <th width ="20%"><b> Solicitante</b></font></th>
                <th><b>Unidade</b></font></th>
             </tr>
             <tr>
                 
                 <td width="3%" align="center"><%=h @mmanutencao.id %>  <%session[:idmanutencao]= @mmanutencao.id %></td>
                 <td><%=h @mmanutencao.data_sol.strftime("%d/%m/%Y")%></td>
                 <td><%= "#{Time.now.strftime("%d/%m/%Y")}" %></td>
                 <td><%=h @mmanutencao.solicitante %></td>
                 <td><%=h @mmanutencao.unidade.tipo.nome %> <%=h @mmanutencao.unidade.nome %></td>
               </tr>
             <tr>
                <th> Endereço:</font></th>
                <td colspan="4">
                    <%=h @mmanutencao.unidade.endereco%>,
                    <%=h @mmanutencao.unidade.num %> -
                    
                    <%=h @mmanutencao.unidade.bairro%> -
                    <b>Fone:</b> <%=h @mmanutencao.unidade.fone%></font></td>
             </tr>
               <tr>
                 <th><b>Problema</b></font></th>
                  <td colspan="4" align="left"><br/> <% @mmanutencao.tipos_manutencaos.each do |servico| %>
                          <%=h servico.servico%>: 
                         <% end %> - <%=h @mmanutencao.descricao %><br/></font><br/></td>
               </tr>
               <tr>
                 <th> <b>Procedimento à realizar</b></font></th>
                 <td colspan="4" align="left"><br/><%=h @mmanutencao.procedimentos %><br/><br/></td>
              </tr>

                <tr>
                  <th><b>Procedimento realizado</b></th>
                  <td colspan="4" style="padding-bottom:5px">
                                   <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                   
                                   
                 <br/></td>
                </tr>
               <tr>
                 <th> <b>Justificativa:</b></th>
                 <td colspan="4     " align="left"><br/><%=h @mmanutencao.justificativa %><br/><br/></td>
              </tr>
                <tr>
                  <th><b>Assinatura</b></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/></td>
                </tr>
     </table>

  <table width="100%" >
    <tr>
      <td  colspan="2"align="right">   <%= "Americana, #{Time.now.strftime("%d de %B de %Y")}" %></td>
    </tr>
   <tr>
     <td align="center" colspan="2">
       OBS:<%= text_field_tag(:obs1,nil,:size => 130 ) %>
     </td>
   </tr>
   <tr>
     <td align="center" colspan="2">
       <%= text_field_tag(:obs2,nil,:size => 135) %>
     </td>
   </tr>

     <tr>
      <td align="left" > <%= button_to("Fechar", home_path, :method => "get", :title => "Fechar") %></td>
      <td align="right" ><b><%= link_to image_tag("/stylesheets/images/imprimir1.png"), onclick="javascript:MM_openBrWindow('#{imp_manutencao_mmanutencaos_path(session[:idmanutencao])}','manutencao', 'scrollbars=yes');", :title => "Imprimir OS Manutencao" %></b></td>
          
      
   </tr>
   </table>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 <br/>
</font>
</div>
    