
  <div id="protocolo">



<br/>
<font  size="2"><b>
<table  class="tabelas" width="100%"align="center">
   <tr>
    <th align="left">
       <font  size=5 color="black"> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
   </tr>
 <tr>
   <td colspan="2"align="center">
     <br/>
        <font  size=5 color="black"><u> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO </b></font>
     <br/>
   </td>
 </tr>
  <tr>
   <td colspan="2">
     <table width="100%">
        <tr>
         <td colspan="2">
           <table border="2" width="100%">
             <tr>
                <th><font size="5"> Nº Ordem</font></th>
                <th width ="15%"><font size="4"><b> Solicitação</b></font></th>
                <th width ="15%"><font size="4"><b> Encaminhamento</b></font></th>
                <th width ="20%"><font size="4"><b> Solicitante</b></font></th>
                <th> <font size="4"><b>Unidade</b></font></th>
             </tr>
             <tr>
                 
                 <td width="3%" align="center"><font size="4"><%=h @mmanutencao.id %></font></td>
                 <td><font size="4"><%=h @mmanutencao.data_sol.strftime("%d/%m/%Y")%></font></td>
                 <td><font size="4"><%= "#{Time.now.strftime("%d/%m/%Y")}" %></font></td>
                 <td><font size="4"><%=h @mmanutencao.solicitante %></font></td>
                 <td><font size="4"><%=h @mmanutencao.unidade.tipo.nome %> <%=h @mmanutencao.unidade.nome %></font></td>
               </tr>
             <tr>
                <th><font size="4"> Endereço:</font></th>
                <td colspan="4"><font size="4">
                    <%=h @mmanutencao.unidade.endereco%>,
                    <%=h @mmanutencao.unidade.num %> -
                    <%=h @mmanutencao.unidade.complemento%> -
                    <%=h @mmanutencao.unidade.bairro%> -
                    <b>Fone:</b> <%=h @mmanutencao.unidade.fone%></font></td>
             </tr>

               <tr>
                 <th><font size="4"><b>Problema</b></font></th>
                  <td colspan="4" align="left"><font size="4"><br/> <% @mmanutencao.tipos_manutencaos.each do |servico| %>
                          <%=h servico.servico%>: 
                         <% end %> - <%=h @mmanutencao.descricao %><br/></font><br/></td>
               </tr>
               <tr>
                 <th>  <font size="4"><b>Procedimento à realizar</b></font></th>
                 <td colspan="4" align="left"><font size="4"><br/><%=h @mmanutencao.procedimentos %><br/><br/></td>
              </tr>

                <tr>
                  <th><font size="4"><b>Procedimento realizado</b></font></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/><br/><br/>
                                   <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                   <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                                   <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                 <br/></td>


                </tr>
               <tr>
                 <th>  <font size="4"><b>Justificativa:</b></font></th>
                 <td colspan="4" align="left"><font size="4"><br/><%=h @mmanutencao.justificativa %><br/><br/></td>
              </tr>
                <tr>
                  <th><font size="4"><b>Assinatura</b></font></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/><br/><br/><br/> </td>
                </tr>





     </table>

 <table width="100%">
  </table>
  <table width="100%" align="center" >
    <tr>
      <td  colspan="2"align="right"><font size="5">   <%= "Americana, #{Time.now.strftime("%d de %B de %Y")}" %></font></td>

    </tr>
   <tr>
     <td align="center" colspan="2"><font size="3">
       OBS:<%= text_field_tag(:obs1,nil,:size => 120 ) %>
     </td>
   </tr>
   <tr>
     <td align="center" colspan="2">
       <%= text_field_tag(:obs2,nil,:size => 125) %>
     </td>
   </tr>

     <tr class="botao">
      <td align="right" > <%= button_to("Voltar", homes_path, :method => "get", :title => "Voltar") %></td>
<!--      <td width="6%"align="right" ><b><%= link_to image_tag("/stylesheets/images/imprimir1.png"), onclick="javascript:MM_openBrWindow('#{imp_manutencao_mmanutencaos_path($idmanutencao)}','manutencao', 'scrollbars=yes');", :title => "Imprimir OS Manutencao" %></b></td>-->
          <td width="6%"align="right" ><b><%= link_to image_tag("/stylesheets/images/imprimir1.png"), onclick="javascript:window.print()", :title => "Imprimir" %></b></td>
      
   </tr>
   </table>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 <br/>
</font>
</div>