
     <table aligh="center">
      <tr>
        <td width="10%">
             <%= image_tag("/stylesheets/Imagens/brasao.jpg", :size => "100x100") %>
        </td>
        <td align="center">
          <font size="5"><strong><u><center>PREFEITURA MUNICIPAL DE AMERICANA </u></center></strong></u></font><br/>
          <font size="5"><strong><u><center>SECRETARIA DE EDUCAÇÃO</u></center></strong></u></font><br/>
          <font size="4"><strong><center>SISTEMA DE PROTOCOLO</center></strong></u></font>
        </td>
     </tr>
     <tr>
       <td colspan="2">
          <hr>
       </td>
     </tr>
     <td colspan="2"align="center">
          <font size="3"><strong><center>ORDEM DE SERVIÇO DE MANUTENÇÃO</center></strong></u></font>
        </td>
    <br/>
    <tr>
      <td colspan="2" align="center">
        <table width ="80%">
          <tr>
            <td> <br/>
               <fieldset><legend><font  size=4> Solicitação de Manutenção</font></legend>
               <table width="100%" border="1" aligh="center" >
               <tr>
                     <td align="left" width ="30%"><b>Nº Protocolo:  </b></td>
                     <td align="left"><%=h @mmanutencao.id%></td>
               </tr>
               <tr>
                 <td align="left"><b>Data Solicitação:</b></td>
                 <td align="left"><%=h @mmanutencao.data_sol.strftime("%d de %B de %Y" ) %></td>
               </tr>
               <tr>
                 <td align="left"><b>Horas Solicitação:</b></td>
                 <td align="left"><%=h @mmanutencao.data_sol.strftime("%H:%M horas") %></td>
               </tr>
               <tr>
                 <td align="left"><b>Solicitante</b></td>
                 <td align="left"><%=h @mmanutencao.solicitante %></td>
               </tr>
               <tr>
                 <td align="left"><b>Unidade:</b></td>
                 <td align="left"> <%=h @mmanutencao.unidade.nome %></td>
               </tr>
               <tr>
                 <td align="left"><b>Forma Solicitação:</b></td>
                 <td align="left"><%=h @mmanutencao.forma %></td>
               </tr>
               <tr>
                  <td valign="top"><b>Serviços Solicitados:</b></td>
                  <td>
                     <% @mmanutencao.tipos_manutencaos.each do |servico| %>
                      - <%=h servico.servico%><br/>
                     <% end %>
                  </td>
              </tr>
               <tr>
                 <td align="left"><b>Descrição Problema:</b></td>
                 <td align="left"><%=h @mmanutencao.descricao %></td>
               </tr>
               <tr>
                 <td align="left"><b>Quem abriu a OS:</b></td>
                 <td align="left"><%=h @mmanutencao.user.name%></td>
               </tr>
     
             </table>
              <br/>
               <center><font size="2" color ="red"><b> Guarde este protocolo, ele é a garantia da abertura da Ordem de Serviço</b></font></center>
             </fieldset>
            </td>
          </tr>

          <div class="botao">
          <tr>
            <td>
                <table >
                  <tr>
                    <td align="right" class ="botao"><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
                  </tr>
               </table>
            </td>
          </tr>
          </div>
       </table>
      </td>
    </tr>
</table>
 
<br/>
<br/>