<br/>
<font  size="1"><b>
<table  class="tabelas1" width="100%"align="center">
 <tr>
   <th align="left">
     <font  size=5 color="black"> <b> SISTEMA DE GERENCIAMENTO INFOSEDUC </b></font>
    </th>
    <td width="3%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>

 </tr>
 <tr>
   <td colspan="2"align="center">
     <br/>
        <font  size=4 color="black"><u> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO </b></font>
     <br/>
   </td>
 </tr>
  <tr>
   <td colspan="2">
     <table width="100%">
        <tr>
         <td colspan="2">
           <table border="2" width="100%">
              <% for chamados in @mmanutencaos %>
               <%if (chamados.situacao_manutencao.situacao != 'ENCERRADO') then %>
             <tr>
                <th> Ordem</th>
                <th> Ordem Serviço</th>
                <th width ="15%"><font size="3"><b> Solicitação</b></font></th>
                <th width ="15%"><font size="3"><b> Encaminhamento</b></font></th>
                <th width ="20%"><font size="3"><b> Solicitante</b></font></th>
                <th> <font size="3"><b>Unidade</b></font></th>
             </tr>
                <tr>
                 <td width="3%" align="center"><%= text_field_tag(:priority,nil,:size => 1) %></td>
                 <td width="3%" align="center"><%=h chamados.id %></td>
                 <td><%=h chamados.data_sol.strftime("%d/%m/%Y")%></td>
                 <%if chamados.data_ate.nil? %>
                   <td></td>
                 <%else%>
                   <td><%=h chamados.data_ate.strftime("%d/%m/%Y")%></td>
                 <%end%>
                 <td><%=h chamados.solicitante %></td>
                 <td><%=h chamados.unidade.nome %></td>
               </tr>
               <tr>
                  <th colspan="2" ><font size="4"><b>Problema</b></font></th>
                  <td colspan="4" align="left"><font size="3"><%=h chamados.descricao %><br/></font></td>
               </tr>
               <tr>
                 <th colspan="2"><font size="4"><b>Procedimento à realizar</b></font></th>
                 <td colspan="4" align="left"><font size="3"><%=h chamados.procedimentos %><br/></td>
              </tr>
                <tr>
                  <th colspan="2"><font size="3"><b>Procedimento realizado</b></font></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/><br/><br/></td>
                </tr>
                <tr>
                  <th colspan="2"><font size="3"><b>Assinatura</b></font></th>
                  <td colspan="4" style="padding-bottom:5px"><br/><br/><br/><br/> </td>
                </tr>

               <%end%>
              <%end%>
     </table>

 <table width="100%">
  </table>
  <table width="100%" align="center" >
    <tr>
      <td align="left" colspan="2"><font color="red"><b><%= "#{@mmanutencaos.count} chamados para atendimento." %></b></font>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <%= "Americana, #{Time.now.strftime("%d de %B de %Y")}" %></td>
   </tr>
   <tr>
     <td align="center" colspan="2">
       OBS:<%= text_field_tag(:obs1,nil,:size => 77 ) %>
     </td>
   </tr>
   <tr>
     <td align="center" colspan="2">
       <%= text_field_tag(:obs2,nil,:size => 80) %>
     </td>
   </tr>
   <tr>
     <td align="center"colspan="2">
       <font size="3"><br/><b>Funcionário:</b><%= collection_select :nome ,:estagiario_id, @funcionarios, :id, :nome, :include_blank => ' -- Selecionar -- ', :size=> 20 %></font>
     </td>

    </tr>
     <tr class="botao">
      <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
      <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
   </tr>
   </table>
 </td>
 </tr>
 </table>
 </td>
 </tr>
 </table>
 <br/>
</font>