

            <% if current_user.has_role?('admin') or current_user.has_role?('chefia_manutencao') or current_user.has_role?('admin_manutencao')  %>
            <div id="interno6">
            <% title "CLASSES".singularize %>
            <div class="tabs">
             <div id="caixa_titulo">
                 <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
             </div>
                <div class="tabs">
                 <br/>
                  <font size="2">
                 <table width="100%" align="center"  bgcolor="#F5F5F5" >
                   <tr bgcolor ="#E6E2D">
                     <td colspan="6" align="left">
                         <font  size=5 color="black"> <b> ORDEM DE SERVIÇO - MANUTENÇÃO GERAL</b></font>
                         <hr/>
                      </td>
                   </tr>
                   <tr>
                     <td width ="100%" colspan="2">
                        <fieldset><legend><font  size=4> SOLICITAÇÃO</font></legend>
                            <table width ="100%">
                                <tr>
                                    <td> <table width ="40%" >
                                           <tr>
                                                 <td align="left" width="15%"><b>Nº Ordem :  </b></td>
                                                 <td align="left"><%=h @mmanutencao.id%>
                                                                  <%session[:idmanutencao] = @mmanutencao.id%>
                                                 </td>
                                           </tr>
                                           <tr>
                                             <td align="left"><b>Data Solicitação:</b></td>
                                             <td align="left"><%=h @mmanutencao.data_sol.strftime("%d/%m/%Y" ) %></td>
                                           </tr>
                                           <tr>
                                             <td align="left"><b>Horas Solicitação:</b></td>
                                             <td align="left"><%=h @mmanutencao.data_sol.strftime("%H:%M horas") %></td>
                                           </tr>
                                           <tr>
                                             <td align="left"><b>Solicitante</b></td>
                                             <td align="left"><%=h @mmanutencao.solicitante %></td>
                                           </tr>
                                           <tr>
                                             <td align="left" valign="top"><b>Unidade:</b></td>
                                             <td align="left"> <%=h @mmanutencao.unidade.nome %></td>
                                           </tr>
                        <!--                   <tr>
                                             <td align="left"><b>Forma Solicitação:</b></td>
                                             <td align="left"><%=h @mmanutencao.forma %></td>
                                           </tr>
                        -->
                                           <tr>
                                              <td valign="top"><b>Tipo de Serviço:</b></td>
                                              <td>
                                                 <% @mmanutencao.tipos_manutencaos.each do |servico| %>
                                                  - <%=h servico.servico%><br/>
                                                 <% end %>
                                              </td>
                                          </tr>
                                           <tr>
                                             <td align="left" valign="top"><b>Descrição Problema:</b></td>
                                             <td align="left"><%=h @mmanutencao.descricao %></td>
                                           </tr>
                                           <tr>
                                             <td align="left" valign="top">  <b>Justificativa:</b></td>
                                             <td align="left"><%=h @mmanutencao.justificativa%></td>
                                           </tr>
                                           <tr>
                                             <td align="left"><b>Quem abriu:</b></td>
                                             <td align="left"><%=h @mmanutencao.user.name%></td>
                                           </tr>
                                           <tr>
                                             <td align="left"><b>Email:</b></td>
                                             <td align="left"><%=h @mmanutencao.user.email%></td>
                                           </tr>
                                           <tr>
                                             <td align="left"><b>Observação:</b></td>
                                             <td align="left"><%=h @mmanutencao.obs%></td>
                                           </tr>

                                        </table>
                                    </td>
                                    <td  valign="top"><table width ="70%" >
                                            <tr>
                                                <td valign="top"><b>Foto:</b></td>
                                                <td rowspan="12" valign="top">
                                                   <%= image_tag @mmanutencao.photo.url(:grande) %>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
 
                                <tr>
                                  <td colspan="2"align="right">
                                          <%= link_to image_tag("/stylesheets/images/imprimir1.png"), onclick="javascript:MM_openBrWindow('#{imp_manutencao_mmanutencaos_path(session[:idmanutencao])}','manutencao', 'scrollbars=yes');", :title => "Imprimir OS Manutencao" %>
                                    </td>
                                </tr>
                           </table>
                         </fieldset>
                     </td>
                  </tr>
                  <tr>
                     <td >
                         <fieldset><legend><font  size=4> ENCAMINHAMENTO</font></legend>
                            <table>
                                 <tr>
                                   <td align="left" valign="top"><b>Despacho:</b></td>
                                   <%if @mmanutencao.procedimentos.nil?%>
                                      <td align="left" width ="50%"> <font color ="red">Serviço sem encaminhamento</font></td>
                                   <%else%>
                                       <td align="left" width ="50%"><%=h @mmanutencao.procedimentos%></td>
                                   <%end%>
                                  <td align="left"  width ="5%"><b>Para:</b></td>
                                      <%if @mmanutencao.chefia_id.nil?%>
                                         <td align="left" > <font color="red">Serviço sem encaminhamento</font></td>
                                      <%else%>
                                        <td align="left"><%=h @mmanutencao.chefia.nome  %></td>
                                     <%end%>
                                 </tr>
                                 <tr>
                          <td align="left"><b>Situação:</b></td>
                          <td align="left"><%= @mmanutencao.situacao_manutencao.situacao %></td>
                                   <td align="left" valign="top"><b>Data:</b></td>
                                   <%if @mmanutencao.data_ate.nil?%>
                                   <td align="left"> <font color ="red">Serviço sem encaminhamento</font></td>
                                   <%else%>
                                     <td align="left"><%=h @mmanutencao.data_ate.strftime("%d/%b/%Y  %H:%M horas"  ) %></td>
                                   <%end%>
                                 </tr>
                           </table>
                        </fieldset>
                     </td>
                  </tr>
                  <tr>
                     <td >
                         <fieldset><legend><font  size=4> SERVIÇO</font></legend>
                             <table>
                                <tr>
                                  <td valign="top"><b>Serviço:</b></td>
                                  <td>
                                     <% @mmanutencao.tipos_manutencaos.each do |servico| %>
                                      - <%=h servico.servico%><br/>
                                     <% end %>
                                  </td>
                                </tr>
                                <tr>
                                   <td  valign="top"align="left"><b>Descrição:</b></td>
                                   <%if @mmanutencao.executado.nil?%>
                                   <td align="left"> <font color="red">Serviço não executado</font></td>
                                   <%else%>
                                      <td align="left"><%=h @mmanutencao.executado%></td>
                                   <%end%>
                                 </tr>
                                  <tr>
                                   <td align="left"><b>Por:</b></td>
                                   <%if @mmanutencao.ffuncionario.nil?%>
                                   <td align="left"> <font color="red">Serviço não executado</font></td>
                                   <%else%>
                                      <td align="left"><%=h @mmanutencao.ffuncionario%></td>
                                   <%end%>
                                  </tr>
                                 <tr>
                                   <td align="left"><b>Data:</b></td>
                                   <%if @mmanutencao.data_enc.nil?%>
                                      <td align="left">
                                         <%if @mmanutencao.situacao_manutencao_id == 8 %>
                                             <font color="red">  AUTORIZADO em <%=h @mmanutencao.data_autoriza.strftime("%d/%m/%Y %H:%M horas" ) %> </font>
                                        <%else%>
                                            <font color="red">Aguardando Execução</font>
                                        <% end %>
                                      </td>
                                   <%else%>
                                       <td align="left"><font color="red">  ENCERRADO em  <%=h @mmanutencao.data_enc.strftime("%d/%m/%Y %H:%M horas" ) %></font></td>
                                   <%end%>
                                 </tr>
                                 <% if @mmanutencao.situacao == 'PARA ORÇAMENTO' %>
                                    <tr>
                                      <td></td>
                                      <td> <font color="red"> &nbsp&nbsp&nbsp ORÇAMENTO <font color="red"></td>

                                    </tr>
                                 <%end%>
                            </table>
                          </fieldset>
                          </td>
                        </tr>
                       </table>
                    <table>
                        <tr>
                          <td width ="2%"align="left" ><%= button_to('Fechar', mmanutencaos_path, :method => "get", :title => "Fechar")%></td>
                            <% if current_user.has_role?('admin') or current_user.has_role?('admin_manutencao') %>
                              <td width="2%"align="left" ><%= button_to('Encaminhar', {:action => "despacho", :id =>@mmanutencao}, :method => "get", :title => "Encaminhar") %></td>
                              <td align="left" ><%= button_to('Serviço', {:action => "ordemservico", :id =>@mmanutencao }, :method => "get", :title => "Solicitação") %></td>
                           <%end%>
                         </tr>
                    </table>
                     </font>
                  </font>
                  </div>
                  <br/>
            </div>
            <%else%>
                 <br/>
        <div id="interno6">
        <% title "CLASSES".singularize %>
        <div class="tabs">
         <div id="caixa_titulo">
             <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
         </div>
           <table width="100%" align="center"  bgcolor="#F5F5F5" >
                   <tr>
                     <td colspan="6" align="left">
                         <font  size=5 color="black"> <b> ORDEM DE SERVIÇO</b></font>
                         <hr/>
                      </td>
                  </tr>
                   <tr>
                     <td colspan="2">
                      <font  size="2">
                       <table width="100%">
                        <tr>
                          <td>
                            <%= render 'formshow' %>
                          </td>
                        </tr>
                        
                        <tr>
                          <td>
                            <font><b>
                                
                                   GUARDAR O NÚMERO DESTE PROCOLO.<br/>
                                   O SERVIÇO SERÁ ATENDIDA ASSIM QUE POSSÍVEL.
                                   QUALQUER DÚVIDA ENTRAR EM CONTATO COM A INFORMÁTICA.
                                
                            </b></font>
                           </td>
                        </tr>
                        
                       </table>
                        
                        <table align="left" width="100%">
                          <tr>
                            <td align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                            <% if current_user.has_role?('admin') or current_user.has_role?('estagiario SEDUC') %>
                              <td align="left"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_mmanutencao_path(@mmanutencao), :title => "Alterar"%></td>
                            <%end%>
                              
                              <td align="right" ><b><%= link_to image_tag("/stylesheets/images/imprimir1.png"), onclick="javascript:MM_openBrWindow('#{imp_show_mmanutencaos_path(session[:idmanutencao])}','manutencao', 'scrollbars=yes');", :title => "Imprimir OS Manutencao" %></b></td>
                          </tr>
                        </table>
                        
                     </font>
                   </td>
                   </tr>
                  </table>
                  </font>
                  </div>
<br/>

</div>
            <%end%>

    


