
<br/>
    <table class="tabelas" width="100%"  align="center">
     <tr>
        <th  align="left">
           <font  size=5 color="black"> <b> PONTO ELETRÔNICO - INFORMÁTICA SEDUC </b></font>
       </th>
       <td width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </td>
      </tr>
       <tr>
         <td colspan="2" width="95%">
           <table>
             <tr>
               <% form_for @search do |f| %>
               <td>
                 <font size="3"> Estagiário:</font>
                 <%= f.collection_select :estagiario_id_equals, @estagiarios, :id, :nome, :include_blank => true%>
              </td>
              <td align="left"><input type="image" src="/stylesheets/images/buscar.png" title="Buscar">
              <% end %>
             </tr>
          </table>

         </td>
       </tr>
       <tr>
         <td colspan="2">
           <table>
            <%= render :partial => "calendar" %>
                <%if !@ponto.present? %>
                  <%if !(params[:search]).nil? %>
                      <%= button_to'Criar Ponto',:action => "new", :estagiario_id => params[:search][:estagiario_id_equals] %>
                      <br/>
                  <%end%>
                <%else%>
                 <%end%>
                <div class="botao">
                  <table width="100%">
                    <tr>
                      <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
                      <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
                    </tr>
                 </table>
                </div>
            </table>
  
          </td>
       </tr>
  </table>
  <br/>


