<br/>
<table  class="tabelas3" align="center">
  <tr>
     <th align="left">
        <font  size=4><b> PONTO ELETRÔNICO - Entrada</b></font>
    </th>
       <th width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </th>
   </tr>
 <tr>
   <td colspan="2">
       <% form_for(@ponto) do |f| %>
        <%= f.error_messages %>
         <font  size="2">
              <table align="center">
                <tr>
                   <td align="left"><b>Estagiário:</b></td>
                   <td align="left"><%= Estagiario.find(params[:estagiario_id]).nome %>
                                   <%= f.hidden_field(:estagiario_id, :value => params[:estagiario_id])  %></td>
                    <br/>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tr>
                         <td width="4%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
                          <% end %>
                         <td align="left"><input type="image" src="/stylesheets/images/entrada.gif" title="Ponto - Entrada"></td>
                      </tr>
                    </table>
                  </td>
                  <td align="left"><font size="1">(Clique para registrar entrada) </font></td>
              </tr>
             </table>
     </font>
   </td>
  </tr>
</table>
<br/>



