<div id="interno8">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong> PONTO ELETRÔNICO </strong></font><br/>
 </div>
      <div class="tabs">
        <br/>
        <table align="center" width="100%">
               <tr bgcolor ="#F5F5F5">
                 <td colspan="2">
                    <fieldset>
                      <table>
                        <tr>
                          <td align="left">  <b>Estagiario:</b></td>
                          <td align="left">  <%=h @ponto.estagiario.nome %></td>
                        </tr>
                        <tr>
                          <td align="left">  <b>Entrada:</b></td>
                          <td align="left"> <%=h @ponto.entrada.strftime("%d/%m/%Y %H:%M") %></td>
                        </tr>
                        <tr>
                          <td align="left"><b>Saída:</b></td>
                          <!--<td align="left"><%= @ponto.saida ? @ponto.saida.strftime("%d/%m/%Y %H:%M") : (button_to "Realizar Saida",edit_ponto_path(@ponto), :method => 'get')%></td>-->
                         <td align="left"><%= @ponto.saida ? @ponto.saida.strftime("%d/%m/%Y %H:%M") : ("Saida NÂO realizada")%></td>
                        </tr>
                        <tr>
                          <td align="left"><b>Total trabalhado:</b></td>
                          <td align="left"><%=h @ponto.saida.present? ? "#{Ponto.convert_to_hour(@ponto.total_trabalhado)} "  : "Não foi possível calcular"  %></td>
                        </tr>
                        </table>
                       </fieldset>
                     <table>
                         <tr bgcolor ="#F5F5F5">
                             <td width="2%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                             <td width="2%" align="left" ><%= button_to("Imprimir", onclick="javascript:window.print()", :title => "Imprimir") %></td>
                             <td width="2%" align="left" ><%= button_to("Ponto", pontos_path, :method => "get", :title => "Ponto") %></td>
                            <td align="left" ><%= button_to 'Excluir', {:action => "destroy", :id =>@ponto}, :confirm => 'Tem certeza?',:method => "delete", :title => "Deletar"%></td>
                         </tr>
                   </table>

                  </td>
               </tr>
            </table>
           <br/>
    </div>
  </div>
<br/>
</div>







<br/>
<table class="tabelas3" align="center" width="40%">
  <tr>

 <tr>
   <td colspan="2">
     <font size="2">
     </font>
    </td>
   </tr>
</table>
<br/><br/>