
<table  border="1" cellspacing="0" cellpadding="1" width="100%">
    <tr bgcolor= white >
      <td align="center"><b>Item</b></td>
      <td align="center" width ="5%"><b>Quant.</b></td>
      <td align="center" width =" 5%"> <b>Saldo</b></td>
      <td align="center" width =" 50%" <b>Descrição</b></td>
      <td align="center"><b>Unitário</b></td>
      <td align="center" ><b>Valor</b></td>
      <td></td><td></td>
    </tr>
    <%contador=1%>
    <% session[:soma]=0 %>
    <% total_geral = 0.00 %>
    <% if !@orc_nota_fiscal_itens.nil? %>
        <% @orc_nota_fiscal_itens.each do |item|%>
          <tr>
             <td align="center"><%= contador%> </td>
             <td align="center"><%= item.quantidade%> </td>
             <td align="center" ><% @empenho_iten = OrcEmpenhoIten.find_by_sql(" SELECT nfi.*,  nf.*, empi.saldo as emp_saldo FROM orc_nota_fiscal_itens nfi JOIN orc_nota_fiscals nf ON nf.id=nfi.orc_nota_fiscal_id JOIN orc_empenho_itens empi ON empi.orc_empenho_id=nf.orc_empenho_id WHERE (nfi.descricao='"+item.descricao+"') AND (empi.descricao='"+item.descricao+"') AND (empi.orc_empenho_id=(SELECT orc_empenho_id FROM orc_nota_fiscals nf WHERE nf.id= "+(item.orc_nota_fiscal_id).to_s+"))")  %>
                 <%= @empenho_iten[0].emp_saldo %>
             </td>
             <td> <%= item.descricao%>  </td>
             <td align="center"> R$ <%= item.unitario%> </td>
             <td align="center"> R$ <%= item.total%> </td>

             <td align="center"> <%= link_to image_tag("/stylesheets/images/ponto.png", :size => "7x7"), {:action => "destroy_nf_itens" , :id =>item}, :confirm => 'Confirma exclusão?', :method => "delete",:title => "Excluir" %></td>
             <td align="center"> <%= link_to image_tag("/stylesheets/images/ponto1.png", :size => "7x7"), {:controller => 'orc_nota_fiscal_itens',:action => "edit", :id =>item}, :method => "get", :title => "Editar"%></td>

           </tr>
          <% contador = contador+1%>
          <% total_geral = total_geral+ item.total%>
        <%end%>
   <%end%>
           <tr>
             <td colspan="5" align="right"><b>Total Geral </b> &nbsp&nbsp&nbsp&nbsp </td>
             <td align="center"> R$ <%= total_geral %></td>

           </tr>
           <%  session[:sem_emp] =1%>
  </table>







