<h1>Editing orc_nota_fiscal</h1>

<% form_for(@orc_nota_fiscal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :orc_empenho_id %><br />
    <%= f.text_field :orc_empenho_id %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :obs %><br />
    <%= f.text_field :obs %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @orc_nota_fiscal %> |
<%= link_to 'Back', orc_nota_fiscals_path %>