<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white" ><center><font size="4"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
    </td>
  </tr>
       <tr  style="border-color: white"style="height: 6px" >
       <td style="border-color: white"><font size ="1"><center> Rua dos Professores, 40 - Americana - SP Fone: 3475-7500 - CEP 13.465-060</font> </td>
     </tr>
     <tr style="border-color: white"  style="height: 4px" >
       <td style="border-color: white" colspan="2"><hr/></td>
     </tr>
 </table>
<br/>
<center><b><u>NOTAS FISCAIS ENVIADAS PARA SUPRIMENTOS </u></b><br/></center>
<br/>

           <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                   <% @orc_nota_fiscal.each  do |nota| %>
                        <tr style="border-color: white" style="height: 1px" >
                            <td width=" 1%" align="center" width ="5%"><b>Nº NF </b></td>
                            <td align="center" width ="5%"><b>Data</b></td>
                            <td align="center" width ="5%"><b>N% Empenho</b></td>
                            <td align="center" width ="30%"><b>Fornecedor</b></td>
                            <td align="center"  ><b>Ficha</b></td>
                            <td align="center" width ="14%"><b>Valor</b></td>
                            
                        </tr>
                        <tr style="height: 1px" >
                               <td  align="center"><%=h nota.nf %></td>
                                <td align="center"><%if !nota.data_nf.nil? %><%=h nota.data_nf.strftime("%d/%m/%Y") %> <%end%> </td>
                                <td align="center"><%if !nota.orc_empenho_id.nil?%>
                                        <%if !nota.orc_empenho.orc_pedido_compra.nil?%>
                                            <%=h nota.orc_empenho.codigo %>
                                        <%else%>
                                            Empenho Não Existe
                                        <%end%>

                                    <%else%>
                                        Não possui S.I.
                                    <%end%>
                                </td>
                                <td align="center"><%if !nota.orc_empenho.orc_pedido_compra_id.nil?%>
                                        <%if !nota.orc_empenho.orc_pedido_compra.nil?%>
                                            <%=h nota.orc_empenho.orc_pedido_compra.fornecedor %>
                                        <%else%>
                                            Empenho Não Existe
                                        <%end%>
                                    <%else%>
                                        <%=h nota.orc_empenho.interessado %>
                                    <%end%>
                                </td>
                                <td align="center" width ="10%"><%#=h nota.orc_empenho.ficha %> - <%#=h @ficha[0].descricao %></td>
                                <td align="center">R$ <%=h nota.valor %></td>
                                
                            </tr>
                         <% contador = 1%>
<!--
                                    <tr style="height: 1px"  bgcolor="#DCDCDC">
                                            <td ></td>
                                            <td  width ="1%" align="center"  ><b>Item</b> </td>
                                            <td width ="1%" align="center" ><b>Quant.</b> </td>
                                            <td align="left"><b> Descrição.descricao</b> </td>
                                            <td width ="15%"align="center" ><b> Unitário</b> </td>
                                            <td colspan="2" align="center" ><b> R$ Total</b> </td>

                                    </tr>
                                  <% @orc_nota_fiscal_itens = OrcNotaFiscalIten.find(:all, :conditions => ["orc_nota_fiscal_id =?" , nota.id]) %>
                                  <% @orc_nota_fiscal_itens.each do |item|%>
                                        <%if item.quantidade != 0%>
                                            <tr style="height: 1px" >
                                                <td></td>
                                                <td  align="center"><%= contador%> </td>
                                                <td  align="center"><%= item.quantidade%> </td>
                                                <td  align="left"> <%= item.descricao%> </td>
                                                <td > R$ <%= item.unitario%> </td>
                                                <td  colspan="2" align="center"> R$ <%= item.total%> </td>
    
                                                <% contador = contador+1%>
                                            </tr>
                                        <%end%>
                                    <%end%>
-->
              <tr style="border-color: white" style="height: 1px" >
                  <td style="border-color: white"colspan="8"></td>
              </tr>

            <%end%>

        </table>
<table style="border-color: white">
    <tr  style="height: 1px">
    <td style="border-color: white">
         &nbsp&nbsp<font size =1"> Digitado em <%= Time.now.strftime("%d de%B de %Y") %></font><br/><br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp Recebedio em _______/______________/_____  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   por &nbsp&nbsp ____________________________________________<br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Nome: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br/>
         <br/><br/><br/><br/><br/><br/>
    </td>
  </tr>
</table>
<table class ="invisible_to_print ">
  <tr>
    <td width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
</table>

















