<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - SOLICITAÇÕES DE COMPRA</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr  bgcolor ="#E6E2D">
            <td align="left">
             <font  size=5 color="black"> <b> ORÇAMENTO SEDUC/PMA - SOLICITAÇÕES DE COMPRA</b></font>
               <hr/>
            </td>
        </tr>
        <tr>
           <table border="1" cellspacing="0" cellpadding="1" width="100%">

                <%form_tag nf_selecionados_orc_nota_fiscals_path, :method => :get do %>
                   <% @orc_nota_fiscals.each  do |nota| %>
                     <tr >
                        <th></th>
                        <td width=" 1%" align="center" width ="5%"><b>Nº NF </b></td>
                        <td align="center" width ="5%"><b>Data</b></td>
                        <td align="center" width ="5%"><b>N% Empenho</b></td>
                        <td align="center" width ="30%"><b>Fornecedor</b></td>
                        <td align="center"  ><b>Ficha</b></td>
                        <td align="center" width ="8%"><b>Valor</b></td>
                        <td align="center" width ="5%"><b>Status</b></td>
                       </tr>
                        <tr  bgcolor="#F5F5F5">
                          <td width =" 1%" align="center"><%= check_box_tag "nota_ids[]",nota.id %></td>
                           <td align="center"><%=h nota.nf %></td>
                            <td align="center"><%if !nota.data_nf.nil? %><%=h nota.data_nf.strftime("%d/%m/%Y") %> <%end%> </td>
                            <td align="center"><%if !nota.orc_empenho_id.nil?%>
                                    <%if !nota.orc_empenho.orc_pedido_compra.nil?%>
                                        <%=h nota.orc_empenho.codigo %>
                                    <%else%>
                                        Empenho Não Existe
                                    <%end%>

                                <%else%>
                                    Não possui S.I.
                                <%end%>
                            </td>
                            <td align="center"><%if !nota.orc_empenho.orc_pedido_compra_id.nil?%>
                                    <%if !nota.orc_empenho.orc_pedido_compra.nil?%>
                                        <%=h nota.orc_empenho.orc_pedido_compra.fornecedor %>
                                    <%else%>
                                        Empenho Não Existe
                                    <%end%>
                                <%else%>
                                    <%=h nota.orc_empenho.interessado %>
                                <%end%>
                            </td>
                            <td align="center" width ="10%"><%#=h nota.orc_empenho.ficha %> - <%#=h @ficha[0].descricao %></td>
                            <td align="center">R$ <%=h nota.valor %></td>
                            <td align="center"><%if nota.orc_empenho.cancelado ==  1 %> <font color =" red"> Cancelado <%end%> </td>
                        </tr>

                         <% contador = 1%>
                        <tr  bgcolor="#F5F5F5">
                            <td> </td>
                            <td colspan="7">
                                <table bgcolor="#DCDCDC" width="100%" >
                                    <tr  bgcolor="#DCDCDC">
                                        <td width ="1%" align="center"><b>Item</b> </td>
                                        <td width ="1%" align="center"><b>Quant.</b> </td>
                                        <td align="left"><b> Descrição.descricao</b> </td>
                                        <td width ="15%"align="center"><b> R$ Unitario</b> </td>
                                        <td align="center"><b> R$ Total</b> </td>

                                    </tr>


                                    <% @orc_nota_fiscal_itens = OrcNotaFiscalIten.find(:all, :conditions => ["orc_nota_fiscal_id =?" , nota.id]) %>

                                    <% @orc_nota_fiscal_itens.each do |item|%>
                                        <%if item.quantidade != 0%>
                                            <tr  bgcolor="#F5F5F5" >
                                                <td  align="center"><%= contador%> </td>
                                                <td  align="center"><%= item.quantidade%> </td>
                                                <td  align="left"> <%= item.descricao%> </td>
                                                <td > R$ <%= item.unitario%> </td>
                                                <td  align="center"> R$ <%= item.total%> </td>
                                                <!--<td  align="center"> <%#= button_to('Editar', {:controller=> 'Orc_nota_fiscal_itens',   :action => "edit", :id => item},:method => "get", :title => "Editar") %></td>-->
                                                <% contador = contador+1%>
                                            </tr>
                                        <%end%>
                                    <%end%>
                                </table>
                            </td>
                        </tr>

                         <tr bgcolor="#DCDCDC" >
                             <td colspan="8">

                             </td>
                         </tr>
                   <%end%>
                            <tr>
                                <td align="left" colspan="11">
                                    <table>

                                            <td align="left"><%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
                                            <td align="left" ><font color="Blue"> VISUALIAR CHAMADOS SELECIONADOS</font></td>

                                    </table>
                                </td>
                            </tr>
            <%end%>
        </table>
                </font>

                    <table width="100%" align="center">
                        <br/>
                        <tr>
                            <td width="2%"align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td width="2%"align="left"><%= button_to('Cadastrar', new_orc_pedido_compra_path , :method => "get", :title => "Fechar")%></td>
                            <td align="left"><%= button_to('Serviços', orc_pedido_compras_path, :method => "get",  :title => "Desepesas")%></td>
                        </tr>
                    </table>


        </tr>
    </table>

  </div>
</div>
<br/>
</div>








