<p>
  <b>Orc empenho:</b>
  <%=h @orc_nota_fiscal.orc_empenho %>
</p>

<p>
  <b>Valor:</b>
  <%=h @orc_nota_fiscal.valor %>
</p>

<p>
  <b>Data:</b>
  <%=h @orc_nota_fiscal.data %>
</p>

<p>
  <b>Obs:</b>
  <%=h @orc_nota_fiscal.obs %>
</p>


<%= link_to 'Edit', edit_orc_nota_fiscal_path(@orc_nota_fiscal) %> |
<%= link_to 'Back', orc_nota_fiscals_path %>