<h1>Listing orc_nota_fiscal_itens</h1>

<table>
  <tr>
    <th>Nota fiscal i</th>
    <th>Quantidade</th>
    <th>Descricao</th>
    <th>Unitario</th>
    <th>Total</th>
    <th>Total geral</th>
    <th>Obs</th>
  </tr>

<% @orc_nota_fiscal_itens.each do |orc_nota_fiscal_iten| %>
  <tr>
    <td><%=h orc_nota_fiscal_iten.nota_fiscal_i %></td>
    <td><%=h orc_nota_fiscal_iten.quantidade %></td>
    <td><%=h orc_nota_fiscal_iten.descricao %></td>
    <td><%=h orc_nota_fiscal_iten.unitario %></td>
    <td><%=h orc_nota_fiscal_iten.total %></td>
    <td><%=h orc_nota_fiscal_iten.total_geral %></td>
    <td><%=h orc_nota_fiscal_iten.obs %></td>
    <td><%= link_to 'Show', orc_nota_fiscal_iten %></td>
    <td><%= link_to 'Edit', edit_orc_nota_fiscal_iten_path(orc_nota_fiscal_iten) %></td>
    <td><%= link_to 'Destroy', orc_nota_fiscal_iten, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New orc_nota_fiscal_iten', new_orc_nota_fiscal_iten_path %>