<% form_for(@c_externo) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="50%" align="center">
  <tr>
   <th colspan="2" align="left">
     <font  size=5><b>ORDEM DE SERVIÇO EXTERNO</b></font>
   </th>
  </tr>
  <tr>
    <td>
     <fieldset><legend><font  size=4> Solicitação</font></legend>
       <table width="100%"  align="center">
       <tr>
         <td align="left" width="15 %"><b>Empresa:</b></td>
         <td align="left" width="20%"><%= f.collection_select :empresa_id, @empresas, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
             <%= observe_field 'c_externo_empresa_id',
                :update => "empresa",
                :url    => { :action => 'servicos' },
                :with   => 'c_externo_empresa_id' %>
         <td colspan="2">
               <div id="empresa"></div>
          </td>
       </tr>
       <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left" colspan="3"><%= collection_select :c_externo, :unidade_id, @unidades, :id, :nome, :include_blank => ' --- Selecione opção ---'  %></td>
       </tr>
       <tr>
         <td align="left"><b>Tipo Serviço:</b></td>
         <td align="left" colspan="3"><%= collection_select :c_externo, :tipo_id, @tipo_osexterna, :id, :tipo, :include_blank => ' --- Selecione opção ---'  %></td>
       </tr>
       <tr>
         <td align="left"><b>Nº Protocolo: <br/> Nº OS:</b></td>
         <td align="left"><%= f.text_field :protocolo, :size => 20 %></td>
         <td align="right"width="16%"><b> Com quem falou?:</b></td>
         <td align="left"> <%= f.text_field :atendente, :size => 30%></td>
       </tr>
       <tr>
         <td align="left"><b> Data:</b></td>
         <td align="left" colspan="3"><%= f.date_select(:data_hora, :order => [:day, :month, :year], :start_year => (Date.today.year))%></td>
       </tr>
        <tr>
        <td align="left" valign="top"><b>SN do equipamento:<br/> Problema:</b></td>
        <td align="left" colspan="3"><%= f.text_area(:obs, :cols =>"105", :rows => "4") %></td>
       </tr>
     </table>
    </fieldset>
      <table width="50%"align="left">
      <tr>
         <td width="5%"align="left"> <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
         <td width="5%"align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"></td>
         <td align="left"><%= link_to image_tag("/stylesheets/images/ferramenta.gif", :size => "30x30"), instrucao_c_externos_path, :title => "Voltar" %></td>
        <%end%>
      </tr>
    </table>
   </td>
  </tr>
</table>
</font>
