<h1>Listing reservar_salas_servicos_salas</h1>

<table>
  <tr>
    <th>Servicos sala</th>
    <th>Reservar sala</th>
  </tr>

<% @reservar_salas_servicos_salas.each do |reservar_salas_servicos_sala| %>
  <tr>
    <td><%=h reservar_salas_servicos_sala.servicos_sala %></td>
    <td><%=h reservar_salas_servicos_sala.reservar_sala %></td>
    <td><%= link_to 'Show', reservar_salas_servicos_sala %></td>
    <td><%= link_to 'Edit', edit_reservar_salas_servicos_sala_path(reservar_salas_servicos_sala) %></td>
    <td><%= link_to 'Destroy', reservar_salas_servicos_sala, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reservar_salas_servicos_sala', new_reservar_salas_servicos_sala_path %>