<br/>
 <table class="tabelas" align="center" width="100%">
  <tr>
      <th colspan="2" align="left">
         <font  size=5 color="black"> <b> CURRICULOS CADASTRADOS</b></font>
      </th>
  </tr>
  <tr>
    <td>
      <br/>
       <div class="botao">
       <table width="100%">
        <tr>
             <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
             <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
             <td align="right">
           <div class="botao">
           <table>
            <tr>
            <% form_tag curriculos_path, :method => 'get' do %>
            <td align="right"><font size="4"> Digite nome:</font>
               <%= text_field_tag :search, params[:search] %>
               <td align="left"><input type="image" src="/stylesheets/images/buscar.png" title="Buscar">
            </td>
            <% end %>
            </tr>
         </table>
         </div>
         </td>
       </tr>
      </table>
      <br/>
      </div>
      <font  size="2">
      <table border="2" width="100%">

        <% for curriculos in @curriculos %>
        <tr>
          <th>Nome</th>
          <th>Modalidade</th>
          <th>Curso</th>
          <th>Semestre</th>
          <th>Instituição</th>
          <% if current_user.has_role?('administrador')%>
            <th colspan="2">Administração</th>
          <%end%>

        </tr>
        <tr>
          <td align="center"><%=h curriculos.nome %></td>
          <td align="center"><%=h curriculos.modalidade %></td>
          <td align="center"><%=h curriculos.curso %></td>
          <td align="center"><%=h curriculos.semestre %></td>
          <td align="center"><%=h curriculos.instituicao %></td>
          <div class="botao">
           <% if current_user.has_role?('administrador')%>
            <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"),{:action => "curriculo", :id =>curriculos}, :title => "Exibir Curriculo" %></td>
            <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_curriculo_path(curriculos), :title => "Alterar Dados"%></td>
           <%end%>
         </div>
        </tr>
        

     <% end %>
     </table>
      <div class="botao">
         <table width="100%" align="center">
          <tr>
             <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
             <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
 
          </tr>
        </table>
  </div>

   </font>
  </table>

  <br/>




<h1>Listing curriculos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Nascimento</th>
    <th>Endereco</th>
    <th>Num</th>
    <th>Complemento</th>
    <th>Cep</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Fone</th>
    <th>Cel</th>
    <th>Email</th>
    <th>Civil</th>
    <th>Modalidade</th>
    <th>Curso</th>
    <th>Instituicao</th>
    <th>Periodo</th>
    <th>Semestre</th>
    <th>Data ingresso</th>
    <th>Data termino</th>
    <th>Pergunta1</th>
    <th>Pergunta2</th>
    <th>Pergunta3</th>
    <th>Obs</th>
    <th>Aval</th>
    <th>Status</th>
  </tr>

<% @curriculos.each do |curriculo| %>
  <tr>
    <td><%=h curriculo.nome %></td>
    <td><%=h curriculo.nascimento %></td>
    <td><%=h curriculo.endereco %></td>
    <td><%=h curriculo.num %></td>
    <td><%=h curriculo.complemento %></td>
    <td><%=h curriculo.cep %></td>
    <td><%=h curriculo.bairro %></td>
    <td><%=h curriculo.cidade %></td>
    <td><%=h curriculo.fone %></td>
    <td><%=h curriculo.cel %></td>
    <td><%=h curriculo.email %></td>
    <td><%=h curriculo.civil %></td>
    <td><%=h curriculo.modalidade %></td>
    <td><%=h curriculo.curso %></td>
    <td><%=h curriculo.instituicao %></td>
    <td><%=h curriculo.periodo %></td>
    <td><%=h curriculo.semestre %></td>
    <td><%=h curriculo.data_ingresso %></td>
    <td><%=h curriculo.data_termino %></td>
    <td><%=h curriculo.pergunta1 %></td>
    <td><%=h curriculo.pergunta2 %></td>
    <td><%=h curriculo.pergunta3 %></td>
    <td><%=h curriculo.obs %></td>
    <td><%=h curriculo.aval %></td>
    <td><%=h curriculo.status %></td>
    <td><%= link_to 'Show', curriculo %></td>
    <td><%= link_to 'Edit', edit_curriculo_path(curriculo) %></td>
    <td><%= link_to 'Destroy', curriculo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New curriculo', new_curriculo_path %>