<br/>
 <table class="tabelas" align="center" width="100%">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b>CURRICULOS PARA ESTÁGIO DE ADMINSTRAÇÃO</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
  <tr>
    <td colspan="2">
      <br/>
       <div class="botao">
       <% form_remote_tag :url => indexadmin_curriculos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
       <table width="100%">
        <tr>
          <td align="left" >
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "1") %></a>Contrados
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "7") %></a>Não Contratados
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "2") %></a>Novos
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "3") %></a>Nivel-0
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "4") %></a>Nivel-1
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "5") %></a>Nivel-2
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "6") %></a>Nivel-3
               <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "8") %></a>Todos
           </td>

           <td><div class="consulta" style="display:none"> <%= render "consulta" %>  </div></td>

       </tr>
      </table>
    <% end %>
 </div>
    <br/>
    <hr>
    <div id="curriculos"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
    <br/>
<div class="botao">
    <table>
          <tr>
             <td align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
             <td  width="2%" align="right"><%= button_to "Consultar", indexadmin_curriculos_path, :method => "get", :title => "Consultar" %></td>
          </tr>
     </table>
</div>   
 </td>
 </tr>
 </table>
 <br/>


