<br/>
<font size="2">
<table class="tabelas1"width="40%"align="center">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b> CURRICULO ESTÁGIÁRIO</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
  <tr>
   <td colspan="2">
     <font  size="2">
       <table width="100%">
         <tr>
           <td width="50%"  valign="top">
            <fieldset><legend><font  size=4> Dados Pessais</font></legend>
             <table>
                <tr>
                  <td align="left"><font size="2"><b>Nome:</b></font></td>
                  <td align="left"><font size="2"><%=h @curriculo.nome %></font></td>
                </tr>
                <tr>
                  <td align="left"><font size="2"><b>Documentos:</b></font></td>
                  <td align="left"><font size="2"><b>RG:</b><%=h @curriculo.RG %> - <b>CPF:</b><%=h @curriculo.CPF %>  </font></td>
                </tr>

               <tr>
                 <td align="left"><font size="2"><b> Endereço:</b></font></td>
                 <td align="left"><font size="2"> <%=h @curriculo.endereco %></font></td>
               </tr>
               <tr>
                 <td align="left"><font size="2"><b> Complemento:</b></font></td>
                 <td align="left"><font size="2"><%=h @curriculo.complemento %></font></td>
               </tr>
               <tr>
                 <td align="left"><font size="2"><b> Bairro:</b></font></td>
                 <td align="left"><font size="2"><%=h @curriculo.bairro %></font></td>
               </tr>
               <tr>
                 <td align="left"><font size="2"><b> Cidade:</b></font></td>
                 <td align="left"><font size="2"><%=h @curriculo.cidade %></font></td>
               </tr>
               <tr>
                 <td align="left"><font size="2"><b>Data Nasc:</b></font></td>
                 <td align="left"><font size="2">  <%=h @curriculo.nascimento.strftime("%d de %B de %Y") %></font></td><p>
               </tr>
               <tr>
                 <td align="left"><font size="2"><b> Estado Civil:</b></font></td>
                 <td align="left"><font size="2"><%=h @curriculo.civil %></font></td>
               </tr>
               <tr>
                  <td align="left"><font size="2"><b>Fone:</b></font></td>
                  <td align="left"><font size="2"><%=h @curriculo.fone %> 
                                      - <b>Celular:</b><%=h @curriculo.cel %></font></td>
               </tr>
               <tr>
                 <td align="left"><font size="2"><b> e_mail:</b></font></td>
                 <td align="left"><font size="2"><%=h @curriculo.email %></font></td>
               </tr>
             </table>
            </fieldset>
           </td>
           <td width="50%" valign="top">
            <table width="100%">
              <tr valign="top">
                <td>
                  <fieldset><legend><font  size=4> Dados Faculdade</font></legend>
                  <table>
                    <tr>
                      <td align="left"><font size="2"><b>Modalidade:</b></font></td>
                      <td align="left"><font size="2"><%=h @curriculo.modalidade %></font></td>
                    </tr>
                    <tr>
                      <td align="left"><font size="2"><b>Instituição</font>:</b></td>
                      <td align="left"><font size="2"> <%=h @curriculo.instituicao %></font></td>
                    </tr>
                    <tr>
                      <td align="left"><font size="2"><b>Curso:</b></font></td>
                      <td align="left"><font size="2"><%=h @curriculo.curso %></font></td>
                    </tr>
                    <tr>
                      <td align="left"><font size="2"><b>Periodo:</b></font></td>
                      <td align="left"><font size="2"><%=h @curriculo.periodo %></font></td>
                    </tr>
                    <tr>
                      <td align="left"><font size="2"><b>Semestre:</b></font></td>
                      <td align="left"><font size="2"><%=h @curriculo.semestre %></font></td>
                    </tr>
                    <tr>
                      <td align="left"><font size="2"><b>Ingresso:</b></font></td>
                      <td align="left"><font size="2"><%=h @curriculo.data_ingresso.strftime("%d de %B de %Y") %></font></td>
                   </tr>
                   <tr>
                     <td align="left"><font size="2"><b>Término:</b></font></td>
                        <% if @curriculo.data_termino.nil? then %>
                            <td align="left"><font size="2"><%=h @curriculo.data_termino %></font></td>
                        <%else%>
                            <td align="left"><font size="2"><%=h @curriculo.data_termino.strftime("%d de %B de %Y") %></font></td>
                        <%end%>
                   </tr>
                </table>
                </fieldset>
                </td
               </tr>
             </table>
            </td>
           </tr>
           <tr>
            <td colspan="2"valign="top">
              <fieldset><legend><font  size=4> Curriculum</font></legend>
                 <table border="1">
                    <tr>
                      <td width="26%"align="left"><font size="2"><b>1) Experiência Profissional.</b></font></td>
                      <td align="left" valign="top"><font size="2"><%=h @curriculo.pergunta1 %></font></td>
                    </tr>
                    <tr>
                      <td width="26%"align="left"><font size="2"><b>2) Porque deseja atuar como estagiário na SEDUC-PMA?</b></td>
                      <td align="left" valign="top"><font size="2"><%=h @curriculo.pergunta2 %></font></td>
                    </tr>
                    <tr>
                      <td width="26%"align="left"><font size="2"><b>3) Quais são seus conhecimentos na área de informática.</b></font></td>
                      <td align="left" valign="top"><font size="2"><%=h @curriculo.pergunta3 %></font></td>
                    </tr>
                    <tr>
                      <td width="26%"align="left"><font size="2"><b>4) Outras informações.</b></font></td>
                      <td align="left" valign="top"><font size="2"><%=h @curriculo.obs %></font></td>
                    </tr>
                  </table>

              </fieldset>
            </td>
           </tr>
           <div class="botao">
           <table>
             <tr>
               <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
               <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
            </tr>
          </table>
          </div>
           </table>
         </font>
    </td>
   </tr>
 </table>
<br/>