    <div class="tabs">
        <table width="100%" >
      
           <%$t=0%>
           <% @dadosFunc.each do |funcionario| %>
           <%$t = $t+1%>
             <tr>   <td align="left" width="11%"><b>Matricula:</b> </td> <td colspan="2"> <%=h funcionario.matricula%>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Função:</b> &nbsp <%=h funcionario.funcao%></td>   
             </tr>
             <tr>
                 <td align="left"><b>Unidade: </b></td><td> <%=h funcionario.unidade.nome%></td>


             </tr>
             <tr>   <td align="left"><b>Endereço:</b> </td> <td colspan="2"> <%=h funcionario.endereco%>, <%=h funcionario.num%>
                       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                       <b>Complemento:</b>  <%=h funcionario.complemento%>
                    </td>
             </tr>
             <tr>   <td align="left"><b>Bairro:</b> </td> <td colspan="2"> <%=h funcionario.bairro%>
                     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                     <b>Cidade:</b> &nbsp <%=h funcionario.cidade%>
                 </td>
             </tr>
             <tr>
                <td align="left"><b>Fones:</b> </td> <td> <%=h funcionario.fone%> - <%=h funcionario.cel%></td>
            </tr>
            <% end %>



     </table>

  </div>
