<h1>Listing participantes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>Unidade</th>
    <th>Funcao</th>
    <th>Endereco</th>
    <th>Num</th>
    <th>Complemento</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Fone</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Obs</th>
  </tr>

<% @participantes.each do |participante| %>
  <tr>
    <td><%=h participante.nome %></td>
    <td><%=h participante.matricula %></td>
    <td><%=h participante.unidade %></td>
    <td><%=h participante.funcao %></td>
    <td><%=h participante.endereco %></td>
    <td><%=h participante.num %></td>
    <td><%=h participante.complemento %></td>
    <td><%=h participante.bairro %></td>
    <td><%=h participante.cidade %></td>
    <td><%=h participante.fone %></td>
    <td><%=h participante.celular %></td>
    <td><%=h participante.email %></td>
    <td><%=h participante.obs %></td>
    <td><%= link_to 'Show', participante %></td>
    <td><%= link_to 'Edit', edit_participante_path(participante) %></td>
    <td><%= link_to 'Destroy', participante, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New participante', new_participante_path %>