<br/>
<font size="2">
<table class="tabelas"width="40%"align="center">
   <tr>
    <th align="left">
       <font  size=5 color="black"> <b> PARTICIPANTE</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
   </tr>
 <tr>
   <td colspan="2">
    <fieldset><legend><font  size=4> Dados Pessoais </font></legend>
       <table width="100%">
               <tr>
                   <td width ="20%"align="left"><b>Nome :</b></td>
                   <td align="left"><%=h @participante.nome %></td>
                </tr>
                <tr>
                   <td align="left"><b>RG :</b></td>
                   <td align="left"><%=h @participante.rg %> - 
                     <b>CPF :</b><%=h @participante.cpf %></td>
                </tr>
                 <tr>
                   <td align="left"><b>Profissão:</b></td>
                   <td align="left"><%=h @participante.profissao %></td>
                </tr>
                <tr>
                   <td align="left"><b>Endereço: </b></td>
                   <td align="left"><%=h @participante.endereco %> <b>Nº</b> <%=h @participante.num %></td>
                </tr>
                <tr>
                   <td align="left"><b>Complemento: </b></td>
                   <td align="left"><%=h @participante.complemento %></td>
                </tr>

                <tr>
                   <td align="left"><b>Cidade: </b></td>
                   <td align="left"><%=h @participante.cidade %></td>
                </tr>
                <tr>
                   <td align="left"><b>Bairro: </b></td>
                   <td align="left"><%=h @participante.bairro%> -
                     <b>CEP: </b><%=h @participante.CEP %></td>
                </tr>
                <tr>
                   <td align="left"><b>Telefone: </b></td>
                   <td align="left"><%=h @participante.telefone %> -
                     <b>Celular: </b><%=h @participante.cel %></td>
                </tr>
              <% if @participante.unidade_id.nil? %>
                <tr>
                   <td align="left"><b>Observação: </b></td>
                   <td align="left"><%=h @participante.obs %></td>
                </tr>
               <%end%>
           <tr>
                   <td  width="10%"align="left"><b>Matrícula: </b></td>
                   <td align="left"><%=h @participante.matricula %></td>
                </tr>
                <tr>
                   <td align="left"><b>Unidade: </b></td>
                   <td align="left"><%=h @participante.unidade.nome %></td>
                </tr>
                <tr>
                   <td align="left"><b>Função: </b></td>
                   <td align="left"><%=h @participante.funcao%></td>
                </tr>
                 <tr>
                   <td align="left"><b>Observação: </b></td>
                   <td align="left"><%=h @participante.obs%></td>
                </tr>
        </table>
    </fieldset>

      
      <div class="botao">
         <tr>
           <td colspan="4">
            <table align="right">
              <tr>
                <td align="right"> <%= button_to('Participante',{:action => "edit", :id =>@participante}, :method => "get", :title => "Particpante") %></td>
                <td width="1%"align="right" ><%= button_to('Voltar', homes_path, :method => "get", :title => "Voltar")%></td>
              </tr>
            </table>
           </td>
         </tr>
       </div>

 </td>
</tr>
</table>
</font>
<br/>

