<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ATENDIMENTOS</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr  bgcolor ="#E6E2D">
            <td align="left">
             <font  size=5 color="black"> <b> ATENDIMENTOS </b></font>
               <hr/>
            </td>
        </tr>
        <tr>
            <td>
                  <table>
                      <tr>
                         <td align="right" ><%= button_to('Fechar', home_path, :method => "get", :title => "Voltar")%></td>
                         <td width="2%"align="right" ><%= button_to('Atendimentos',acompanhamentos_path, :method => "get", :title => "Protocolos") %></td>
                         <td width="2%"align="right" ><%= button_to('Novo', new_acompanhamento_path, :title => "Novo Protocolo")%></td>
                         <td  width="2%" align="right"><%= button_to "Consultar", consulta_acompanhamentos_path, :title => "Consultar" %></td>
                      </tr>
                 </table>
            </td>
        </tr>
         <tr>
           <td colspan="3">
             <% form_remote_tag :url => acompanhamento_acompanhamentos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
               <table width="100%" >
                    <tr>
                      <td align="left" >
                           <a href="#" class="filtro"><%= radio_button_tag(:type_of, "4") %></a>Nº Código
                           <a href="#" class="filtro"><%= radio_button_tag(:type_of, "5") %></a>Assunto
                           <a href="#" class="filtro"><%= radio_button_tag(:type_of, "6") %></a>Criança
                           <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "1") %></a>Em Aberto
                           <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "2") %></a>Encerrados
                           <a href="#" class="sem_filtro"><%= radio_button_tag(:type_of, "3") %></a>Todos
                       </td>
                     </tr>
                     <tr>
                         <td align="right"><div class="consulta" style="display:none"> <%= render "consulta" %>  </div></td>
                      </tr>
                  </table>
            <% end %>
            <br/>
            <hr>
           </td>
         </tr>
         <tr>
             <td>
                 <br/>
                 <div id="protocolo"><div id='status' style='display:none;' align="center" ><%= image_tag("/stylesheets/images/loading.gif") %></div></div>
            </td>
          </tr>
              <tr bgcolor ="#E6E2D">
               <td colspan="3"  >
                 <table >
                  <tr>
                     <td align="right" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                     <td width="2%"align="right" ><%= button_to('Atendimento',acompanhamentos_path, :method => "get", :title => "Protocolos") %></td>
                     <td width="2%"align="right" ><%= button_to('Novo', new_acompanhamento_path, :title => "Novo Protocolo")%></td>
                     <td  width="2%" align="right"><%= button_to "Consultar", consulta_acompanhamentos_path, :title => "Consultar" %></td>
                  </tr>
                </table>
               </td>
              </tr>

    </table>

  </div>
</div>
<br/>
</div>





