<table width="100%"class="tabelas" align="center">
 <tr>
    <th align="left"><font  size=5><b>SERVIDOR DA SEDUC</b></font></th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
  <% form_for @search do |f| %>
    <tr>
      <td align="left" colspan="2">
        <a href="#" class="filtro"><%= radio_button_tag(:teste,"0", :checked => "checked") %></a>Ativos
        <a href="#" class="filtro"><%= radio_button_tag(:teste,"1" ) %></a>Desligados
         &nbsp &nbsp &nbsp &nbsp
        <%= f.label :nome_like, "Nome:" %>
        <%= f.text_field :nome_like, :size => 20 %>

        <%= f.submit "Buscar" %>

    </td>
  </tr>
  <% end %>

  <tr>
    <td colspan="2">
      <table border="1">
        <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Setor</th>
            <th>Atribuicao</th>
            <th>Chefia</th>
            <th>Status</th>
            <th width="5%" colspan="2">Administrar</th>
        </tr>
        <% for funcionario in @funcionarios %>
        <tr>
          <td><%=h funcionario.matricula %></td>
          <td><%=h funcionario.nome %></td>
          <td><%=h funcionario.setor %></td>
          <td><%=h funcionario.atribuicao %></td>
          <td><%=h funcionario.chefia.nome%></td>
           <% if funcionario.desligado == false %>
             <td>Ativo</td>
           <%else%>
             <td>Desligado</td>
           <%end%>
           <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "20x20"), funcionario, :title => "Exibir" %></td>
           <td><center><%= link_to image_tag("/stylesheets/images/edit.png", :size => "20x20"), edit_funcionario_path(funcionario), :title => "Editar" %></center></td>
        </tr>
        <% end %>
        </table>
    </td>
  </tr>
 <tr>
   <td colspan="2">
     <table width="100%" align="center">
       <tr>
         <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
         <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
      </tr>
    </table>
   </td>
 </tr>

</table>

<br />


