<link rel="stylesheet" media="all" href="css/calendar.css" />

<%  if @agendamento[0].present?%>
    <table width="100%" >
        <tr>
            <td style="border-color: white" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
            <td><center><font size="2"><i><b>Prefeitura Municipal de  Americana </b></i></center>
                <center><font size="1"><b><i> Secretaria da Educação</i></b><br/></center>
                 <center><font size="1">Unidade Escolar:  SECRETARIA DE EDUCAÇÃO  </font></center>
                 <center><font size="1">Rua dos Professores, 40 - Americana - SP  </font>
                 <font size="1">13.465.060 - (19) 3475-9700  </font></center>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="22" align="center"><font size="3"><b>RELATÓRIO PODA DE GRAMA</b></font>
            </td>
        </tr>
    </table>
<%  mes=0 %>
        <table border="1" cellspacing="0" cellpadding="1" width="100%">
            <tr cellspacing="2" cellpadding="2" >
                <td width="18%" align="center"><b>Agendado em</b></td>
                <td width="18%" align="center"><b>Agendado para</b></td>
                <td width="18%" align="center"><b>Executado em</b></td>
                <td width="30%" align="center"><b>Unidade</b></td>
                <td width="18%" align="center"><b>Executado por</b></td>
            </tr>
    <% @agendamento.each do |agendamento| %>
     <% mes=mes+1 %>
            <tr>
                <td align="center"><%= agendamento.created_at.strftime("%d/%m/%Y - (%A)") %></td>
                <td align="center"><% if !agendamento.agendamento.nil? %>
                                          <%= agendamento.agendamento.strftime("%d/%m/%Y - (%A)") %></td>
                                    <%else%>
                                        <font color ="blue"><b> NÃO AGENDADO</b></font>
                                    <%end%>
                <td align="center"><% if !agendamento.execucao.nil? %>
                                        <font color ="blue"><b><%= agendamento.execucao.strftime("%d/%m/%Y - (%A)") %></></font>
                                    <%else%>
                                        <font color ="red"><b> NÃO EXECUTADO</b></font>
                                    <%end%>
                </td>
                <td><%= agendamento.unidade.tipo.nome %> <%= agendamento.unidade.nome %></td>
                <td align="center"><% if !agendamento.executado.nil? %>
                                       <font color ="blue"> <b><%= agendamento.executado %></b></font>
                                    <%else%>
                                        <font color ="red"><b> NÃO EXECUTADO</b></font>
                                    <%end%>
                </td>

            </tr>

    <%end%>

  </table>
<br/><br/>



  <table  width="100% ">
            <tr>
                <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td>

                   <% if (current_user.has_role?('admin') or current_user.has_role?('SEDUC') or current_user.has_role?('supervisao') or current_user.has_role?('direcao_fundamental')or current_user.has_role?('secretaria_fundamental')or current_user.has_role?('pedagogo')or current_user.has_role?('secretaria_infantil')or current_user.has_role?('diretor_unidade'))%>
                       <%if  params[:type_of].to_i == 2 or params[:type_of].to_i == 1 %>
                           <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_faltas_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
                       
                       <%end%>
                       <%if session[:imprimeprofessor]  == 1%>
                         <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_faltas_professor_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
                         <%  session[:imprimeprofessor]  = 0%>
                       <%end%>
                       <%if session[:imprimefuncionario]  == 1%>
                         <td align="right" ><%= button_to 'Imprimir', onclick="javascript:MM_openBrWindow('#{impressao_faltas_funcionario_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>
                         <% session[:imprimefuncionario]  = 0%>
                       <%end%>
                 <%end%>
            </tr>

        </table>
<%else%>
         <table  width="100% ">
            <tr>
                <td align="center" colspan="2"><br/>
                   <font size="3"> <b> Não consta registro de faltas neste mês para esta unidade escolar</b>  </font> <br/>
                </td>
            </tr>
            <tr>
                <td width="6%"align="left" ><br/><%= button_to '', home_path, {:method => "get"}  %></td><td>
            </tr>
        </table>

<%end%>
        <%  session[:mostra_faltas_funcionario] = 0%>
        <%  session[:mostra_faltas_professor] = 0%>

