<h1>New mmanutencaos_tipos_manutencao</h1>

<% form_for(@mmanutencaos_tipos_manutencao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tipos_manutencao %><br />
    <%= f.text_field :tipos_manutencao %>
  </p>
  <p>
    <%= f.label :mmanutencao %><br />
    <%= f.text_field :mmanutencao %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mmanutencaos_tipos_manutencaos_path %>