
<table  >
        <tr>
          <td align="left"><b>Dotação Orçamentária: </b> <%=h @dados_ficha[0].orc_uni_orcamentaria.orc_uni_despesa.codigo%>.<%=h  @dados_ficha[0].codigo%>
            &nbsp&nbsp <b>DR: </b> <%=h  @dados_ficha[0].dr%> &nbsp&nbsp <b>Fonte: </b> <%=h  @dados_ficha[0].fonte%></td>
         </tr>
         <tr align="left">
              <td align="left"><%=h  @dados_ficha[0].descricao%>  
                   <% if @dados_ficha[0].ficha.count("SE") == 2 %>
                      - SALARIO EDUCAÇÂO
                   <%end%>
                   <% if @dados_ficha[0].ficha.include?("PNAE")%>
                     - PNAE
                   <%end%>
                   <% if @dados_ficha[0].ficha.count("FUNDEB")== 6 %>
                     - FUNDEB
                   <%end%>
                   <% if @dados_ficha[0].ficha.include?("PNATE") %>
                     - PNATE
                   <%end%>
                   <% if @dados_ficha[0].ficha.count("BC") == 2 %>
                      - BRASIL CARINHOSO
                   <%end%>
                   <% if @dados_ficha[0].ficha.count("PDDE") == 4 %>
                      - PDDE
                   <%end%>
                   <% if @dados_ficha[0].ficha.count("FNDE") == 4 %>
                      - FNDE
                   <%end%>


                - <%=h @dados_ficha[0].orc_uni_orcamentaria.orc_uni_despesa.descricao%></td>
         </tr>

    </table>
