<table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
  <tr style="border-color: white">
    <td style="border-color: white" rowspan="2" align="left"><center><img src="/stylesheets/images/logo.png"   alt=""   /></center></td>
    <td style="border-color: white" ><center><font size="4"><i><b>Prefeitura Municipal de  Americana </b></i></center>
        <center><font size="2"><b><i> Secretaria da Educação</i></b><br/></center>
    </td>
  </tr>
       <tr  style="border-color: white"style="height: 6px" >
       <td style="border-color: white"><font size ="1"><center> Rua dos Professores, 40 - Americana - SP Fone: 3475-7500 - CEP 13.465-060</font> </td>
     </tr>
     <tr style="border-color: white"  style="height: 4px" >
       <td style="border-color: white" colspan="2"><hr/></td>
     </tr>
 </table>

 <table cellspacing="0" cellpadding="1" width="100%" style="border-color: white"  style="height: 4px" >
   <% @orc_pedido_compra.each do |pedido| %>
      <tr style="border-color: white" style="height: 4px" >
         <td  style="border-color: white"  colspan="2" align="left" ><b> SI/COMPRAS <%=h pedido.codigo %> <br/>
                                           DE: SECRETARIA DE EDUCAÇÃO <br/>
                                           P/ <%=  session[:destino]%></b><br/><br/>
      </td>
    </tr>
      <tr>
        <td colspan="4" align="center"style="border-color: white"  ><center><b><u>SOLICITAÇÃO DE COMPRA</u></b></center><br/></td>
      </tr>
      <tr >
        <td colspan="4" align="left"style="border-color: white" ><b><u>OBJETIVO</u>: </b> &nbsp <%=h pedido.objetivo %> </td>
      </tr>
      <tr >
        <td colspan="4" align="left"style="border-color: white" ><b><u>FORNECEDOR</u>: </b> &nbsp  <%=h pedido.fornecedor%> - <b><u>CPF/CNPJ</u>: </b> <%=h pedido.cnpj%> </td>
      </tr>
      <tr >
        <td colspan="4" align="left"style="border-color: white" ><b><u>DOTAÇÃO ORÇAMENTÁRIA </u></b>: &nbsp <%=h  pedido.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.codigo%>.<%=h  pedido.orc_ficha.codigo%>
                                     &nbsp <b><u>FICHA</u>: &nbsp </b><%=h   pedido.orc_ficha.ficha%></td>
      </tr>
      <tr >
          <td colspan="4" align="left"style="border-color: white" ><b><u>DR</u>: </b> <%=h  pedido.orc_ficha.dr%>  &nbsp <b><u>Fonte</u>: </b> <%=h  pedido.orc_ficha.fonte%>
            &nbsp <%=h pedido.orc_ficha.descricao%> 
                   <% if pedido.orc_ficha.ficha.count("SE") == 2 %>
                      - SALARIO EDUCAÇÂO
                   <%end%>
                   <% if pedido.orc_ficha.ficha.include?("PNAE")%>
                     - PNAE
                   <%end%>
                   <% if pedido.orc_ficha.ficha.count("FUNDEB")== 6 %>
                     - FUNDEB
                   <%end%>
                   <% if pedido.orc_ficha.ficha.include?("PNATE") %>
                     - PNATE
                   <%end%>
                   <% if pedido.orc_ficha.ficha.count("BC") == 2 %>
                      - BRASIL CARINHOSO
                   <%end%>
                   <% if pedido.orc_ficha.ficha.count("PDDE") == 4 %>
                      - PDDE
                   <%end%>
                   <% if pedido.orc_ficha.ficha.count("FNDE") == 4 %>
                      - FNDE
                   <%end%>


                - <%=h pedido.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao%>
           <br/></td>
      </tr>
       <% if !pedido.ata_id.nil? %>
           <% @ata= OrcAta.find(:all, :conditions => ['id=?',pedido.ata_id]) %>
           <tr>
               <td colspan="4" align="left" style="border-color: white""><b><u>ATA</u>: </b> &nbsp <%=h @ata[0].codigo %> <b><u<%=h @ata[0].modalidade %>:</u</b> <%=h @ata[0].numero %> - <b><u>PROCESSO</u>: </b> <%=h @ata[0].administrativo%> <br/><br/></td>
           </tr>
       <%end%>
      <tr>
        <td style="border-color: white">
            <table  border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: white">
                <tr style="border-color: white" style="height: 4px" >
                  <td align="center"><b>Item</b></td>
                  <td align="center" width ="10%"><b>Quant.</b></td>
                  <td align="center" width =" 50%"><b>Descrição</b></td>
                  <td align="center"><b>Unitário</b></td>
                  <td align="center"><b>Valor</b></td>
                </tr>
                <%contador=1%>
                <% session[:soma]=0 %>
                <% total_geral = 0.00 %>
                <% if !@orc_pedido_descricaos.nil? %>
                    <% @orc_pedido_descricaos.each do |descricao|%>
                      <tr style="height: 4px" >
                         <td align="center"><%= contador%> </td>
                         <td align="center"><%= descricao.quantidade%> </td>
                         <td align="left"> <%= descricao.descricao%> </td>
                         <td align="center"> R$ <%= descricao.unitario%> </td>
                         <td align="center"> R$ <%= descricao.total%> </td>
                       </tr>
                      <% contador = contador+1%>
                      <% total_geral = total_geral+ descricao.total%>
                    <%end%>
               <%end%>
                       <tr>
                         <td colspan="4" align="right"><b>Total Geral </b> &nbsp&nbsp&nbsp&nbsp </td>
                         <td align="center"> R$ <%= total_geral %></td>

                       </tr>
              </table>

        </td>
      </tr>
      <tr>
        <td colspan="4" align="left"style="border-color: white"><b><u>VALOR TOTAL: </u></b> R$ <%= total_geral %> <br/></td>
      </tr>
      <tr>
        <td colspan="4" align="left"style="border-color: white"><b><u>JUSTIFICATIVA: </u></b> <%=h pedido.justificativa %> <br/></td>
      </tr>
      <% if  !pedido.obs.nil?%>
          <tr>
            <td colspan="4" align="left"style="border-color: white"><b><u>OBSERVAÇÃO</u>: </b> &nbsp <%=h pedido.obs %> <br/><br/></td>
          </tr>
      <%end%>
      <tr>
        <td colspan="4" align="left"style="border-color: white"><b><u>Data: </u></b> <%=h pedido.created_at.strftime("%d de %B de %Y") %><br/></td>
      </tr>


  <%end%>
</table>

<table style="border-color: white">
    <tr >
    <td style="border-color: white">
      <br/><br/><br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ________________________________________________<br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  EVELENE CESARE PONCE MEDINA    <br/>
         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaria de Educação
         <br/><br/><br/><br/><br/><br/>
        
      
    </td>
  </tr>
</table>
<table class ="invisible_to_print ">
  <tr>
    <td width ="2%" align="left" class ="invisible_to_print "><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
  </tr>
</table>
