<div id="interno2">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - SOLICITAÇÕES DE COMPRA</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr  bgcolor ="#E6E2D">
            <td align="left">
             <font  size=5 color="black"> <b> ORÇAMENTO SEDUC/PMA - SOLICITAÇÕES DE COMPRA</b></font>
               <hr/>
            </td>
        </tr>
        <tr>
           <table border="1" cellspacing="0" cellpadding="1" width="100%">
               <tr>
                    <th></th>
                    <th  width ="1%"  align="center"><b>SI</b></th>
                    <th align="center"><b>Objetivo </b></th>
                    <th align="center"><b>Fornecedor</b></th>
                    <th  width ="10%"align="center"><b>DO </b></th>
                    <th width ="5%"  align="center"><b>Ficha</b></th>

                    <th width ="5%"  align="center"><b>Data </b></th>
               </tr>
               <%form_tag si_selecionados_orc_pedido_compras_path, :method => :get do %>
                   <% @orc_pedido_compra.each do |pedido| %>
                        <tr  bgcolor="#F5F5F5">
                          <td align="center"><%= check_box_tag "pedido_ids[]",pedido.id %></td>
                          <td><%=h pedido.codigo %></td>
                          <td><%=h pedido.objetivo %></td>
                          <td><%=h pedido.fornecedor %></td>
                          <td><%=h pedido.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.codigo%>.<%=h pedido.orc_ficha.codigo%> </td>
                          <td align="center"><%=h pedido.orc_ficha.ficha%></td>

                          <td align="center"><%=h pedido.created_at.strftime("%d/%m/%y") %> </td>
                        </tr>
                         <% contador = 1%>
                         <tr  bgcolor="#F5F5F5">
                             <td colspan="2"> </td>

                             <td colspan="6">
                               <table bgcolor="#DCDCDC" width="100%" >
                                     <tr  bgcolor="#DCDCDC">
                                         <td width ="1%" align="center"><b>Item</b> </td>
                                         <td width ="1%" align="center"><b>Quant.</b> </td>
                                         <td align="left"><b> Descrição.descricao</b> </td>
                                         <td width ="15%"align="center"><b> R$ Unitario</b> </td>
                                         <td align="center"><b> R$ Total</b> </td>
                                    </tr>
                               <% @orc_pedido_descricaos = OrcPedidoDescricao.find(:all, :conditions => ["orc_pedido_compra_id =?" , pedido.id]) %>
                                <% @orc_pedido_descricaos.each do |descricao|%>

                                     <tr  bgcolor="#F5F5F5" >
                                         <td  align="center"><%= contador%> </td>
                                         <td  align="center"><%= descricao.quantidade%> </td>
                                         <td  align="left"> <%= descricao.descricao%> </td>
                                         <td > R$ <%= descricao.unitario%> </td>
                                         <td  align="center"> R$ <%= descricao.total%> </td>
                                          <% contador = contador+1%>
                                    </tr>

                                 <%end%>
                               </table>
                             </td>
                         </tr>
                         <tr bgcolor="#DCDCDC" >
                             <td colspan="8">

                             </td>
                         </tr>
                   <%end%>
                            <tr>
                                <td align="left" colspan="11">
                                    <table>
                                        <% if current_user.has_role?('admin') or current_user.has_role?('estagiario SEDUC') %>
                                            <td align="left"><%= submit_tag "Visualizar", :class => "btn_filtrar" %></td>
                                            <td align="left" ><font color="Blue"> VISUALIAR CHAMADOS SELECIONADOS PARA ATENDIMENTO</font></td>
                                        <%end%>
                                    </table>
                                </td>
                            </tr>
            <%end%>
        </table>
                </font>

                    <table width="100%" align="center">
                        <br/>
                        <tr>
                            <td width="2%"align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td width="2%"align="left"><%= button_to('Cadastrar', new_orc_pedido_compra_path , :method => "get", :title => "Fechar")%></td>
                            <td align="left"><%= button_to('Serviços', orc_pedido_compras_path, :method => "get",  :title => "Desepesas")%></td>
                        </tr>
                    </table>


        </tr>
    </table>

  </div>
</div>
<br/>
</div>




