<div id="interno1">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - PEDIDO COMPRA</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>

              <% form_for(@orc_pedido_compra) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Serviço Interno</font></legend>
                    <table width="100%" >
                      <tr>
                         <td colspan="6"align="left"><b>Destino S.I.: </b>&nbsp  <%= select_tag :destino, options_for_select([ "SUPRIMENTOS", "CONTABILIDADE" ]) %>
                         &nbsp&nbsp&nbsp <b>Número:</b> &nbsp <%= f.text_field :codigo, :size =>10%>
                              <%= observe_field :orc_pedido_compra_codigo,
                              :with => :orc_pedido_compra_codigo,
                              :url => { :action => 'ja_existe' },
                              :update => "ja_existe"%>

                         &nbsp&nbsp&nbsp <b>Objetivo:</b> &nbsp <%= f.text_field :objetivo, :size =>57 %></td>
                      </tr>

                        <div id="ja_existe">
                              <tr>
                                 <td width ="9%" align="left"><b>Fornecedor:</b></font></td>
                                 <td colspan="3" align="left"><%= f.text_field :fornecedor, :size =>60%> &nbsp&nbsp&nbsp
                                                               <b>CPF/CNPJ:</b>&nbsp&nbsp <%= f.text_field :cnpj, :size =>12 %> &nbsp&nbsp&nbsp
                                                               <b>ATA:</b>&nbsp&nbsp <%= f.collection_select :ata_id, @atas, :id, :codigo, :include_blank => ' '  %>
                                                               <%= observe_field 'orc_pedido_compra_ata_id',
                                                                           :with   => 'orc_pedido_compra_ata_id',
                                                                         :url    => { :action => 'verifica_ata_si' } %>
                                 </td>
                              </tr>
                              <tr>
                                 <td align="left"><b>Ficha:</b></td>
                                 <td align="left"><%= f.collection_select :orc_ficha_id, @fichas, :id, :ficha, :include_blank => ' '  %>
                                                  <%= observe_field 'orc_pedido_compra_orc_ficha_id',
                                                             :with   => :orc_pedido_compra_orc_ficha_id,
                                                             :url  => { :action => 'dados_ficha' },
                                                             :update => "dadosFicha"%>
                                 </td>
                                 <td colspan="2"><div id="dadosFicha"></div> </td>
                              </tr>
                              <tr>
                                 <td align="left"><b>Justificativa:</b></td>
                                 <td colspan="5" align="left"><%= f.text_field :justificativa, :size =>110 %></td>
                              </tr>
                              <tr>
                                  <td align="left" valign="top"><b>Observação:</b></td>
                                 <td colspan="5" align="left"><%= f.text_area(:obs, :cols =>109, :rows => "2") %></td>
                              </tr>
                        </div>
                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td  align="left" ><%= button_to('Consultar', consulta_orc_pedido_compras_path, :method => "get",  :title => "Pedidos Compras")%></td>
                            
                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



    <%= render "orc_pedido_descricao" %>

