<div id="interno1">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>ORÇAMENTO SEDUC/PMA - PEDIDO COMPRA</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>

              <% form_for(@orc_pedido_compra) do |f| %>
              <%= f.error_messages %>
              <font  size="2">
               <table  width="100%"  align="center"  bgcolor="#F5F5F5" >
               <tr>
                 <td colspan="2">
                  <fieldset><legend><font  size=3> Serviço Interno</font></legend>
                    <table width="100%" >
                      <tr>
                         <td width ="9%" align="left"><b>Número:</b></font></td>
                         <td width ="8%" align="left"><%=h @orc_pedido_compra.codigo %></td>
                         <td align="left"><b>Objetivo:</b></td>
                         <td align="left"><%=h @orc_pedido_compra.objetivo %></td>
                      </tr>
                      <tr>
                         <td width ="9%" align="left"><b>Fornecedor:</b></font></td>
                         <td colspan="3" align="left"><%=h @orc_pedido_compra.fornecedor %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                                       <b>CNJPJ:</b>&nbsp&nbsp <%=h @orc_pedido_compra.cnpj %>
                         </td>
                      </tr>
                      <tr>
                         <td align="left"><b>Ficha:</b></td>
                         <td align="left"><%=h @orc_pedido_compra.orc_ficha.ficha%>  </td>
                         <td colspan="2"><table  >
        <tr>
          <td align="left"><b>Dotação Orçamentária: </b> <%=h @orc_pedido_compra.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.codigo%>.<%=h  @orc_pedido_compra.orc_ficha.codigo%>
            &nbsp&nbsp <b>DR: </b> <%=h @orc_pedido_compra.orc_ficha.dr%> &nbsp&nbsp <b>Fonte: </b> <%=h @orc_pedido_compra.orc_ficha.fonte%></td>
         </tr>
         <tr align="left">
              <td align="left"><%=h @orc_pedido_compra.orc_ficha.orc_uni_orcamentaria.orc_uni_despesa.descricao%></td>
         </tr>

    </table>
 </td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"> <b><u><%= link_to 'Descrição', "#inline_orc_pedido_descricao", :class =>"inline60" %></u></b></td>
                        <td colspan="3"><div id="dados"> <%= render :partial => 'orc_pedido_descricaos'  %></div></td>
                      </tr>
                      <tr>
                         <td align="left"><b>Justiciativa:</b></td>
                         <td colspan="5" align="left"><%= f.text_field :justificativa, :size =>110 %></td>
                      </tr>

                   </table>
                  </fieldset>
                 </td>
               </tr>
               <tr>
                 <td colspan="2">

                      <table width="40%" align="left">
                         <tr>
                           <td width="2%" align="left"><%= f.submit "Salvar" %> </td>
              <% end %>
                            <td width="2%" align="left"><%= button_to('Voltar', home_path, :method => "get", :title => "Fechar")%></td>
                            <td  align="left" ><%= button_to('Consultar', consulta_orc_pedido_compras_path, :method => "get",  :title => "Pedidos Compras")%></td>
                            
                         </tr>
                      </table>
                 </td>
                </tr>
               </table>
               </font>
           <br/>
      </div>
     <br/>
</div>
<br/>
</div>



    <%= render "orc_pedido_descricao" %>

