<p>
<h1><%= "#{@participante.nome}" %></h1>
<b><%= "Sua inscrição nos modulos de treinamento foi efetuada com sucesso." %></b>
<b><%=  "Inscricao nº: #{@inscricao.id}" %></b><br/>
<b>
  <%= "Você esta inscrito nos seguintes módulos" %>
  <ul>
    
        <li><%= @inscricao.curso.nome %></li>
    
  </ul>

  <h2>Agradecemos por sua inscrição</h2>
  <h2>Equipe de Formação - SEDUC</h2>
  <h2>Prefeitura de Americana</h2>
</b>
</p>  