<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>SGI - SEDUC / PMA</title>

    <%= stylesheet_link_tag 'infoseduc', 'calendar',"style",'menu',"colorbox", :cache => true %>
    <%= stylesheet_link_tag 'impressao', :media => "print" %>
    <%= stylesheet_link_tag 'calendar_impressao', :media => "print" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.16.custom"%>
    <%= javascript_include_tag 'jquery-1.7','jquery-ui-1.8.16.custom.min',"jquery-ui-timepicker-addon.js","jquery-ui-i18n.min",'jrails',"msg.js","jquery.colorbox","colorbox.js",'application.js' %>

<style media="print">
.botao {
display: none;
}
</style>
 </head>
 <body>

 <div id="contents">
  <div id="informacao" class="tabelas">
        <% unless informativos_corrente.empty? %>
          <div id="announcement">
            <table  width="100%" align="center">
               <tr>
                 <th> <font size="4"><center> QUADRO DE AVISOS</center> </font></th>
               </tr>
              <tr>
                <td>
                  <div id="color"  align="center">
                     <%for informativo in informativos_corrente %>
                       <%= informativo.mensagem %>
                     <%end%>
                   </div>
                </td>
              </tr>
              <tr>
                <td align="right">
                  <b><%= link_to_remote("Ocultar esta mensagem", :url => {:controller => 'javascripts', :action => 'hide_announcement'}) %></b>                </td>
              </tr>
       </table>
     </div>
    <%end%>
    </div>
<div class="botao">
  <div id="header">
    <br/>
    <div id="topo">
      <br/><br/><br/><br/><br/>      <br/>
      <table width="100%">
        <tr>
          <td width="72%"align="left"></td>
          <td align="right"> <h4><font   size ="2"> Americana <%= Time.now.strftime("%d de %B de %Y") %></font></h4></td>
        </tr>
      </table>
   </div>
  </div>
  </div>
      <br/>    <br/>
 <div id="principal">

        <%= yield  %>

    </div>
</div>
</body>
</html>