<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>SGI - SEDUC / PMA</title>

    <%= stylesheet_link_tag 'infoseduc', 'calendar',"style",'menu',"colorbox", :cache => true %>
    <%= stylesheet_link_tag 'impressao', :media => "print" %>
    <%= stylesheet_link_tag 'calendar_impressao', :media => "print" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.16.custom"%>
    <%= javascript_include_tag 'jquery-1.7','jquery-ui-1.8.16.custom.min',"jquery-ui-timepicker-addon.js","jquery-ui-i18n.min",'jrails',"msg.js","jquery.colorbox","colorbox.js",'application.js' %>

<style media="print">
.botao {
display: none;
}
</style>
 </head>
 <body>

 <div id="contents">
  <div id="informacao" class="tabelas">
        <% unless informativos_corrente.empty? %>
          <div id="announcement">
            <table  width="100%" align="center">
               <tr>
                 <th> <font size="4"><center> QUADRO DE AVISOS</center> </font></th>
               </tr>
              <tr>
                <td>
                  <div id="color"  align="center">
                     <%for informativo in informativos_corrente %>
                       <%= informativo.mensagem %>
                     <%end%>
                   </div>
                </td>
              </tr>
              <tr>
                <td align="right">
                  <b><%= link_to_remote("Ocultar esta mensagem", :url => {:controller => 'javascripts', :action => 'hide_announcement'}) %></b>                </td>
              </tr>
       </table>
     </div>
    <%end%>
    </div>
<div class="botao">
  <div id="header">
    <br/>
    <div id="topo">
      <br/><br/><br/><br/><br/>
      <table width="100%">
        <tr>
          <td width="72%"align="left"></td>
          <td align="right"> <h4><font   size ="2"> Americana <%= Time.now.strftime("%d de %B de %Y") %></font></h4></td>
        </tr>
      </table>
   </div>
        <%if logged_in? then%>
          <font size="4" color="green"><%= link_to h(current_user.login.capitalize), edit_user_path(current_user) %>  </font>
            <% if current_user.has_role?('administrador') %>
              Acesso de Administrador do Sistema
            <%else%>
              <% if current_user.has_role?('estagiario SEDUC') %>
                  Acesso de Estagiário(a)- SEDUC
                  <%else%>
                    <% if current_user.has_role?('estagiario itinerante') %>
                       Acesso de  Estagiário(a) itinerante
                    <%else%>
                       <% if current_user.has_role?('estagiario itinerante') %>
                           Acesso de  Estagiário(a) unidade
                        <%else%>
                          <% if current_user.has_role?('admin_manutencao') %>
                             Acesso Administrador - Sistema de Manutenção
                            <%else%>
                              <% if current_user.has_role?('chefia_manutencao') %>
                                 Acesso Chefia - Sistema de Manutenção
                              <%else%>
                                  <% if current_user.has_role?('diretor_unidade') %>
                                     Acesso Sistema de Gerenciamento de Manutenção
                                  <%else%>
                                   Bem vindo ao Sistema INFOSEDUC
                                  <%end%>
                             <%end%>
                          <%end%>
                        <%end%>
                    <%end%>
               <%end%>
            <%end%>
          <font style="color: red"><%= flash[:notice] %></font>
        <%else%>
           <%= link_to '|Entrar|', login_path %>
           <font style="color: red"><%= flash[:notice] %></font>
        <%end%>
    </div>
      <div id="menu">
        <div class="nav-container-outer">
           <img src="/stylesheets/images/nav-bg-l.jpg" alt="" class="float-left" />
           <img src="/stylesheets/images/nav-bg-r.jpg" alt="" class="float-right" />
           <ul id="nav-container" class="nav-container">
              <li><a class="item-primary" href="#">Arquivo</a>
                <ul style="width:108px;">
                  <li><%= link_to 'Inicio', root_path %></li>
                  <li><%= link_to 'Upload',anexos_path %></li>
                  <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
                </ul>
              </li>

              <li><span class="divider divider-vert" ></span></li>
             <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') or current_user.has_role?('estagiario unidade')or current_user.has_role?('estagiario itinerante') %>
              <li><a class="item-primary" href="#">Estagiários</a>
                 <ul style="width:108px;">

                     <% if current_user.has_role?('administrador') %>
                       <li><%= link_to 'Analistas', analistas_path %></li>
                       <li><%= link_to 'Cadastrar',new_estagiario_path %></li>
                     <%end%>
                     <% if current_user.has_role?('administrador')%>
                     <li><%= link_to 'Cadastrados', c_est_nom_path %></li>
                     <li><a>Consultar</a>
                        <ul>
                          <li><%= link_to 'Atuais', estagiarios_path%></li>
                          <% if current_user.has_role?('administrador') %>
                              <li><%= link_to 'Baixados', baixas_path%></li>
                          <%end%>
                           <li><%= link_to "Período",periodo_trabalho_estagiarios_path %></li>
                          <% if current_user.has_role?('administrador') %>
                              <li><%= link_to 'Todos', print_all_estagiarios_path(:tipo => "todos")%></li>
                          <%end%>
                       </ul>
                     </li>
                    <%end%>
                     <li>
                        <%= link_to "Ponto Eletrônico", pontos_path %>
                     </li>
                     <li><a>Relatórios</a>
                        <ul>
                          <li><%= link_to "Cadastrar",new_relatestagiario_path %></li>
                           <% if current_user.has_role?('administrador') %>
                          <li><a>Consultar</a>
                            <ul>
                               <li><%= link_to'por Nome', consulta_relatestagiario_path %></li>
                               <li><%= link_to 'por Unidade',relatestagiarios_path %></li>
                            </ul>
                          </li>
                             <%end%>
                          <li><%= link_to 'Validar',consulta_relatestagiario_path %></li>
                          <li><%= link_to_remote('Validar',:update => "tela", :url => { :action => "valida", :controller => 'relatestagiarios'}) %></li>
                        </ul>
                     </li>
                 </ul>
              </li>
              <%end%>
              <li><span class="divider divider-vert" ></span></li>
                  <% if current_user.has_role?('administrador') %>
              <li><a class="item-primary" href="#;">Infoseduc</a>
                 <ul style="width:108px;">
                  <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                    <li><%= link_to 'Empresa', new_empresa_path %></li>
                    <li><a>Fornecedores</a>
                      <ul>
                        <% if current_user.has_role?('administrador') %>
                          <li><%= link_to 'Cadastrar',new_fornecedore_path %></li>
                        <%end%>
                        <li><a>Consultar</a>
                          <ul>
                            <li><%= link_to 'Nome', fornecedores_path %></li>
                            <li><%= link_to 'Tipo Serviço', consulta_path %></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a>Informativo</a>
                      <ul>
                        <li><%= link_to "Novo",new_informativo_path %></li>
                        <li><%= link_to "Todos",informativos_path  %></li>
                      </ul>
                    </li>
                   <!--
                    <li><a>Ponto eletrônico</a>
                      <ul>
                        <li><a>Consultar por</a>
                          <ul>
                            <li><%= link_to 'Estagiário', carga_horaria_estagiarios_path %></li>
                            <li><%= link_to 'Geral', rel_ponto_estagiarios_path %></li>
                          </ul>
                        </li>
                        <li><%= link_to 'Ponto Base', mes_bases_path%></li>
                      </ul>
                    </li>
                     -->
                   <li><%= link_to 'Senhas',senhas_path %></li>
                  <%end%>
                  <% if current_user.has_role?('administrador') %>
                  <li><a>Tabelas</a>
                     <ul>
                      <li><a>Chefia</a>
                          <ul>
                            <li><%= link_to "Cadastrar", new_chefia_path%></li>
                            <li><%= link_to "Consultar", chefias_path%></li>
                         </ul>
                       </li>
                      <li><a>Funcionarios</a>
                          <ul>
                            <li><%= link_to "Cadastrar", new_funcionario_path%></li>
                            <li><%= link_to "Consultar", funcionarios_path%></li>
                         </ul>
                       </li>
                       <li><%= link_to "Tipo Manutenção",new_tipos_manutencao_path %></li>
                       <li><%= link_to "Tipo OS Externa",new_tipo_osexterna_path %></li>
                       <li><%= link_to "Tipo Problema",new_tipos_problema_path %></li>
                       <li><%= link_to "Tipo Unidade",new_tipo_path %></li>
                       <!--<li><%= link_to "Situação",new_situacao_chamado_path %></li>-->
                     </ul>
                  </li>
                   <li><a>Usuários</a>
                     <ul>
                       <li><%= link_to 'Associar', new_roles_user_path %></li>
                       <li><%= link_to 'Gerenciar', roles_users_path %></li>
                     </ul>
                   </li>
                  <%end%>
                 </ul>
              </li>
              <%end%>

              <li><span class="divider divider-vert" ></span></li>
              <% if current_user.has_role?('administrador') or current_user.has_role?('inscricao') %>
                <li><a class="item-primary" href="#;">Inscrições</a>
                 <ul style="width:108px;">
                     <li><a>Cadastrar</a>
                      <ul>
                        <li><%= link_to "Curso", new_curso_path%></li>
                        <li><%= link_to "Participante", new_participante_path%></li>
                      </ul>
                     </li>
                     <li><a>Consultar</a>
                      <ul>
                         <li><a>Cursos</a>
                           <ul>
                              <li><%= link_to "Em Andamento", c_curso_and_path%></li>
                              <li><%= link_to "Encerrados", c_curso_enc_path%></li>
                              <li><%= link_to "Todos", c_curso_cursos_path%></li>
                            </ul>
                         </li>
                         <li><a>Inscrições</a>
                           <ul>
                              <%= link_to "Por Curso", por_curso_inscricaos_path %>
                              <%= link_to 'Por Participantes', consulta_participantes_path %>
                              <%= link_to 'Por Turno', busca_por_turno_participantes_path %>
                              <%= link_to 'Estatistica', estatistica_inscricaos_path %>
                            </ul>
                         </li>
                        <li> <%= link_to 'Participantes', listagem_participantes_inscricaos_path %></li>
                      </ul>
                      </li>
                  </ul>
                </li>
              <%end%>

              <li><span class="divider divider-vert" ></span></li>
              <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario itinerante') %>
                <li><a class="item-primary" href="#;">Itinerancia</a>
                  <ul style="width:108px;">
                    <li><a>Relatórios</a>
                      <ul>
                        <li><%= link_to "Cadastrar",new_relatorio_path %></li>
                        <% if current_user.has_role?('administrador') %>
                         <li><%= link_to 'Consultar', relatorios_path %></li>
                        <%end%>
                      </ul>
                    </li>
                    <li><a>Roteiro</a>
                      <ul>
                        <% if current_user.has_role?('administrador') %>
                          <li><%= link_to "Cadastrar",new_itinerario_path %></li>
                        <%end%>
                        <li><%= link_to "Consultar", itinerarios_path%></li>
                      </ul>
                    </li>
                    <li><a>Regiões</a>
                      <ul>
                        <% if current_user.has_role?('administrador') %>
                           <li><%= link_to "Cadastrar",new_regiao_path %></li>
                        <%end%>
                        <li><%= link_to "Consultar", regiaos_path%></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              <%end%>

              <li><span class="divider divider-vert" ></span></li>
               <% if current_user.has_role?('administrador') or current_user.has_role?('admin_manutencao') or current_user.has_role?('chefia_manutencao')or current_user.has_role?('fun_manutencao')or current_user.has_role?('diretor_unidade') %>
              <li><a class="item-primary" href="#;">Manutenção</a>
                 <ul style="width:108px;">
                   <li><a>Ordem Serviço</a>
                    <ul>
                      <li><%= link_to "Abrir",new_manutencao_path %></li>
                      <li><%= link_to "Consultas", busca_protocolo_manutencaos_path  %>
                         <% if  current_user.has_role?('chefia_manutencao') %>
                           <li><%= link_to "Em Aberto", consultas_manutencaos_path %></li>
                          <%else%>
                              <li><%= link_to "Em Aberto", manutencaos_path %></li>
                           <%end%>

                        <li><%= link_to "Encerrados", encerrados_manutencaos_path  %></li>
                         </li>
                      </ul>
                   </li>

                 </ul>
              </li>
           <%end%>

              <li><span class="divider divider-vert" ></span></li>
              <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') or current_user.has_role?('estagiario unidade')or current_user.has_role?('estagiario itinerante') %>

                   <li><a class="item-primary" href="#;">OS's</a>

                 <ul style="width:108px;">
                   <li><a>OS Interno</a>
                    <ul>
                      <li><%= link_to "Abrir",new_chamado_path %></li>
                      <li><%= link_to "Consultas", busca_protocolo_chamados_path  %>
                         <li><%= link_to "Em Aberto", chamados_path %></li>
                         <li><%= link_to "Encerrados", encerrados_path  %></li>
                         </li>
                      </ul>
                   </li>
                    <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') or current_user.has_role?('estagiario unidade')or current_user.has_role?('estagiario itinerante')%>
                     <li><a href=>OS Externo</a>
                       <ul>
                          <li><%= link_to "Abrir", new_c_externo_path %></li>
                         <li><%= link_to "Em Aberto", c_externos_path %></li>
                         <li><%= link_to "Encerrados", exencerra_path  %></li>
                      </ul>
                     </li>
                     <li><span class="divider divider-horiz" ></span></li>
                     <li><%= link_to "Datashow", emprestimos_path %></li>
                    <%end%>
                 </ul>
              </li>
              <%end%>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#">Unidades</a>
                 <ul style="width:108px;">
                       <% if current_user.has_role?('administrador')%>
                          <li><%= link_to "Cadastrar",new_unidade_path %></li>
                       <%end%>
                       <li><a>Consultar</a>
                           <ul>
                             <li><%= link_to('por Endereço', c_uni_end_path) %></li>
                             <li><%= link_to('por Nome', c_uni_uni_path) %></li>
                             <li><%= link_to('por Tipo', c_uni_tp_path) %></li>
                             <li><%= link_to('Todas', unidades_path)%></li>
                              <% if current_user.has_role?('administrador') %>
                                 <li><%= link_to "C/Estagiario", lista_path%></li>
                                 <li><%= link_to 'S/Estagiario', sem_estagiario_path %></li>
                             <%end%>
                           </ul>
                       </li>
                       <li><span class="divider divider-horiz" ></span></li>
                       <li><%= link_to "Mapa", geo_path%></li>
                 </ul>
              </li>
              <li class="clear">&nbsp;</li>
          </ul>
        </div>
      </div>
   </div>
  <div id="principal">

        <%= yield  %>

    </div>
</div>
</body>
</html>